@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url("/fonts/ubuntu300.woff2") format("woff2"); }
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("/fonts/ubuntu700.woff2") format("woff2"); }
html, body {
  width: 100%;
  height: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  color: #555;
  background: #fcfcfc;
  margin: 0px;
  font-size: 14px; }
  html a, html table, html button, html tbody, body a, body table, body button, body tbody {
    outline: none; }
  html .link, html a, body .link, body a {
    color: #6a6d91;
    cursor: pointer;
    text-decoration: none; }
  html .link:hover, html a:hover, body .link:hover, body a:hover {
    text-decoration: underline; }
  html table, body table {
    border-collapse: collapse; }
  html .aright, body .aright {
    text-align: right !important; }
  html .acenter, body .acenter {
    text-align: center; }
  html .invisible, body .invisible {
    visibility: hidden; }
  html .hide, body .hide {
    display: none; }

.panel {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0px;
  background-color: #fff; }

.iti-flag {
  background-image: url("images/flags.png"); }

.fa {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  color: #555; }

.link, .checkbox {
  cursor: pointer; }

input {
  position: relative;
  bottom: 2px;
  width: 206px;
  padding: 4px 6px;
  font-weight: normal;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0px;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none; }
  input.time_input_field {
    width: 40px;
    text-align: center; }
  input.minutes_input_field {
    width: 28px;
    text-align: center; }
  input.option_input_field {
    padding-left: 16px;
    width: 235px; }
  input.telephone_input_field {
    padding-left: 45px;
    width: 235px; }
  input::-webkit-input-placeholder {
    color: #ddd; }
  input:-moz-placeholder {
    color: #ddd; }
  input::-moz-placeholder {
    color: #ddd; }
  input:-ms-input-placeholder {
    color: #ddd; }

#top_bar {
  padding: 3px 20px 0px 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 100%;
  background: #555;
  font-size: 11px;
  color: #fff; }
  #top_bar a {
    color: #fff; }
  #top_bar #view_position .fa {
    opacity: .6;
    padding-right: 3px; }
  #top_bar #view_position span {
    cursor: pointer; }
  #top_bar #view_position .selected {
    font-weight: 800; }
  #top_bar #view_position .separator {
    padding: 0px 5px;
    opacity: .5; }
  #top_bar #view_position .id {
    color: #F3E5AB; }

.grid {
  padding-left: 1300px;
  height: 100%; }

.grid > aside {
  float: right;
  width: 100%;
  background-color: #ccc;
  text-align: right;
  height: 100%; }

.grid > section {
  float: left;
  width: 1300px;
  margin-left: -1300px;
  height: 100%; }

#app_leftmenu {
  margin-top: 22px;
  position: fixed;
  float: left;
  height: 100%;
  width: 200px;
  background: #656565;
  color: #ddd;
  font-size: 16px; }
  #app_leftmenu a {
    color: #ddd; }
  #app_leftmenu ul {
    font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-weight: 300;
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #app_leftmenu li {
    padding: 3px 5px 3px 20px;
    background-color: #555;
    cursor: pointer;
    border-top: 1px solid #777;
    color: #ddd; }
    #app_leftmenu li:last-of-type {
      border-bottom: 1px solid #777; }
    #app_leftmenu li .fa {
      margin-right: 6px;
      font-size: 95%;
      opacity: .20; }
    #app_leftmenu li:hover {
      background-color: #666;
      color: #fff; }
      #app_leftmenu li:hover:last-of-type {
        border-bottom: 1px solid #777; }
      #app_leftmenu li:hover .fa {
        opacity: 1; }
  #app_leftmenu li.section {
    display: none;
    padding-left: 50px;
    font-size: 80%; }
  #app_leftmenu li.selected, #app_leftmenu li.selected:hover {
    color: yellow; }
    #app_leftmenu li.selected .fa, #app_leftmenu li.selected:hover .fa {
      opacity: .75; }
  #app_leftmenu li.section.selected, #app_leftmenu li.section.selected:hover {
    color: yellow; }
  #app_leftmenu #top_info {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #777;
    padding: 0px;
    background-color: #656565;
    font-size: 11px;
    text-align: center; }
  #app_leftmenu #top_info div {
    height: 100%;
    float: left;
    text-align: center; }
  #app_leftmenu #hello_user {
    width: 166px;
    text-align: center; }
    #app_leftmenu #hello_user.link:hover {
      color: #FFF; }
  #app_leftmenu #aurora_logo {
    width: 32px;
    border-right: 1px solid #777;
    padding: 0px;
    vertical-align: middle; }
    #app_leftmenu #aurora_logo img {
      width: 22.4px;
      vertical-align: middle; }
  #app_leftmenu #hello_user {
    color: #bbb; }
  #app_leftmenu #account_name {
    line-height: 32px;
    height: 32px;
    font-size: 11.2px;
    color: #bbb;
    text-align: center;
    font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-weight: 300; }
    #app_leftmenu #account_name.link:hover {
      color: #FFF; }

#notifications {
  background-color: #fcfcfc;
  margin-top: 22px; }
  #notifications .message {
    position: fixed;
    padding: 20px; }

.square_button {
  height: 30px;
  width: 30px;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  color: #444;
  cursor: pointer; }

.square_button .disabled {
  opacity: .2; }

.square_button.disabled {
  opacity: .2; }

.square_button.disabled:hover {
  color: #444; }

.square_button:hover {
  color: #000;
  background: #FFF; }

.square_button.left {
  float: left;
  border-right: 1px solid #ccc; }

.square_button.right {
  float: right;
  border-left: 1px solid #ccc; }

.square_button.right.border {
  border-right: 1px solid #aaa; }

#app_main {
  margin-left: 200px;
  height: 100%;
  float: left;
  width: 1099px;
  border-right: 1px solid #ccc; }
  #app_main #navigation {
    margin-top: 22px;
    height: 58px; }
    #app_main #navigation #address_bar {
      font-size: 14px;
      background: #f7f7f7;
      color: #333;
      padding-left: 6px;
      padding-right: 0px;
      text-align: left;
      height: 28px;
      line-height: 28px;
      border-bottom: 1px solid #ccc; }
      #app_main #navigation #address_bar a {
        color: #333; }
      #app_main #navigation #address_bar #section_links {
        font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif; }
      #app_main #navigation #address_bar .section {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        cursor: pointer;
        background-color: #fefefe;
        color: #333;
        padding: 0px 30px; }
        #app_main #navigation #address_bar .section .fa {
          margin-right: 5px;
          color: #999; }
        #app_main #navigation #address_bar .section:hover, #app_main #navigation #address_bar .section.selected {
          background-color: #edf3f8;
          color: #000; }
        #app_main #navigation #address_bar .section:hover, #app_main #navigation #address_bar .section.selected > .fa {
          color: #666; }
      #app_main #navigation #address_bar .right {
        float: right;
        border-left: 1px solid #ccc; }
      #app_main #navigation #address_bar .left {
        float: left;
        border-right: 1px solid #ccc; }
      #app_main #navigation #address_bar .only_icons .section {
        padding: 0px 2px;
        width: 22px; }
      #app_main #navigation #address_bar .only_icons .section_label {
        display: none; }
    #app_main #navigation #header {
      text-align: left;
      padding: 0px;
      background: #fefefe;
      height: 30px;
      line-height: 30px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc; }
      #app_main #navigation #header .title {
        color: #555;
        float: left;
        padding-left: 10px;
        font-size: 21px;
        font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
        font-weight: 700; }
        #app_main #navigation #header .title .bullet {
          color: #000;
          position: relative;
          top: 1px;
          padding: 0px 5px; }
        #app_main #navigation #header .title .id {
          color: #000;
          font-weight: 800; }
        #app_main #navigation #header .title .new {
          background: yellow; }
        #app_main #navigation #header .title .subtitle {
          font-size: 80%; }
        #app_main #navigation #header .title img {
          vertical-align: -5%; }
      #app_main #navigation #header #search_form {
        float: right;
        border-left: 1px solid #aaa;
        margin-left: 4px; }
        #app_main #navigation #header #search_form #search {
          height: 20px;
          border: none;
          border-botom: 1px solid #ddd;
          padding-left: 5px;
          width: 280px; }
          #app_main #navigation #header #search_form #search::-webkit-input-placeholder {
            color: #aaa;
            font-style: italic; }
          #app_main #navigation #header #search_form #search:-moz-placeholder {
            color: #aaa;
            font-style: italic; }
          #app_main #navigation #header #search_form #search::-moz-placeholder {
            color: #aaa;
            font-style: italic; }
          #app_main #navigation #header #search_form #search:-ms-input-placeholder {
            color: #aaa;
            font-style: italic; }
        #app_main #navigation #header #search_form mark {
          color: #000;
          background: none; }
        #app_main #navigation #header #search_form #results_container {
          z-index: 100;
          position: absolute;
          width: 650px; }
          #app_main #navigation #header #search_form #results_container #results_container_shifted {
            position: relative;
            left: -327px;
            background: #FFF;
            width: 100%; }
            #app_main #navigation #header #search_form #results_container #results_container_shifted.show {
              border: 1px solid #ccc; }
            #app_main #navigation #header #search_form #results_container #results_container_shifted table {
              width: 100%; }
              #app_main #navigation #header #search_form #results_container #results_container_shifted table tr {
                cursor: pointer;
                border-bottom: 1px solid #eee; }
                #app_main #navigation #header #search_form #results_container #results_container_shifted table tr:last-of-type {
                  border-bottom: none; }
              #app_main #navigation #header #search_form #results_container #results_container_shifted table td.label {
                padding-left: 20px; }
              #app_main #navigation #header #search_form #results_container #results_container_shifted table tr:hover, #app_main #navigation #header #search_form #results_container #results_container_shifted table tr.selected {
                background: #edf3f8; }
        #app_main #navigation #header #search_form #clear_search {
          position: absolute;
          top: 5px;
          right: 40px;
          z-index: 1000;
          font-size: 15px;
          cursor: pointer;
          line-height: 20px;
          color: grey;
          text-decoration: none; }
  #app_main #tabs {
    margin-top: 2px; }
  #app_main #element_type {
    float: left;
    margin-left: 10px;
    color: #777;
    cursor: pointer;
    min-width: 50px;
    border: none; }
    #app_main #element_type i {
      margin-right: 5px; }
  #app_main .tabs, #app_main .subtabs {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 22px;
    line-height: 22px;
    clear: both;
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 13.2px;
    background-color: #fff; }
    #app_main .tabs .tab, #app_main .tabs .element, #app_main .subtabs .tab, #app_main .subtabs .element {
      height: 22px;
      float: left;
      padding: 0px 20px;
      border-right: 1px solid #ccc;
      cursor: pointer; }
      #app_main .tabs .tab.right, #app_main .tabs .element.right, #app_main .subtabs .tab.right, #app_main .subtabs .element.right {
        float: right;
        border-right: none;
        border-left: 1px solid #ccc; }
      #app_main .tabs .tab .fa, #app_main .tabs .element .fa, #app_main .subtabs .tab .fa, #app_main .subtabs .element .fa {
        font-size: 75%;
        color: #888;
        position: relative;
        top: -1px; }
    #app_main .tabs .tab:hover, #app_main .tabs .tab.selected, #app_main .subtabs .tab:hover, #app_main .subtabs .tab.selected {
      background-color: #edf3f8;
      color: #000; }
    #app_main .tabs .tab:hover, #app_main .tabs .tab.selected > .fa, #app_main .subtabs .tab:hover, #app_main .subtabs .tab.selected > .fa {
      color: #666; }
    #app_main .tabs .element .qty, #app_main .subtabs .element .qty {
      color: #aaa; }
    #app_main .tabs .element.selected, #app_main .subtabs .element.selected {
      color: #222; }
    #app_main .tabs .element.selected > .qty, #app_main .subtabs .element.selected > .qty {
      color: #111; }
    #app_main .tabs .element:hover, #app_main .tabs .element.selected > .fa, #app_main .subtabs .element:hover, #app_main .subtabs .element.selected > .fa {
      color: #000; }
    #app_main .tabs .element .fa, #app_main .subtabs .element .fa {
      font-size: 100%;
      position: relative;
      top: 1px;
      margin-right: 5px; }
  #app_main .subtabs .tab:first-of-type {
    margin-left: 60px;
    border-left: 1px solid #ccc; }

#elements_chooser {
  width: 200px;
  border-left: none; }
  #elements_chooser div {
    border-top: 1px solid #eee;
    padding: 4px 0px 4px 15px;
    cursor: pointer; }
    #elements_chooser div .fa {
      font-size: 70%;
      position: relative;
      top: -1px;
      margin-right: 2px;
      color: #999;
      transition: color .7s; }
    #elements_chooser div:last-of-type {
      border-bottom: none; }
    #elements_chooser div:hover > .fa {
      color: #333; }
    #elements_chooser div:hover > .fa, #elements_chooser div.selected > .fa {
      color: #222; }

.sticky_note {
  border: 1px solid #BAB84E;
  background: #EDEB82;
  float: left;
  width: 300px;
  padding: 0;
  margin-left: 20px; }

.sticky_note.pink {
  background: #ff7dbd;
  border: 1px solid #e52789; }

.sticky_note.green {
  background: #94db84;
  border: 1px solid #78bf41; }

#table_buttons div:last-of-type {
  border-right: 1px solid #ccc;
  margin-right: 2px; }

.table_info {
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  clear: both; }
  .table_info #show_filter, .table_info #filter_submit {
    border-right: 1px solid #ccc;
    margin-right: 4px; }
  .table_info #filter {
    float: right;
    width: 248px; }
  .table_info #filter_field {
    float: right;
    margin-right: 10px; }
  .table_info #prev_page.disabled, .table_info #first_page.disabled {
    border-left: 1px solid #000; }

.results_per_page.square_button {
  font-size: 11px; }

.results_per_page.square_button.selected {
  color: steelblue;
  font-weight: 800; }

.backgrid .totals td {
  color: #000;
  border-top: 1px solid #000; }

.backgrid th {
  text-align: left; }
  .backgrid th a {
    color: #444; }

.backgrid th, .backgrid td {
  vertical-align: top;
  white-space: normal; }

.backgrid th.align-right {
  text-align: right; }

.full_date {
  width: 250px;
  text-align: right; }

.contact_name {
  width: 150px;
  white-space: normal;
  white-space: nowrap; }

#object_showcase {
  clear: both;
  border-bottom: 1px solid #ccc;
  font-size: 15px; }
  #object_showcase .subject_profile {
    padding: 20px; }
  #object_showcase .pdf_link img {
    height: 10px;
    vertical-align: 0px; }
  #object_showcase #containers {
    padding: 20px 30px; }
  #object_showcase .data_container {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; }
    #object_showcase .data_container i {
      margin-right: 10px; }
    #object_showcase .data_container .data_field {
      text-align: left;
      min-width: 300px;
      margin-bottom: 4px; }
  #object_showcase .order #contact_data {
    width: 500px; }
  #object_showcase .order #dates {
    width: 310px; }
  #object_showcase .invoice #dates {
    width: 310px; }
  #object_showcase .invoice #totals {
    width: 310px; }
  #object_showcase #contact_data {
    float: left;
    padding: 20px 20px; }
  #object_showcase .block {
    float: right;
    border-left: 1px solid #ccc;
    height: 100%; }
  #object_showcase #dates .date_and_state {
    width: 100%;
    text-align: center; }
    #object_showcase #dates .date_and_state .date {
      padding: 3px;
      border-bottom: 1px solid #ccc; }
    #object_showcase #dates .date_and_state .state {
      font-size: 80%;
      border-bottom: 1px solid #ccc; }
      #object_showcase #dates .date_and_state .state td {
        padding: 3px 0px; }
    #object_showcase #dates .date_and_state .two-columns td:first-of-type {
      width: 50%;
      border-right: 1px solid #ccc; }
  #object_showcase #dates .ul_table {
    width: 100%;
    padding: 5px;
    margin-top: 10px; }
    #object_showcase #dates .ul_table .icon {
      width: 24px;
      text-align: right; }
    #object_showcase #dates .ul_table .state {
      text-align: right;
      padding-right: 10px;
      font-size: 80%; }
  #object_showcase #totals, #object_showcase .block {
    padding-top: 5px; }
    #object_showcase #totals table, #object_showcase .block table {
      width: 100%; }
    #object_showcase #totals td, #object_showcase .block td {
      padding: 4px 8px; }
    #object_showcase #totals .top-border, #object_showcase .block .top-border {
      border-top: 1px solid #ccc; }
    #object_showcase #totals .bottom-border, #object_showcase .block .bottom-border {
      border-bottom: 1px solid #ccc; }
    #object_showcase #totals .top-strong-border, #object_showcase .block .top-strong-border {
      border-top: 1px solid #aaa; }
    #object_showcase #totals .bottom-strong-border, #object_showcase .block .bottom-strong-border {
      border-bottom: 1px solid #aaa; }
  #object_showcase #account .block {
    min-width: 150px; }

.details_data, .new_object, .presention_card, .showcase {
  padding: 10px 20px; }
  .details_data table, .new_object table, .presention_card table, .showcase table {
    width: 100%; }
    .details_data table .formated_value, .new_object table .formated_value, .presention_card table .formated_value, .showcase table .formated_value {
      margin-right: 10px; }
    .details_data table td, .new_object table td, .presention_card table td, .showcase table td {
      vertical-align: text-top; }
    .details_data table tr, .new_object table tr, .presention_card table tr, .showcase table tr {
      border-bottom: 1px solid #ddd;
      height: 32px;
      line-height: 32px; }
    .details_data table tr.new, .new_object table tr.new, .presention_card table tr.new, .showcase table tr.new {
      cursor: pointer; }
      .details_data table tr.new:hover, .new_object table tr.new:hover, .presention_card table tr.new:hover, .showcase table tr.new:hover {
        color: #0EBFE9; }
    .details_data table .new_button, .new_object table .new_button, .presention_card table .new_button, .showcase table .new_button {
      position: relative;
      top: 1px;
      left: 5px; }
    .details_data table .title, .new_object table .title, .presention_card table .title, .showcase table .title {
      border-top: none; }
      .details_data table .title td, .new_object table .title td, .presention_card table .title td, .showcase table .title td {
        font-family: "Ubuntu", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
        font-weight: 600;
        padding-top: 10px; }
        .details_data table .title td .fa.link, .new_object table .title td .fa.link, .presention_card table .title td .fa.link, .showcase table .title td .fa.link {
          margin-left: 5px;
          position: relative;
          top: 2px; }
    .details_data table .label, .new_object table .label, .presention_card table .label, .showcase table .label {
      width: 280px;
      vertical-align: top; }
    .details_data table .show_buttons, .new_object table .show_buttons, .presention_card table .show_buttons, .showcase table .show_buttons {
      width: 20px;
      text-align: left; }
      .details_data table .show_buttons .fa.edit, .new_object table .show_buttons .fa.edit, .presention_card table .show_buttons .fa.edit, .showcase table .show_buttons .fa.edit {
        cursor: pointer;
        opacity: .2;
        transition: opacity .2s ease-in-out; }
        .details_data table .show_buttons .fa.edit:hover, .new_object table .show_buttons .fa.edit:hover, .presention_card table .show_buttons .fa.edit:hover, .showcase table .show_buttons .fa.edit:hover {
          opacity: 1; }
      .details_data table .show_buttons .fa.reset, .new_object table .show_buttons .fa.reset, .presention_card table .show_buttons .fa.reset, .showcase table .show_buttons .fa.reset {
        cursor: pointer;
        opacity: .9;
        transition: opacity .2s ease-in-out; }
        .details_data table .show_buttons .fa.reset:hover, .new_object table .show_buttons .fa.reset:hover, .presention_card table .show_buttons .fa.reset:hover, .showcase table .show_buttons .fa.reset:hover {
          opacity: 1; }
  .details_data textarea, .new_object textarea, .presention_card textarea, .showcase textarea {
    position: relative;
    padding: 4px 6px;
    width: 206px;
    height: 120px;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    outline: none;
    font-weight: normal;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0px; }
  .details_data .fa.save, .new_object .fa.save, .presention_card .fa.save, .showcase .fa.save {
    margin-left: 5px;
    opacity: .4; }
    .details_data .fa.save.radio_option, .new_object .fa.save.radio_option, .presention_card .fa.save.radio_option, .showcase .fa.save.radio_option {
      margin-left: 265px; }
  .details_data .changed .fa.save, .new_object .changed .fa.save, .presention_card .changed .fa.save, .showcase .changed .fa.save {
    opacity: .6;
    transition: opacity .2s ease-in-out; }
  .details_data .msg, .new_object .msg, .presention_card .msg, .showcase .msg {
    margin-left: 5px; }
  .details_data .valid.changed .fa.save, .new_object .valid.changed .fa.save, .presention_card .valid.changed .fa.save, .showcase .valid.changed .fa.save {
    opacity: 1;
    cursor: pointer; }
  .details_data .datepicker, .new_object .datepicker, .presention_card .datepicker, .showcase .datepicker {
    margin-bottom: 5px;
    margin-top: 0px; }
    .details_data .datepicker .ui-datepicker thead tr, .new_object .datepicker .ui-datepicker thead tr, .presention_card .datepicker .ui-datepicker thead tr, .showcase .datepicker .ui-datepicker thead tr {
      height: 20px;
      line-height: 20px; }
  .details_data .dropcontainer, .new_object .dropcontainer, .presention_card .dropcontainer, .showcase .dropcontainer {
    margin-bottom: 5px;
    color: #777;
    width: 259px;
    margin-top: -3px; }
    .details_data .dropcontainer .checkbox, .new_object .dropcontainer .checkbox, .presention_card .dropcontainer .checkbox, .showcase .dropcontainer .checkbox {
      margin-right: 4px; }
    .details_data .dropcontainer ul, .new_object .dropcontainer ul, .presention_card .dropcontainer ul, .showcase .dropcontainer ul {
      border: 1px solid #ccc;
      border-top: none;
      background: #fff;
      list-style-type: none;
      padding: 5px 10px 5px 10px;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .details_data .dropcontainer ul li, .new_object .dropcontainer ul li, .presention_card .dropcontainer ul li, .showcase .dropcontainer ul li {
        height: 28px;
        line-height: 28px;
        padding: 0px 5px;
        cursor: pointer; }
        .details_data .dropcontainer ul li:hover, .new_object .dropcontainer ul li:hover, .presention_card .dropcontainer ul li:hover, .showcase .dropcontainer ul li:hover {
          background: #f5f5f5;
          outline: none; }
        .details_data .dropcontainer ul li.selected, .new_object .dropcontainer ul li.selected, .presention_card .dropcontainer ul li.selected, .showcase .dropcontainer ul li.selected {
          background: #e3e2e2;
          outline: none;
          cursor: normal; }
        .details_data .dropcontainer ul li .current_mark, .new_object .dropcontainer ul li .current_mark, .presention_card .dropcontainer ul li .current_mark, .showcase .dropcontainer ul li .current_mark {
          font-size: 50%;
          position: relative;
          bottom: 2px;
          margin-right: 5px;
          visibility: hidden;
          opacity: .5; }
        .details_data .dropcontainer ul li .current_mark.current, .new_object .dropcontainer ul li .current_mark.current, .presention_card .dropcontainer ul li .current_mark.current, .showcase .dropcontainer ul li .current_mark.current {
          visibility: visible; }
    .details_data .dropcontainer.radio_option, .new_object .dropcontainer.radio_option, .presention_card .dropcontainer.radio_option, .showcase .dropcontainer.radio_option {
      margin-top: -30px; }
      .details_data .dropcontainer.radio_option ul, .new_object .dropcontainer.radio_option ul, .presention_card .dropcontainer.radio_option ul, .showcase .dropcontainer.radio_option ul {
        border-top: 1px solid #ccc; }

.details_data .intl-tel-input .flag-container {
  display: none; }

.result {
  margin-top: 20px; }
  .result .results {
    margin-left: 20px;
    opacity: .9; }
    .result .results:first-of-type {
      margin-left: 0px; }
    .result .results:hover {
      opacity: 1;
      color: #0EBFE9;
      transition: color .2s ease-in-out; }

.inline_new_object {
  float: right;
  margin: 0px 20px 0px 10px; }
  .inline_new_object .valid .save {
    opacity: 1;
    cursor: pointer; }
  .inline_new_object .invalid {
    cursor: normal; }

#inline_new_object_msg {
  float: right;
  margin-right: 10px; }

.new_object .controls td {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer; }
.new_object .controls .fa {
  margin-left: 5px; }
.new_object .save {
  opacity: .4; }
  .new_object .save.invalid {
    opacity: 1;
    color: tomato; }
  .new_object .save.valid {
    opacity: 1; }
    .new_object .save.valid:hover {
      color: #0EBFE9; }
.new_object .field_state {
  opacity: 0; }
  .new_object .field_state.required {
    opacity: .2; }
  .new_object .field_state.required.valid {
    color: #26A65B;
    opacity: .7; }
  .new_object .field_state.invalid {
    opacity: 1;
    color: tomato; }

.tree {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  /*We will use ::before and ::after to draw the connectors*/
  	/*We need to remove left-right connectors from elements without 
  any siblings*/
  /*Remove space from the top of single children*/
  	/*Remove left connector from first child and 
  right connector from last child*/
  /*Adding back the vertical connector to the last nodes*/
  /*Time to add downward connectors from parents*/
  /*Time for some hover effects*/
  /*We will apply the hover effect the the lineage of the element also*/
  /*Connector styles on hover*/ }
  .tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
  .tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
  .tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px; }
  .tree li:after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc; }
  .tree li:only-child::after, .tree li:only-child::before {
    display: none; }
  .tree li:only-child {
    padding-top: 0; }
  .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none; }
  .tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0; }
  .tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0; }
  .tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
    margin-left: -1px; }
  .tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
  .tree li a:hover, .tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4; }
  .tree li a:hover + ul li::after, .tree li a:hover + ul li::before, .tree li a:hover + ul::before, .tree li a:hover + ul ul::before {
    border-color: #94a0b4; }
  .tree li a.just-line {
    display: none; }
  .tree a.just-line + ul {
    padding-top: 74px; }
  .tree a.just-line + ul:before {
    height: 74px; }

.success {
  color: #26A65B; }

.valid {
  color: #0EBFE9; }

.valid.save {
  color: #0EBFE9;
  cursor: pointer; }

.warning {
  color: #ED9121; }

.error, .invalid {
  color: tomato; }

.disabled {
  opacity: .5;
  color: #777; }

#table .padding_left_10 {
  padding-left: 10px; }
#table .padding_left_20 {
  padding-left: 20px; }
#table .padding_left_30 {
  padding-left: 30px; }
#table .padding_right_10 {
  padding-right: 10px; }
#table .padding_right_20 {
  padding-right: 20px; }
#table .padding_right_30 {
  padding-right: 30px; }
#table .width_20 {
  width: 20px; }
#table .width_50 {
  width: 50px; }
#table .width_100 {
  width: 100px; }
#table .width_150 {
  width: 150px; }
#table .width_200 {
  width: 200px; }
#table .width_250 {
  width: 250px; }
#table .width_300 {
  width: 300px; }
#table .width_350 {
  width: 350px; }
#table .width_400 {
  width: 400px; }
#table .icon_container i {
  display: inline; }

.unchecked {
  background: #ddd;
  cursor: pointer; }

.checked {
  background: #71BC78;
  color: #FFF;
  cursor: pointer; }

.datepicker {
  font-size: 109%; }
  .datepicker td {
    height: 16px;
    line-height: 16px; }
  .datepicker .ui-widget {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
  .datepicker .ui-datepicker {
    padding: 0; }
  .datepicker .ui-datepicker-header {
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background: transparent;
    font-weight: normal;
    font-size: 15px; }
  .datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
  .datepicker .ui-datepicker .ui-datepicker-title {
    color: #777; }
  .datepicker .ui-datepicker .ui-datepicker-prev-hover, .datepicker .ui-datepicker .ui-datepicker-next-hover, .datepicker .ui-datepicker .ui-datepicker-next, .datepicker .ui-datepicker .ui-datepicker-prev {
    top: 8px;
    border: none; }
  .datepicker .ui-datepicker .ui-datepicker-prev-hover {
    left: 2px; }
  .datepicker .ui-datepicker .ui-datepicker-next-hover {
    right: 2px; }
  .datepicker .ui-datepicker .ui-datepicker-next span, .datepicker .ui-datepicker .ui-datepicker-prev span {
    background-image: url(images/ui-icons_777777_256x240.png);
    background-position: -32px 0;
    margin-top: 0;
    top: 0;
    font-weight: normal; }
  .datepicker .ui-datepicker .ui-datepicker-prev span {
    background-position: -96px 0; }
  .datepicker .ui-datepicker table {
    margin: 0; }
  .datepicker .ui-datepicker th {
    padding: 0px 0;
    color: #eee;
    background: #777;
    font-size: 90%;
    font-weight: normal;
    border: none;
    height: 20px;
    line-height: 20px; }
  .datepicker .ui-datepicker td {
    background: #fff;
    border: 1px solid #eee;
    padding: 0; }
  .datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    padding: .5em;
    margin: 0;
    font-weight: normal;
    color: #777; }
  .datepicker .ui-state-disabled {
    opacity: 1; }
  .datepicker .ui-state-disabled .ui-state-default {
    color: #fba49e; }
  .datepicker td .ui-state-active, .datepicker td .ui-state-hover {
    background: yellow;
    color: #333; }
  .datepicker td.ui-datepicker-other-month {
    background: #eee;
    color: #777; }
  .datepicker .dp-highlight .ui-state-default {
    background: #484;
    color: #FFF; }

.working_hours {
  padding: 0px;
  position: relative;
  top: -10px;
  margin-top: 5px; }
  .working_hours td.expand_days {
    width: 30px; }
    .working_hours td.expand_days .fa {
      cursor: pointer;
      opacity: .3; }
      .working_hours td.expand_days .fa:hover {
        opacity: 1; }
  .working_hours td.day_labels {
    min-width: 80px; }
  .working_hours .breaks {
    border: none; }

.salary td.label {
  width: 160px; }
.salary td.header_field {
  width: 300px; }
.salary input.day_of_the_month {
  width: 30px;
  text-align: center; }
.salary input.amount {
  width: 80px; }
.salary .inline_options span {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  opacity: .4; }
.salary .inline_options span.selected {
  opacity: 1;
  background-color: #fff; }
.salary .inline_options.medium span {
  min-width: 120px; }
.salary .inline_options.small span {
  min-width: 60px; }
.salary table tr {
  border: none; }
  .salary table tr .fa-expand, .salary table tr .fa-compress {
    cursor: pointer;
    padding-right: 5px;
    padding-left: 2px;
    opacity: .3; }
    .salary table tr .fa-expand:hover, .salary table tr .fa-compress:hover {
      opacity: 1; }
  .salary table tr .compress {
    width: 28px; }
  .salary table tr td.small_label {
    width: 80px; }

.date_chooser {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid #ccc;
  height: 22px;
  line-height: 22px;
  font-size: 90%; }
  .date_chooser div {
    float: left;
    padding: 0px 5px;
    border-left: 1px solid #ccc;
    cursor: pointer; }
  .date_chooser div:hover, .date_chooser div.selected {
    background-color: #edf3f8;
    color: #000; }
  .date_chooser .interval {
    width: 15.4%; }
  .date_chooser .day {
    width: 9%; }
  .date_chooser .fixed_interval {
    width: 4.25%;
    text-align: center; }

#select_date_control_panel, #select_interval_control_panel {
  padding: 10px;
  border-bottom: 1px solid #ccc; }
  #select_date_control_panel .date_chooser_form, #select_interval_control_panel .date_chooser_form {
    float: left;
    padding: 10px 20px; }
    #select_date_control_panel .date_chooser_form .label, #select_interval_control_panel .date_chooser_form .label {
      padding-bottom: 10px; }
  #select_date_control_panel .until, #select_interval_control_panel .until {
    margin-top: 15px; }

/*# sourceMappingURL=app.css.map */
