body{color:#333;margin:0px;padding:0px;font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;}
td {text-align:left}



.hide{visibility:hidden}


th,td {padding:.2em;}
th {font-weight:bold;text-align:center;}
p,fieldset,table,pre {margin-bottom:1em;}
input.time_input,input.date_input,input.text,input.password,input.file ,textarea{border:1px solid #777}

h1,h2,h3,h4{padding:5px 0px}
h1 {font-size:140%}
h1 a.next,h1 a.prev{position:relative;bottom:0.5em}
h2 {font-size:125%;margin-bottom:0px}

a,table,button,tbody{outline: none;}
a {text-decoration:none;color:#222}
a:hover {text-decoration:underline;color:#000} 

span.aslink{cursor:pointer}
span.aslink:hover{text-decoration:underline;} 


.yui-dt-hidden{ display:none }
.yui-dt-hidden div { display:none }
.aright  {text-align:right;}
.aright .yui-dt-liner{ text-align:right; }
.aleft,td.aleft {text-align:left}
.aleft .yui-dt-liner{text-align:left}
span.nav2 {float:left;background:#6d84b4;padding:0 10px;position:relative;bottom:6px;color:#fff;font-size:85%;margin:0 2px}
span.nav2 a {color:#fff}
span.nav2 a.selected {color:yellow;font-weight:400}
span.nav2 span {color:#fff;cursor:pointer}
span.nav2 span.selected {color:yellow;font-weight:400;border:none;background:none}


span.onright {float:right}


#hd .top_navigation{background:#444;color:#FFF;border-bottom:1px solid #393939}
#hd .top_navigation a{color:#FFF}
#hd .menu{padding:6px 10px 5px 5px;}
#hd {border-bottom:2px solid #444}
#hd span{margin:0 0px}

#hd #inikoo_client_name{float:left;font-size:77%;margin-left:16px;}
#hd #top_navigation_right_block{float:right;font-size:77%;margin:0px 0px 2px 0;padding:0px}
#hd #top_navigation_preferences{margin-right:20px;height:12px;margin-left:20px}


#link_dashboard{float:left;margin-left:10px;;margin-top:8px;;height:20px;width:25px;;background-image:url('../art/icons/dashboard_light.png');cursor:pointer}

.yuimenu{background:white;border:1px solid #999;padding:5px 10px}
#yui-main{clear:both}


#bd{background:#fff;border:1px solid #aaa;border-bottom:0px;min-height:490px;padding:0 20px 40px 20px;height:auto !important;height:490px;}
#bd.no_padding{padding:0px 0px 20px 0px}


#footer{ font-size:70%;text-align:center;margin-top:0px;color:#777;margin-bottom:100px;background-color:rgba(0,0,0,0.66);; opacity:.65;padding:3px 20px 3px 20px;border-bottom-right-radius:7px;border-bottom-left-radius:4px}
#footer a{color:#fff}
#footer .links{float:left}
#footer .adv{float:right}
#footer .adv img {position:relative;bottom:0px;right:2px}

.bd labelc { display:block;float:left;width:30%;clear:left; }

.clear{ clear:both; margin:10px 0 }







.xxxresp{border:1px solid #3b5998;width:50%;margin:10px auto;padding:10px;}
.xxxadduser{padding-left:45px!important;background:  url("art/icons/user_add.png") no-repeat;background-position:7.5px 10px  }



 td.stock{font-size:153.9%;font-weight:bold}
td.price{font-size:110%;font-weight:bold}


#langmenu{text-align:left;position:absolute;left:0px;top:0 }

table.show_info_product {border-top:1px solid SteelBlue;border-bottom:1px solid SteelBlue;width:100%}
xtable.show_info_product td {border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.prodinfo{font-size:120%}
table.show_info_product td.number div{width:5em;text-align:right}


.prod_info table.notes{clear:both;border:none;}



.newcontact{border:1px solid #3b5998;padding:10px}
.newcontact table, .newcontact div {border:none;float:left;margin-right:10px}
.newcontact table td {padding:0 5px;vertical-align:top}
.newcontact table td.noborder {border:none}
.newcontact div {padding:10px}
.newcontact .img{padding:5px 5px 7px 5px}
.newcontact h2{padding:0}
.newcontact legend{background:#3b5998;color:#fff;margin-left:5px;padding:0px 10px 2px 10px;font-size:85%}


.noshow{display:none}
.show{display:block}


.resetfield {position:relative;right:22px;bottom:2px;cursor:pointer}
.calpop {position:relative;right:18px;}
img.calpop {position:relative;bottom:2px;cursor:pointer  }
img.calpop_to {position:relative;bottom:2px;cursor:pointer;right:36px;  }



.alarm_warning{background:yellow}
.alarm_error{background:red}

.nodisplay {display:none}
.display {display:block}
.product_plot{width: 800px;height: 350px;}
.xprodinfo .product_details{clear:both;border:none}
.product_plots{clear:both;border:none}

table.other_images{margin:5px auto ;border:none}
table.other_images td{padding:0;width:30px;height:26px;border:1px solid #aaa;vertical-align: middle;text-align:center}

table.editborder td{border:1px solid #b52b34;}


table.other_images img{border:none;padding:0;margin:0;cursor:pointer}
.xprodinfo div.image_caption{padding:0px ;border:none;margin:5px auto;width:100%}

.xprodinfo td.img_arrow{border:none;width:20px;padding:0;margin:0}

#image{border:none}

.time_picker_div{border:none;}

.date_input{cursor:pointer;background:#fff url('../art/icons/calendar_view_month.png') bottom right no-repeat ;padding-right:16px;width:6em}
.time_input{cursor:pointer;background:#fff url('../art/icons/time.png') bottom right no-repeat ;padding-right:16px}

input .normal_left{color:#000;text-align:left}
input.normal_right{color:#000;text-align:right}



.labels{color:#ccc;text-align:center}


.warning{background:#fbf78d}
.ok{background:#a6edaa}
.text_ok{color:#4aa42b}

img{vertical-align:bottom}

.chooser {width:670px;margin:0px auto}
.chooser ul {;margin:0px auto;}
.chooser{padding:0px 0px 0 0px;}
.chooser li {float:left;padding:3px 5px 5px 5px ;margin: 0 5px 10px 0;border: 1px solid #ccc;cursor:pointer;;opacity: .5;filter: alpha(opacity=40);}
.chooser li:hover {opacity: .8;filter: alpha(opacity=80);}
.chooser img {position:relative;top:2px;}
.chooser li.selected {cursor:default;border-color:#aaa;;opacity: 1;filter: alpha(opacity=100);font-weight:800;color:#555}
.chooser li.show {default;border-color:#aaa;opacity: 1;filter: alpha(opacity=100);font-weight:200;color:#666}
.chooser li.show:hover {default;border-color:#777;;opacity: 1;filter: alpha(opacity=100);font-weight:200;color:#333}



.chooser2 {width:670px;border:0px solid black;margin:0px}
.chooser2 ul {;margin:0px auto;}
.chooser2{padding:0px 0px 0 0px;}
.chooser2 li {float:left;padding:3px 5px 5px 5px ;margin: 0 5px 10px 0;border: 1px solid #ccc;cursor:pointer;;opacity: .5;filter: alpha(opacity=40);}
.chooser2 li:hover {opacity: .8;filter: alpha(opacity=80);}
.chooser2 img {position:relative;top:2px;}
.chooser2 li.selected {cursor:default;border-color:#aaa;;opacity: 1;filter: alpha(opacity=100);font-weight:800;color:#555}




.report_header {padding:5px 0px 0 00px;clear:both;margin-top:0px;}
.report_header li {float:left;padding: 5px;margin: 0 5px 0px 0;cursor:pointer}
.report_header a { text-decoration:none }

#editor_chosser {padding:15px 20px 0 20px;}
#editor_chosser li {float:left;padding: 5px;margin: 0 5px 0px 0;border: 1px solid #ccc;cursor:pointer}
#editor_chosser img{position:relative;top:2px}




.table_manager {float:right;font-size:85%;margin-right:10px;}
.table_manager div {float:right;height:112px;margin-top:14px;}
.table_manager div.centre_block {height:10px;border-top:1px solid  SteelBlue;background:Lavender;}
.table_manager div.left_block,div.right_block{width:10px;height:15px;} 
.table_manager div.left_block{background-image:url('../art/corner_top_table_left.png')} 
.table_manager div.right_block{background-image:url('../art/corner_top_table_right.png')} 
.table_manager div.centre_block input{border:1px solid #777;margin-top:1px}
.table_manager div.hide{margin:0;position:relative;left:0px;top:3px;cursor:pointer}
.table_manager input{border:1px solid #777;position:relative;bottom:4px}
.table_manager div.centre_block img.resetfield{position:relative;bottom:5px;left:-24px}
.table_manager div.centre_block div {position:relative;bottom:10px}
.table_manager div.centre_block img {position:relative;bottom:2px}
.yui-pg-rpp-options{border:1px solid black}



.view_options td {cursor:pointer}

.report_sales1 td {text-align:right;padding:0 15px;}
.compact td{ padding:0 12.5px; }
.xreport_sales1 tr td{border-top:1px solid #ddd}

.report_sales1 tr.org {background:b2bef8;border-top:1px solid RoyalBlue;border-bottom:1px solid RoyalBlue}
.report_sales1 tr.outside {}
.report_sales1 tr.geo,.report_sales1 tr.first  {border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.report_sales1 tr.title td{border-top:none;border-bottom:1px solid #bbb;;font-weight:400}

.report_sales1 tr.first {border-top:1px solid #999;}
.report_sales1 tr.partners {border-top:1px solid #999}
.report_sales1 tr.total,.report_sales1 tr.subtotal {border-top:1px solid #999}
.report_sales1 tr.total {vertical-align:top;font-weight:800}
.report_sales1 tr.last {vertical-align:top;}

.report_sales1 tr.last td {border-bottom:1px solid #999}
.report_sales1 tr.space td{border:1px solid #fff}

.report_sales1 tr td.space {border:1px solid #fff}
.report_sales1 td.compare ,.report_sales1 tr.last  td.compare{font-size:80%;border:2px solid #fff;margin:0px 2px}
.report_sales1 td.compare_title {text-align:center;color:#777;font-size:70%}


.bracket td{padding:0;border:0px}

.report_sales1 tr.bracket_label td{padding:0;border-top: 0px solid red;;text-align:center;color:#777;font-size:90%;padding-top:5px;font-weight:800}

}



.report_export_countries {float:right}
.report_export_countries td {text-align:right;padding:0 12px;}
.report_export_countries td.country {text-align:left;padding:0 12px 0 5 ;}
.report_export_countries tr{border-top:1px solid #ddd}

.report_export_countries tr.tlabels {border-bottom:1px solid #999;border-top:none}

table.plot_menu  {float:right}
table.plot_menu tr.top{border-bottom:1px solid #ddd}
table.plot_menu td.left{border-right:1px solid #ddd}
table.plot_menu img.opaque {cursor:pointer;opacity: .25;filter: alpha(opacity=25);}
table.plot_menu img.opaque:hover {opacity: .8;filter: alpha(opacity=80);}
table.plot_menu img.selected:hover {opacity: 1.0;filter: alpha(opacity=100);}
table.plot_menu img.selected {opacity: 1.0;filter: alpha(opacity=100);}


.opaque00 {
	opacity: 1;
	filter: alpha(opacity=100);
}

.opaque50 {
	opacity: .5;
	filter: alpha(opacity=50);
}
.opaque80 {
	opacity: .2;
	filter: alpha(opacity=20);
}

input {border: 1px solid #777;xposition:relative}
.changed{color:red}
.error{color:red}
.error a{color:red;font-weight:800}
table.sbut {margin:5px;border-spacing:10px  10px;border-collapse: separate;width:100%}
table.but{margin:5px 0 ;width:140px;border:none;clear:right;float:right;border-collapse: separate;;border-spacing:3px  3px;}
table.but_edit{clear:both;float:right}







table.options{margin:0 ;float:right;border-collapse: separate;;border-spacing:3px  3px;font-size:100%;xfont-weight:600;}


.options td,.options span{font-size:85%;border:1px solid #aaa;color:#aaa;text-align:center;padding:0px 7px 0px 7px;cursor:pointer;}

.options td:hover,  .options span:hover{border:1px solid #777;color:#777}

.options td.selected,.options span.selected{background:#7296e1;border:1px solid #466ab5;color:#f6f6f6;text-decoration:none}
.options td.disabled{background:#fff;border:1px solid #eee;color:#ddd;cursor:default}
.options tr.title{}
.options tr.title td{background:#fff;border:none;cursor:default;color:#555;text-align:left}
.options tr.title td:hover{color:#555}







table.options_mini{margin:0 ;float:right;border-collapse: separate;;border-spacing:3px  3px;font-size:80%;font-weight:400;}


.options_mini td{border:1px solid #aaa;color:#888;text-align:center;padding:1px 2px 2px 2px;cursor:pointer}
.options_mini td:hover{border:1px solid #777;color:#777}
.options_mini td.selected{background:#7296e1;border:1px solid #466ab5;color:#f6f6f6}
.options_mini td.disabled{background:#fff;border:1px solid #eee;color:#ddd;cursor:default}




.show_options{color:#aaa;padding:0 5px 0 0;position:relative;bottom:0px;font-weight:800}
.show_options span{background:#33518d;margin-right:7px;cursor:pointer;border:1px solid #758fc4;padding:0px 3px;font-weight:800}
.show_options span:hover {color:#fff;}

.xshow_options span.selected {color:#f4e846;}
.show_options span.selected:hover {color:#ebe69f;}




.plot_options{width:130px;float:right;text-align:right  }
.plot_options h3{text-align:left;font-weight:bold;margin-top:10px  }
.plot_options .other_options {clear:both;text-align:right;font-size:80%}
.plot_options .other_options table {float:right}
.plot_options .other_options table tr.title{border-bottom:1px solid #ccc;height:25px;vertical-align:bottom}
.plot_options .other_options table td{text-align:right;vertical-align:bottom}
.plot_options input {vertical-align:bottom}
.caca{ background:green;margin:0;margin:0 0  0 20px }

div.skinnedSelect {
background:red;
width:150px;
display:inline

}
div.skinnedSelect select {
opacity: .5;
filter: alpha(opacity = 0);
moz-opacity: 0;
width: 70px;
margin-left: -70px;
}
div.skinnedSelect .text {

}

div.skinnedSelect .text,
div.skinnedSelect select option
{
font-size: 11px;
color: #316D89;
}

.id ,.id a,a.id:hover{color:SteelBlue}


/*Products pages*/


.top_bar{=padding:0 20px  }
.top_bar h1{padding:0 0px 10px 20px;font-size:150%}
.top_bar .nodetails{border:1px solid #ddd}
.top_bar .details{clear:both;padding:10px 20px ;border:1px solid #ddd;margin:auto;}

/*Common search div*/

.right_boxs{xclear:right;sfloat:right;border: 0px solid #ddd;text-align:right;padding:0;margin-top:3px}
.right_boxs form{ margin-bottom:5px }

.right_boxs div{clear:right;float:right}

div.general_options{padding:0 0 5px 0;color:#777}
div.general_options span{float:right;margin-left:15px;font-size:85%; font-weight:200;cursor:pointer;}
div.general_options span:hover{text-decoration:underline;color:#333}
div.general_options  .edit{color:#F05F26}
div.general_options  .edit:hover{color:#DB511A}
div.general_options  .return{color:#4986D6}
div.general_options  .return:hover{color:#3A78C9}
.no_top_nav{position:relative;bottom:10px}



table.search {clear:both;float:right;margin-bottom:5px}
table.search td.label{width:100px;text-align:right;}
table.search td.form{width:325px}
table.search  search.input{  height:16px;color:#555;font-style: italic;padding-left:2px;width:300px}
table.search  .submitsearch {cursor:pointer;z-index:2;right:2px;position:relative;left:305px}






/*EDIT SECTION*/
.but {cursor:pointer }


/*Locations on product.tpl*/
table.locations {  margin:0;padding:0 }
table.locations td {margin:0;padding:0 2px;text-align:right ;vertical-align:top;border:0px solid black}
table.locations img {height:12px;}

/*Edit Locations/Stock on product.tpl*/
.manage_stock {padding:0 0px }
.manage_stock table{margin:0;padding:0  }
table.edit_location{ margin-top:20px }
.manage_stock .actions{  border-collapse: separate;;border-spacing:5px  0px;}
.manage_stock tr.buts td{ border:1px solid #ccc;padding:2px 2px;margin:0px 5px;border-spacing:0px 10px  }
table.edit_location tr{border-bottom:1px solid #ccc;}
table.edit_location td{padding:1px 15px 1px 15px;text-align:left }
table.edit_location td.selected{ background:#edf3ff;cursor:pointer }
table.edit_location tr.totals td {border-top:1px solid #000;border-bottom:none }
table.edit_location tr.totals {border-bottom:none }
.location_state { width:100% }

#manage_stock_desktop { margin:20px 0 0 0;padding:10px 20px;border:1px solid #ccc ;clear:both;}
#manage_stock_messages {margin: 0 0 0px 0 }
#manage_stock_engine {10px 0 0 0 }





.inputs_yellow input  { background:#fff889 }
.inputs_white input  { background:#ffffff }


table.submit_order{ float:right;text-align:right ;border-spacing:0px  3px;border-collapse: separate;}
table.submit_order td.but{ background:#238546;color:#fff;cursor:pointer;padding:2px 3px;text-align:center }



span.small{font-size:80%}




.inbox ,.inbox_form{padding:0;margin:0 auto;}
.inbox tr {border-left:1px solid #777;border-right:1px solid #777; }
.inbox tr.bottom {border-bottom:1px solid #777;height:40px;}
.inbox tr.bottom  td { vertical-align:top; }
.inbox tr.tabs { border:none ;border-bottom:1px solid #777;height:30px;vertical-align:bottom}
.inbox tr.tabs td { vertical-align:bottom;padding:0 10px;margin:0 }

 span.tab     { border:1px solid #aaa;border-bottom:1px solid #777;color:#aaa ;vertical-align: bottom;;padding:4px 4px 0 4px;margin:0;cursor:pointer;position}
span.tab.selected{ text-decoration:none;border:1px solid #777;color:#000;border-bottom:1px solid white}


#d_config table.tipo {height:8em;font-size:100%;font-weight:600;}
#d_config table.tipo{ ;border-collapse: separate;;border-spacing:10px 0px}
#d_config table.tipo div{padding:10px;margin:10px;border:1px solid #ddd;width:20em;height:4em}
#d_config table.options{ ;border-collapse: separate;;border-spacing:0px .25em;width:12em}

#d_config table.tipo td.selected {background:#daf8bb;cursor:pointer;color:#555; width:100px;border: 1px solid #ccc;text-align:center;vertical-align:middle }


.like_a{cursor:pointer;}
.like_a:hover{text-decoration:underline}

.prod_sdesc{ font-weight:800;}

.rtext_rpp{cursor:pointer}

.no_valid{color:#999}

.addressform { font-size:9pt}
  .addressform .field { font-size:9pt}
  .addressform .label { font-size:9pt; text-align:right}
  .autocomplete {border-bottom:solid 1px #aaaaaa; border-left:solid 1px #aaaaaa; border-right:solid 1px #aaaaaa; background-color:#fafafa}
  .autocomplete A {text-decoration:none; color:#000000}
  .autocomplete .item {padding:5px; border-bottom:solid 1px #aaaaaa; background-color:#fafafa}
  .autocomplete .itemhover {padding:5px; border-bottom:solid 1px #aaaaaa; background-color:#f0f0f0}
  .autocomplete .itemlast {border-top:solid 1px #aaaaaa; background-color:#ffffff}



span.link{cursor:pointer}


.filter_name{cursor:pointer}
.mix_currency{color:#777;font-style: italic;}

.match{font-weight:800}

div.contact_card {text-align:right;border:1px solid #ccc;padding:10px 10px 15px 10px;width: 250px;}
div.contact_card div.tels{margin-top:3px;font-size:80%;color:#3b5998}
div.contact_card div.address{margin-top:5px;font-size:70%}

td.margin_note{widht:20px;font-family:times;font-size:80%;padding-right:20px;padding-top:5px}





ul.tabs{margin-left:20px;margin-top:10px}

.tabs span.item
{
color: #777;
background: #fff ;
text-decoration: none;
padding-left: 10px;
border:1px solid #ddd;
border-bottom:1px solid #999;
border-bottom:none;
cursor:pointer
}
.tabs span.option
{
border-bottom:1px solid #ddd;

}



.tabs span.selected
{
 color: #000;
 border:1px solid #999;
 border-bottom:1px solid #fff;
 position:relative;
top:0px;
}

.tabs span.item span
{
 
 padding-right: 10px;
}

.tabs span.item, .tabs span.item span
{
display: block;
float: left
}

/* Hide from IE5-Mac \*/
.tabs span.item, .tabs span.item span
{
float: none
}
/* End hide */

.tabs span.item:hover
{
color: #000;
background: #fff ;
padding-left: 10px;
 border-top:1px solid #ccc;
 border-left:1px solid #ccc;
 border-right:1px solid #ccc;

}

.tabs span.item:hover span
{

padding-right: 10px
}

.tabs ul
{
list-style: none;
padding: 0;
margin: 0
}

.tabs li
{
float: left;
margin: 0;
margin-right:5px;
position:relative;
top:1px;
} 

.tabs_base{clear:both;width:100%;border-bottom:1px solid #999}

.messages_block{padding:10px}

.branch {clear:left;font-style:italic; color:#666;font-size:90%;width:540px;padding-top:5px}
.branch span{cursor:pointer}
.branch span.selected{font-weight:800;color:#555}


.product_info_sales_options{cursor:pointer}

.block_list{width:800px}
.block_list h2{border-bottom:1px solid #ddd;padding:10px 0 0 0}

.block_list div{font-size:90%;cursor:pointer;text-align:center;margin-right:20px;padding:10px 10px 5px 10px;margin-bottom:10px;width:120px;height:90px;float:left;border:0px solid #ddd}
.block_list img{width:120px;margin-top:4px}

.plot {width:930px;}
.plot_iframe {position:relative;left:-20px}

.currency_exchanged{font-style:italic}
.thumbnails{padding-top:5px;}
.thumbnails .item_container{height:165px;width:145px;float:left;text-align:center;;margin:5px 5px 5px 5px}
.thumbnails .item_caption{width:100%;text-align:center;font-size:80%}
.thumbnails .image_container{height:150px;border:1px solid #ccc;padding:5px;vertical-align:middle;text-align:center}
.thumbnails img{max-height:138px;max-width: 125px;}

.diff_del{color:red}

.diff_ins{color:green}







.search_result{color:#777;width:98%;float:right}
.search_result tr.result{cursor:pointer;;border-top:1px solid #ccc;border-bottom:1px solid #aaa;padding:2px 10px}
.search_result tr.result:hover{background:#d2dffc}
.search_result .prod_sdesc{font-weight:100}
.search_result tr.result xtd{padding:2px 10px}
.search_result tr.result td.naked {display:none}
.search_result tr.selected {color:#fff;background:#7296e1;}
.main_search .col1{width: 250px}


.order_header{border-top:1px solid #777;border-bottom:1px solid #ccc;width:100%,padding:0;margin:0;float:right;margin-left:0px}
.order_actions{text-align:right;margin-top:3px;}

#yui-history-iframe {
  position:absolute;
  top:0; left:0;
  width:1px; height:1px; /* avoid scrollbars */
  visibility:hidden;
}



.splinter_cell{float:left;width:450px;margin-right:18px;border:1px solid #e7e7e7;padding:5px;position:relative;left:15px;margin-bottom:10px}
.splinter_cell.double{width:930px}
.splinter_cell .data_table_container{font-size:75%}
.splinter_cell .clean_table_title{font-size:110%}
.home_splinter_options{padding-top:2px}
.home_splinter_options span{color:#eee;cursor:pointer}
.home_splinter_options span:hover{color:#fff}
.home_splinter_options span.selected{color:#FAFA7F;font-weight:800;text-decoration:none;}


span.state_details,search_sugestion{cursor:pointer;}
span.state_details.selected{color:#000 ;font-weight:600}
span.state_details img{opacity:0.5}
span.state_details.selected img{opacity:1}

span.state_details:hover{color:#222}


a.state_details{cursor:pointer;}
a.state_details.selected{color:#000 ;font-weight:600}
a.state_details:hover{color:#000;text-decoration:none}

.export_csv_menu{}


.options_list td{ border:1px solid #999;text-align:center;cursor:pointer  }
.options_list td.selected{ background:#7296e1;color:white   }
.options_list td.empty{ border:none;cursor:default  }

span.todo,div.todo {background-color: #C8E02B}
div.todo {;padding:20px} 

.sticky_note {border:1px solid #BAB84E;background:#EDEB82;float:left;width:300px;padding:0;margin-left:20px}


#bd.out_of_stock{background-image:url('../art/out_of_stock.png');;background-repeat:repeat-x;}
#bd.discontinued{background-image:url('../art/discontinued_gradient.png');;background-repeat:repeat-x;}

.web_online{color:green}
.web_offline{color:grey;}
.web_out_of_stock{color:red}
.web_discontinued{color:brown}

 .swatch {
  float: left;
 background-image:url('../art/swatch_16.png');
 background-repeat:no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 6px 0px 0;
  color:green,o
}

.top_page_menu{clear:both;width:100%;border-bottom:1px solid #ccc;padding-bottom:3px}
img.previous{margin-right:10px;float:left;height:22px;cursor:pointer;position:relative;top:2px}
img.next{float:right;height:22px;cursor:pointer;position:relative;top:2px};

.discontinued{background:#deceb2}
table.discontinued,tr.discontinued{border-top:1px solid #574017;background:#deceb2}
.main_title  {font-size:140%;position:relative;bottom:-6px}
.main_title.no_buttons{bottom:-3px}
.main_title  img{position:relative;bottom:2px}
.main_title .subtitle{font-size:80%}

.add_missing_value{color:#bbb;font-style: italic;}

.error_message{border:1px solid;padding:5px;margin-top:10px;text-align:center;
 color: #D8000C;
  background-color: #FFBABA;font-size:90%

}

.data_block{ min-height:300px;}

div.tabbed_container{border:1px solid #ccc;padding:20px 20px;clear:both;margin-bottom:20px}
div.tabbed_container.blocks{border-bottom:none}
div.tabbed_container.no_padding{padding:0px 0px}
div.tabbed_container.no_padding .edit_block_content{padding:20px 20px}
.edit_block .tabs,.block .tabs{padding-top:10px;}
.edit_block .tabs button:hover,.block .tabs button:hover{color:none}
.edit_block .tabs button.selected:hover,.block .tabs button.selected:hover{color:none;background:none;border-color:#ccc;border-bottom-color:#fff}
.edit_block .tabs_base,.block .tabs_base{clear:both;height:0px;;margin-bottom:0px;border-bottom:1px solid #ccc}


