#new_list
{
width: 670px;
border:1px solid #AAAAAA;
padding:10px;
margin-left: 220px;
margin bottom:10px;
}

label 
{
    line-height: 20px;
    margin-top: 0;
    text-align: left;
    width: 97%;
}

.invalid-error {
    background: none repeat scroll 0 0 #D9D9F3;
    color:#4D4D4D;
    display: block;
    padding: 4px 5px;
}

.sub_head
{
    color: #5C5C5C;
     font-size: 13px;
    font-weight: bold;
  }

#left_panel
{
	width: 200px;
	border:1px solid #AAAAAA;
	padding:5px;
	 float: left;


}

.av_text
{
	height: 2em; 
	
	-moz-border-radius: 5px 5px 5px 5px;
	padding-right:5px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	
}
#create_new_list
{
	-moz-border-radius: 5px 5px 5px 5px;
	 color:#4D4D4D;
	border:1px solid #AAAAAA;
	height: 3em; 
	width:198px;
	text-align: center;
	font-size: 14px;
    	font-weight: bold;
	padding-top:15px;
}
#create_new_list:hover
{
	-moz-border-radius: 5px 5px 5px 5px;
	 color:#080808;
	border:1px solid #AAAAAA;
	height: 3em; 
	width:198px;
	text-align: center;
	font-size: 14px;
    	font-weight: bold;
	padding-top:15px;
}


#signup_forms
{
	-moz-border-radius: 5px 5px 5px 5px;
	 color:#4D4D4D;
	border:1px solid #AAAAAA;
	height: 30px; 
	width:198px;
	text-align: center;
	font-size: 13px;
    	font-weight: bold;
	padding-top:10px;
}
#signup_forms:hover
{
	-moz-border-radius: 5px 5px 5px 5px;
	 color:#080808;
	border:1px solid #AAAAAA;
	height: 30px; 
	width:198px;
	text-align: center;
	font-size: 13px;
    	font-weight: bold;
	padding-top:10px;
}

#view_list
{
	-moz-border-radius: 5px 5px 5px 5px;
	 color:#4D4D4D;
	border:1px solid #AAAAAA;
	height: 30px; 
	width:198px;
	text-align: center;
	font-size: 13px;
    	font-weight: bold;
	padding-top:10px;
}
#view_list:hover
{
	-moz-border-radius: 5px 5px 5px 5px;
	 color:#080808;
	border:1px solid #AAAAAA;
	height: 30px; 
	width:198px;
	text-align: center;
	font-size: 13px;
    	font-weight: bold;
	padding-top:10px;
}



.list_search_button
{
	    display: block;
   
    font-size: 14px;
    height: 26px;
    line-height: 20px;
    float:right;
    margin-left: 10px;
    text-align: center;
    width: 14%;
	-moz-border-radius: 5px 5px 5px 5px;
}

#list_search
{
	 float: left;
	height: 2em; 
	-moz-border-radius: 5px 5px 5px 5px;
	color:#999999;
        width:150px;
        margin-left:8px;
}

#check_div
{
	border:1px solid #D9D9F3;
	width:910px;
	height: 15px; 
	background:#D9D9F3;
	text-align: center;
	color:#000000;
}

#list_or_group
{
	width: 670px;
	border:1px solid #AAAAAA;
	padding:10px;
	margin-left: 220px;
	text-align: center;
}

.list_bt input[type="button"] 
{
	-moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.247);
    background: url("../images/button-background.png") repeat-x scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB #999999;
    border-style: solid;
    border-width: 1px;
    color: #444444 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    overflow: visible;
    padding: 4px 12px 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    width: auto;
}

.main_div
{
	width: 670px;
	border:1px solid #AAAAAA;
	padding:10px;
	margin-left: 220px;
}

.list-panel {
     -moz-border-radius: 4px 4px 4px 4px;
    border: 2px solid #AAAAAA;
    height: 124px;
    margin-bottom: 10px;
    min-width: 600px;
    overflow: visible !important;
    position: relative;
    z-index: 1;
}
h4.list-name {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #D9D9F3;
    color: #4D4D4D;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 0px;
    padding: 6px 10px 7px;
    position: relative;
    width:646px;
}



.hover-list{position:relative;}.hover-list>li{position:relative;height:auto;}.hover-list a.hover-trigger{display:inline-block;padding:0 15px 5px 0;background:url(/release/5.5.1/images/list-panel-nested.png) no-repeat right 5px;}.hover-list ul{display:none;position:absolute;z-index:999;top:100%;left:0;padding:5px;border:1px solid #ccc;background:#fff;width:250px;height:auto;-moz-box-shadow:2px 2px 3px #7e7267;-webkit-box-shadow:0px 0px 4px #ffffff;box-shadow:0px 0px 4px #ffffff;}.hover-list ul.right-edge{left:auto;right:0;}.hover-list>li:hover ul{display:block;}.hover-list>li:hover a.hover-trigger{color:#774d21;background-position:right -15px;}.hover-list ul li{display:inline;margin:0;padding:0;float:none;border:none;}.hover-list ul li a{display:block;color:#777;padding:6px 15px;text-decoration:none;line-height:14px;}.hover-list ul li a:hover{background:#D1EBF1;color:#222;}.dwn{font-size:75%;padding-left:.2em;}
