.left_block{width:450px;float:left;margin-bottom:10px}
.right_block{width:450px;float:right}

.info_boxes{font-size:80%;text-align:center;margin-left:20px}
.info_boxes .box{margin-left:10px;border:1px solid #777;float:right;width:110px;padding:5px 0px}
.info_boxes .box div{font-size:120%;font-weight:800;margin-top:5px;margin-bottom:5px}

.offer{color:#FFF;padding:5px 10px 12px 10px;;height:35px;width:200px;;font-family: "Ubuntu",Helvetica,Arial,sans-serif;
background: rgba(203,96,179,1);
background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 23%, rgba(168,0,119,1) 43%, rgba(219,54,164,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(23%, rgba(193,70,161,1)), color-stop(43%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 23%, rgba(168,0,119,1) 43%, rgba(219,54,164,1) 100%);
background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 23%, rgba(168,0,119,1) 43%, rgba(219,54,164,1) 100%);
background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 23%, rgba(168,0,119,1) 43%, rgba(219,54,164,1) 100%);
background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 23%, rgba(168,0,119,1) 43%, rgba(219,54,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );
}

.offer .allowances{font-size:120%;font-weight:800}
.offer .name{float:right;font-size:75%}
.offer_or{padding:5px 10px;;height:35px;float:right;margin-right:5px;font-family: "Ubuntu",Helvetica,Arial,sans-serif}

