#department_body{
background:#fff;color:#333;
min-height:390px;height:auto !important;height:390px;margin-top:0px;
padding:20px 15px;clear:both
}


.block {border: 1px solid #ccc;background:#fff;padding:10px 10px}

.block.four{float:left;width:198px;margin-left:18px;}
.block.first{margin-left:5px}

.block.family_showcase{height:230px;text-align: center;}

a{color:#000}
h2 {font-family: "Ubuntu",Helvetica,Arial,sans-serif;font-size:110%;margin-top:10px}

.wraptocenter {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 197px;
    height: 160px;
    margin-bottom:10px;
    padding-top:10px
}
.wraptocenter img {
     vertical-align: bottom;max-width:170px;max-height:160px;
}


.description_block{margin-bottom:20px;background:#fff;padding:10px 20px;border:1px solid #eee}
.description_block .image{vertical-align:middle;float:left;max-height:180px;max-width:300px;border:1px solid #ccc;padding:15px}
.description_block .content{margin-left:50px;float:left;max-width:500px;width:100%}
.description_block .content h1{font-size:140%;font-weight:800;padding:5px 0px 10px 0px}
.description_block .content h2{font-size:120%;padding:5px 0px 10px 0px}

