#bd{
background:#FFF;border:0px;color:#333;border-bottom:none,
min-height:390px;height:auto !important;height:390px;padding:0px 0px;margin-top:0px;
border-left:1px solid #aaa;border-right:1px solid #aaa;padding:10px 00px 10px 0px;
}

.wraptocenter {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    margin-bottom:10px;
    padding-top:0px
}
.wraptocenter img {
     vertical-align: bottom;max-width:270px;max-height:270px;
}


.product{min-height:400px;}

.product .information{float:left;width:445px;margin-left:15px;xborder:1px solid red}
.side_bar{float:left;width:140px;margin-left:15px;xborder:1px solid red;text-align: right;margin-top:10px;}
.highlight_box{border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#f9f9f9;text-align:left}
.price{display:block;clear:both;color:green;font-size:20px;margin:10px 0 0 0 ;font-family: 'Ubuntu',Helvetica,Arial,sans-serif;xborder:1px solid green;float:left}
.ind_form_button_only{margin-top:0;xborder:1px solid red;padding-bottom:8px;text-align: right;float:left;;position:relative;top:-8px;}
.code{font-family: 'Ubuntu',Helvetica,Arial,sans-serif;font-weight: 800}
.product_log_out_price{color:green;padding:30px 0px 20px 0px;font-size:150%}
.product_log_out_price a{font-family: 'Ubuntu',Helvetica,Arial,sans-serif;color:green;font-style: 800}
.product_long_descriptions{padding:20px 0px} 

#specs{float:right;}
#specs .icon{padding-right:10px;}
#specs .title td{padding-top:10px;font-weight: 800}

.gallery {width:305px;margin-left:0px;margin-top:10px}
.gallery img.thumbs {height:60px;float:left;border:1px solid#ccc;padding:2px;margin:2px 2px 6px 2px;cursor:pointer}
