#bd{
background:#F6F6E8;border:0px;color:#333;border-bottom:none,
min-height:390px;height:auto !important;height:390px;padding:0px 0px;margin-top:5px
}


.block {border: 1px solid #ccc;background:#fff;padding:10px 10px}

.block.four{float:left;width:198px;margin-left:18px;}
.block.first{margin-left:5px}

.block.product_showcase{height:320px}




.wraptocenter {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 197px;
    height: 160px;
    margin-bottom:10px
}
.wraptocenter img {
     vertical-align: bottom;max-width:197px;max-height:160px
}



.ind_form{font-size:12.5px}
.ind_form .code{font-family: "Ubuntu",Helvetica,Arial,sans-serif;}
.ind_form .name{margin-top:2px;margin-bottom:4px;padding:0px;display:block;min-height:40px}
.ind_form .rrp{color:	#777}
.ind_form .price{color:#236E4B;text-align:right}


.more_info{cursor:pointer;position:absolute;width:40px;top:-1px;left:179px}
.order_button{height:28px;position:relative;top:0px}
.ind_form{margin-top:10px}

.ind_form .product_description{min-height:80px}