
table.edit{width:50%}

table.edit tr.blocked{color:#ccc;font-style:italic}
table.edit tr.blocked input{border:1px solid #ccc;color:#ccc}

table.edit td{ vertical-align: top;;text-align:left;padding-left:10px;padding-right:10px}
table.edit input.number{ padding-right:4px;text-align:right; }
table.edit input{ padding-left:4px;text-align:left; }


table.edit td.label{ text-align:right}
table.edit td.left{ text-align:left }
table.edit tr.no_validated td.label { background:url('../art/icons/exclamation.png') no-repeat;;background-position:5px 3px;color:#720000  }
table.edit tr.no_validated  input{color:red}
table.edit tr.validated td.label { background:url('../art/icons/accept.png') no-repeat;;background-position:0px 3px;color:#000  }


table.edit td.icon{ padding:0 5px;width:16px}
table.edit tr.top{ border-top:1px solid #a5b6c8}
table.edit .buttons td,table.edit .first td{ padding-top:20px}
table.edit .space30 td { padding-top:30px}
table.edit .space10 td { padding-top:10px}

table.edit .space5 td { padding-top:5px}
table.edit tr.title{text-align:left; border-bottom:1px solid #a5b6c8;}
table.edit tr.title td{vertical-align:bottom;font-weight:800;text-align:left;}
table.edit img.icon{margin-left:10px;float:right;cursor:pointer}
table.edit tr.last{ border-bottom:1px solid #a5b6c8}
input.invalid {border:1px solid red;}

tr.mould td{padding:20px 0 30px 0;}


.add_button{margin-left:10px;border:1px solid #aaa;text-align:center;cursor:pointer;;padding:0px 2px 0px 2px;font-weight:200;font-size:50%;color:#333;position:relative;bottom:2px}

.address_container,.contact_container{float:left;disassociate:1px solid black;padding:10px;margin:0px 10px}
.address_display,.contact_display{padding:5px 10px 10px 10px;text-align:left}
.address_buttons,.contact_buttons{text-align:right;margin-top:4px}


.input_msg {font-size:75%;width:200px}
.edit_block{margin:0;padding:0;width:100%;min-height:200px;}
.edit_block .error{color:red}
.new_item_dialog{margin:0 0 10px 0;padding:10px;border:1px solid #ccc}

table.form_state {width:300px;font-size:80%}
table.form_state td{text-align:center;border-top:1px solid #ccc}
table.form_state td.aright{text-align:right}
table.form_state td.aleft{text-align:left}

.edit_td_alert{font-size:80%;color:red}
.edit_td_alert a{color:red;text-decoration:underline}



.shelf_locations{clear:both;font-size:75%;color:#777}
.shelf_locations table td{border:1px solid #ccc;width:100px}
.shelf_locations table td.header{border:none}

.shelf_locations table td.cols_header{}
.shelf_locations table td.rows_header{text-align:right;padding-right:10px}

.image_radio{font-size:80%;color:#aaa}
.image_radio div{float:left;text-align:center;margin-bottom:10px;cursor:pointer}
.image_radio div img{border:1px solid #ccc}
.image_radio div.selected img{border:1px solid #999}
.image_radio div.selected {font-weight:800;color:black;cursor:default}
.image_radio div:hover {font-weight:800;color:black}
.image_radio div img:hover{border:1px solid #999}

.list_options tr{border-top:1px solid #ccc}
.list_options td.option {padding-left:40px}

