 .yui-skin-sam .yui-toolbar-container .yui-toolbar-editcode span.yui-toolbar-icon {
        background-image: url( '../art/icons/page_white_code.png' );
        background-position: 0 1px;
        left: 5px;
    }
    .yui-skin-sam .yui-toolbar-container .yui-button-editcode-selected span.yui-toolbar-icon {
        background-image: url( '../art/icons/page_white_code.png' );
        background-position: 0 1px;
        left: 5px;
    }
    .editor-hidden {
        visibility: hidden;
        top: -9999px;
        left: -9999px;
        position: absolute;
    }
    #html_editor {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    .yui-toolbar-group-insertitem {
    *width: auto;
}


#content_template_filename_options  img{height:100px;border:1px solid #ccc}
#content_template_filename_options  img.selected{height:100px;border:1px solid #999;
 -moz-box-shadow:    1px 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;

}