table.edit{width:890px}
table.edit td.label{width:200px}
table.edit td.input{width:350px;text-align:left}
table.edit td.input textarea{padding:0px 3px;resize:horizontal}

.textarea_tr{height: 70px;}
.textarea_tr textarea{height: 60px;}



#po_settings td.input{width:500px}
.textarea_big_tr{height: 300px;}
.textarea_big_tr textarea{height: 275px;width:500px}


table.edit td.input .short{width:150px}
table.edit td.input.very_short input{width:60px}
table.edit td.input.very_short span{margin-left:70px}



table.edit td.messages{width:350px}

