.add_button{margin-left:10px;border:1px solid #aaa;text-align:center;cursor:pointer;;padding:0px 2px 0px 2px;font-weight:200;font-size:50%;color:#333;position:relative;bottom:2px}

.address_container,.contact_container{height:100px;width:200px;float:left;xborder:1px solid black;padding:10px;margin:20px 10px}
.address_display,.contact_display{padding:5px 10px 10px 10px;text-align:left;border:1px solid #ccc;}
.address_buttons,.contact_buttons{text-align:right;margin-top:4px}