
.field_set {
    -moz-border-radius: 4px 4px 4px 4px;
     width:420px;
    border: 1px #848284 solid;
    clear: both;
    margin: 1.2em 0 1.2em 0.3em;
    min-height: 10px;
    padding: 1em 1.4em 1.4em;
}

.next{
    background-image: url("../art/next_b.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
    cursor:pointer;
}
.prev{
    background-image: url("../art/prev_b.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
    cursor:pointer;
}
.export_b{
    background-image: url("../art/export_b.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
    cursor:pointer;
}
.up_b{
    background-image: url("../art/up_b.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
    cursor:pointer;
}
.up_b_disabled{
    background-image: url("../art/up_d.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
}
.down_b{
    background-image: url("../art/down_b.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
    cursor:pointer;
}
.down_b_disabled{
    background-image: url("../art/down_d.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
}
.return{
    background-image: url("../art/return.png");
    background-repeat: no-repeat;
    border:none;
    height: 23px;
    width: 65px;
    cursor:pointer;
}
