.ImportSection {
-moz-border-radius: 20px 20px / 20px 20px;
-webkit-border-radius: 1em;
border: 1px solid #CCC;
clear: left;
display: block;
margin-bottom: 10px;
margin-top: 15px;
padding: 10px 10px 5px;
}
.left3Quarters {
    float: left;
    margin-right: 1%;
    width: 74%;
}
.prop .import_level{
    display: block;
    padding-right: 5px;
    text-align: left;
    padding:10px 0px 0px 0px;
}

.import_level {
    color: #444444;
    font-size: 12px;
    margin-bottom: 1px;
}

.bt input[type="submit"] {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.247);
    background: url("../images/button-background.png") repeat-x scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB #999999;
    border-style: solid;
    border-width: 1px;
    color: #444444 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    overflow: visible;
    padding: 4px 12px 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    width: auto;
}
.bt input[type="button"] {
    -moz-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.247);
    background: url("../images/button-background.png") repeat-x scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #BBBBBB #999999;
    border-style: solid;
    border-width: 1px;
    color: #444444 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    overflow: visible;
    padding: 4px 12px 5px;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    width: auto;
}

.fileupload {padding-bottom: 3px; padding-right: 10px; float: left; border:none;}

#call_table .input{
    border:10px solid $ffffff;
   
}
.framedsection {
    border: 1px solid #CCCCCC;
    clear: left;
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px 10px 5px;
}
.recordList{
    background: url("images/header-nav-background.png") repeat-x scroll 0 0 #F6F9F9;
    width:100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #EEEEEE;
    padding: 5px 5px 0px 4px;
    white-space: nowrap;
}
.framedsection th, .framedsectiontd {
    padding: 0px;
    font-size:11px;
}
.subtext{
    color:#256B91;;
    text-decoration: none;
    font-size:9px;
}
.subtext:hover{
    color:#256B91;;
    text-decoration:underline;
    font-size:9px;
}
.recordtext{
    width:100%;

}
.recordtext th{
	padding:3px 0px 3px 0px;

}

.formActions {
    display: block;
    list-style-type: none;
    margin: 8px 0 14px;
    padding: 0;
}

