
.dashboard_blocks .block_3{float:left;width:930px;margin-left:20px;}
.dashboard_blocks .block_2{float:left;width:615px;margin-left:20px;}
.dashboard_blocks .block_1{float:left;width:297px;margin-left:20px;}


#wid_menu {
			display: block;
			text-align: center;
			padding-bottom: 20px;
			
				 border-top:1px solid #ccc;border-left:none;border-right:none;
padding-top:10px

		}
		#wid_menu * {
			display: inline;
			padding: 4px;
			user-select: none;
			cursor: pointer;
			vertical-align: middle;
		}
		#wid_menu li.active {
color:#fff;
			background-color: #6d84b4;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-opera-border-radius: 3px;
			-moz-border-radius: 3px;
		}
#panes {
			text-align: justify;
			border-style: none;
			/*width: 245px;*/
			margin: 0 1em 0 1em;
		}
		
		#panes p {
		  width: 600px;
		  margin: 0 auto 1em auto;
		  line-height: 1.2em;
		}
		
		#panes div div { overflow: hidden; }
