@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy'), url('../art/xmas/font.woff') format('woff');
}

@media screen and (max-device-width: 800px) {
html { background: url('../art/xmas/xmas2.jpg') #000 no-repeat center center fixed; }
#bgvid { display: none; }
}

#top_header{opacity.6}

html{background-image:none;background-color: rgba(256,256,256,0.2)}
#bd{background-color: rgba(0,256,256,0.1);border:none}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url('../art/xmas/xmas2.jpg') no-repeat;
background-size: cover;
}

#login_box{background-color: rgba(256,256,256,0.5);position:relative;left:-150px}
