
.create-campaign{
   background-image:url('../art/campaign_button.png');
   background-repeat: no-repeat;
   height:75px;
  
   width:350px;
}
.create-campaign span{
  line-height:48px;
   color:#ffffff;
   padding-left:30px;
   font-size:19px;
   display: block;
   width:303px;
  text-decoration:none;
}
.create-campaign span:hover{
  text-decoration:none;
  color:#DC143C;
}
.create-campaign p{
   clear: left;
    float: left;
    text-align: center;
    padding:10px 0px 20px 20px;
    width: 250px;
   text-decoration:none;
}
.create-campaign p:hover{
  text-decoration:none;
}


.campaign_outer a div span:hover{
    color:#000000;
   text-decoration:none;
}
.campaign_cancel{
     width:108px;
     height:33px;
     float:right;
     line-height:35px;
     font-weight:bold;
     background-color:#D0D0D0;
       -moz-border-radius: 7px 7px 7px 7px;
}
.campaign_cancel a{
   padding-left:8px;
    
}
.campaign_cancel a:hover{
       text-decoration:none;
}
.campaign_cancel:hover{

   background-color:#E0E0E0 ; 
}
.campaign_head{
   padding:20px 15px 7px 10px;
   font-size:19px;
   min-width:140px;
   float:left;
   color:#e18707;
}


.topmenu{
   background: none repeat scroll 0 0 #D4d4d4;
   min-width:40px;
   height:33px;
   line-height:35px;
   padding-left:10px;
   padding-right:10px;
   -moz-border-radius: 10px 10px 1px 1px;
}
.topmenu a:hover{
  text-decoration:none;
  color:#cf6600;
}
.current{
   background: none repeat scroll 0 0 #FFFFFF;
}



.dwn {
    font-size: 75%;
    padding-left: 10px;
}
.campaign_create{
  margin:5px;
 background-color:#445695;
  height:54px;
  width:220px;
  -moz-border-radius: 10px 10px 10px 10px;
}
.campaign_create a:link{

 color:	#FFFFFF;
}
#create_camp{
  color:#FFFFFF;
  font-size:18px;
   display: block;
    float: none;
    font-size: 18px;

    line-height: 52px;
    padding-left:18px;
}
#create_camp:hover{
  text-decoration:none;
}
.button{
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #336699;
    border: 0 none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin-right: 5px;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: 172px;
    
}
.p3 {
    background-color: #D7CDB0;
    color: #736357 !important;
}
.campaign_type{
 margin:5px 5px 5px 1px;
 background-color:#ffffff;
 min-height:90px;
  width:220px;
  -moz-border-radius: 10px 10px 10px 10px;

}
.campaign_type img{

padding:10px 2px 2px 15px;
width:25px;
height:20px;
}
.campaign_type a{
   font-weight: bold;
   color:#976757;
}
.campaign_type2{
 margin:5px 5px 5px 1px;
 background-color:#c1c1c1;
 min-height:90px;
  width:220px;
  -moz-border-radius: 10px 10px 10px 10px;

}
.campaign_type2 span a{
   color:#000000;

}



.display_campaign1{
   background: none repeat scroll 0 0 #D1EBF1 !important;
    font-weight: bold;
    text-align: center;

    width:3px;

   

    border-right:1px #666666 solid;
}
.display_campaign2{
   background: none repeat scroll 0 0 #D1EBF1 !important;
    font-weight: bold;
    text-align: center;
    width:3px;
    border-right:1px #666666 solid;
}
.display_campaign3{
   background:none repeat scroll 0 0 #D1EBF1 !important;
    font-weight: bold;
    text-align: center;

   width:3px;

    border-right:1px #666666 solid;
}
.display_campaign4{
   background: none repeat scroll 0 0 #D1EBF1 !important;
    font-weight: bold;
    text-align: center;
    width:150px;
    border-right:1px #666666 solid;
}
.display_campaign5{
   background: none repeat scroll 0 0 #D1EBF1 !important;
    font-weight: bold;
    text-align: center;
    width:3px;
    border-right:1px #666666 solid;
}
.display_campaign6{
   background:none repeat scroll 0 0 #D1EBF1 !important;
    font-weight: bold;
    text-align: center;

    width:300px;
    
}
.button-small{
  padding-left:10px;
 line-height:23px;

}
.button-small:hover{
   text-decoration:none;
}
.field_set{
  -moz-border-radius: 4px 4px 4px 4px;
    background-color: #F1EDE0;
    border: 0 none;
    clear: both;
    margin: 1.2em 0 1.2em 0.3em;
    padding: 1em 1.4em 1.4em;
    min-height:10px;
}
.legend_part {
    -moz-border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    margin: 0 -0.4em;
    padding: 5px 15px;
}
.recipient-list {
    border-bottom: 1px solid #FFFFFF;
    line-height: 22px;
    padding: 4px 8px;
}
.campaign_name{
line-height: 0.3em;
    margin-bottom: 14px;
    padding: 0 0 0 14px;
    font-size:13px;
    font-weight:bold;
}
.segment{
  float:right;
  padding-right:15px;
  cursor:pointer;
}
.send_entire_list{
 float:right;
 background-color:#b95b00;
color:#ffffff;

}

.button_campaignListCreate
{
  -moz-border-radius: 4px 4px 4px 4px;
    background-color: #336699;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    padding:6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    height:13px;
    width: auto; 
    
}
.button_campaignListCreate:hover{
 text-decoration:none;
}
.campaignlist_outer{
   min-height:25px;
  
   padding:5px;
}
.campaignlist_outer:hover{
   background-color:#ffffff;

}
.value_sagement{
  -moz-border-radius: 5px 5px 5px 5px;
   
}
.go_next{
   float:right;
 width:51px;
height:26px;
background-color:#c1b798;
-moz-border-radius: 5px 5px 5px 5px;
}
.go_next:hover{
background-color:#999999;

}





.hover-list{position:relative;}
.hover-list>li{position:relative;height:auto;}
.hover-list a.hover-trigger{display:inline-block;padding:0 15px 5px 0;background:url(/release/5.5.1/images/list-panel-nested.png) no-repeat right 5px;}
.hover-list ul{display:none;position:absolute;z-index:999;top:100%;left:0;padding:5px;border:1px solid #ccc;background:#fff;width:205px;height:auto;-moz-box-shadow:2px 2px 3px #7e7267;-webkit-box-shadow:0px 0px 4px #ffffff;box-shadow:0px 0px 4px #ffffff;}
.hover-list ul.right-edge{left:auto;right:0;}
.hover-list>li:hover ul{display:block;}
.hover-list>li:hover a.hover-trigger{color:#774d21;background-position:right -15px;}
.hover-list ul li{display:inline;margin:0;padding:0;float:none;border:none;}
.hover-list ul li a{display:block;color:#777;padding:6px 15px;text-decoration:none;line-height:14px;}
.hover-list ul li a:hover{background:#D1EBF1;color:#222;}
.dwn{font-size:75%;padding-left:.2em;}

.group_child{cursor:pointer;}
.group_child:hover{background:none repeat scroll 00 #d1ebf1;color:#222222; }

                           /*marketing campaign builder setup part */


.indicates-required {
    color: #333333;
    font-style: italic;
    margin: -10px 8px 10px 0;
    text-align: right;
}
.asterisk {
    color: #ED5D3B;
    font-family: 'Times New Roman',Times,serif;
    font-size: 120%;
    font-style: normal;
    font-weight: bold;
}

.field-wrapper {
    -moz-border-radius: 4px 4px 4px 4px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #CCCCCC;
    padding: 0;
    width: 438px;
   margin: 0px 0px 10px 0px;
}


.av-text{
-moz-border-radius: 4px 4px 4px 4px;

}
 input[type="checkbox"] ,input[type="radio"]{
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    width: 16px !important;
    vertical-align:text-bottom;
}
.inline-label {
    display: inline;
    line-height: 30px;
    padding-right: 8px;
}

.group-label {
    border-bottom: 1px solid #CCCCCC;
    clear: both;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0 2px;
    padding-bottom: 4px;
    
}
.checkbox-help {
    margin: 1px 0 0;
}
#back-next-bottom {
    clear: both;
    
    text-align: right;
    width:150px;
    float:right;
}

#back-next-bottom input, #back-next-top input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none !important;
    height: 25px;
    padding: 0;
    width: 65px;
}
.right_field{
   vertical-align:text-top;

}

.sagement_img{
 background-image:url(../art/sagement.png);
border:none;
 height:30px;
 width:131px;
padding:0px;
float:right;
overflow:auto;
}
.cancel_img{
 background-image:url(../art/sagement_cancel.png);
border:none;
 height:31px;
 width:79px;
padding:0px;
margin-right:10px;
float:right;
overflow:auto;
}

.folder{
   margin-bottom:10px;
   height: 148px;
   overflow: auto;
   position:absolute;
}


.segment-count {
    background-color: #DDDDDD;
    margin: 10px;
    padding: 10px 14px;
    width: 160px;
}




  #display_part { background:#fff; margin:3px; width:400px; 
  display:none; text-align:left; }

.template_choose{
border:1px #000000 solid;
width:65px;
height:18px;
padding-left:2px;
background-color:#7080b1;
color:#ffffff;
float:left;
}
.template_hide{
border:1px #000000 solid;
width:90px;
height:18px;
padding-left:2px;
background-color:#7080b1;
color:#ffffff;
margin-left:10px;
}

.campaign_header{
  color: #000000;
    font-weight: 500;
    text-decoration: none;
    vertical-align: bottom;
    font-size:12px;
}

.basic_template{
font-family: trebuchet ms;
font-size: 12px;
color:#000000;
font-weight:normal;
padding:2px 10px 0px 10px;

}
















