#new_campaign{margin-top:20px;width:900px}
#new_campaign td.label{width:250px}
#new_campaign td.input{width:300px;text-align:left}
#new_campaign td.input textarea{padding:0px 3px;resize:horizontal}

#campaign_description_tr{height: 110px;}
#campaign_description_tr textarea{height: 100px;}

#new_campaign td.input .short{width:150px}
#new_campaign td.input.very_short input{width:60px}
#new_campaign td.input.very_short span{margin-left:70px}



#new_campaign td.messages{width:350px}

#new_campaign .calendar_pop{height:16px;width:16px;float:left;margin-left:4px;cursor:pointer;text-align:right;position:relative;bottom:0px;z-index:0;margin-right:20px}

