#refund_options .title{border-bottom:1px solid #ccc}

.label{width:120px;text-align:right}
.original_values{width:120px;text-align:right}
.switch_element{width:40px}
.refund_values{width:120px;text-align:right}
