tr.currency_tr td {border-bottom:1px solid #ccc}
td.total {font-size:153.9%;font-weight:bold}
td.total_corporate_currency {font-weight:bold;padding-right:5px;padding-top:0}

#order_header{clear:both;margin-top:2px;font-size:95%;border:1px solid #ddd}
#order_header .content{padding:10px}

.tabs span.item{border-bottom:1px solid #ccc;}
.tabs span.selected{
border-bottom:1px solid #fff;
}
div.block_details{min-height: 100px;}

.from_suplier_delivery_days{font-style:italic;color:#777}




#attachments_showcase{margin-bottom:10px;width:800px;margin-left:10px}
.attachment{float:left;margin-right:20px;margin-bottom:30px;}
.attachment .thumbnail{height:190px;border:1px solid #ccc}
.empty_thumbnail{height:190px;width:140px;border:1px solid #ccc}
.attachment .caption{padding:5px 0px}
.attachment .links{margin-top:5px}
.attachment .filename {font-size:70%}