
#order_header{clear:both;margin-top:2px;font-size:95%;border:1px solid #ddd}
#order_header .content{padding:10px}

table.edit{width:400px}
.edit td.label{width:150px}
.edit td.input{width:300px;text-align:left}


table.edit.terms_and_conditions{width:910px;}
table.edit.terms_and_conditions td.label{width:150px}
table.edit.terms_and_conditions td.input{width:500px;text-align:left}

#terms_and_conditions_formated{padding:10px;border:1px solid #ccc;color:#777;font-size:80%}

.textarea_big_tr{height: 160px;}
.textarea_big_tr textarea{height: 160px;width:500px}


.note_to_supplier {background:rgba(148,219,132,.4);border:1px solid rgba(120,191,65,.4);padding:0 10px 0 5px;min-height: 14px;}
.note_to_supplier img.edit,.note_to_supplier img.lock,   .add_note_to_supplier{margin-left:3px;height:12px;float:right;cursor:pointer}
.note_to_supplier img.lock{height:12px;opacity:.6}
.add_note_to_supplier{height:12px;cursor:pointer;opacity:.6}

.part_info td.key,.part_info td.value{border-top:1px solid rgba(200,200,200,.5)}
.part_info td.key{width:80px}
.part_info td.value{text-align:right}


.tabs span.item{border-bottom:1px solid #ccc;}
.tabs span.selected{
border-bottom:1px solid #fff;
}
div.block_details{min-height: 100px;}
