
body{
	font-family :verdana;
	font-size:12px;
}
#ajax_response{
	border : 0px solid #C9D7F8;
	width:100%;
	-moz-border-radius : 9px;
	margin-bottom : 10px;
	text-align : center;
}
.comment_table{
	clear : left; 
	font-size:12px;
	border : 2px solid #C9D7F8;
	-moz-border-radius : 9px;
}
.comment_table input[type="text"],textarea,input[type="button"]{
	border : 1px solid #C6C4C4;

}
.comment_table input[type="text"]:hover,textarea:hover,input[type="button"]:hover{
	border : 1px solid #C6C4C4;
	background : #E2E4FC;
}
.comment_table input[type="text"]:focus,textarea:focus,input[type="button"]:focus{
	border : 1px solid #C6C4C4;
	background : #F0F8FF;
}
.comment_holder{
	border : 0px solid #F0F8FF;
	
	width : 100%;
	
	
	
	background : #F0F8FF;
}
#loading{
	visibility : hidden;
}
.highlight{
	background : #E3FEE0;
}
#date_posted{
	font-size : 10px;
	text-align : right;
	color: #6A7063;
	border-bottom : 1px solid #928F89;
}
#photo{
	border:0px solid #ADADB6;
	float:left;
	
	padding:5px;
	text-align : center;
}
#photo img{
	padding : 4px;
}
#comment_text{
	width:82%;
	
	border:0px solid #ADADB6;
	
	margin : 0px 0px;
	
	-moz-border-radius : 9px;
	height : 80px;
	
}
.required{
	background :#FE8585;
}



