
textarea {
  position: relative;
  padding: 4px 6px;
  width: 206px;
  height: 120px;
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  outline: none;
  font-weight: normal;

  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0px;
}

.datepicker {
  margin-bottom: 5px;
  margin-top: 0px;

  .ui-datepicker thead tr {

    height: $height_calendar_th;
    line-height: $height_calendar_th;
  }

}

.dropcontainer {

  margin-bottom: 5px;
  .checkbox {
    margin-right: 4px;
  }

  color: #777;
  width: 259px;
  // margin-left: 5px;
  margin-top: -3px;
  ul {
    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
    list-style-type: none;
    padding: 5px 10px 5px 10px;
    margin: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    li {
      height: $height_select_option;
      line-height: $height_select_option;
      padding: 0px 5px;
      cursor: pointer;
      &:hover {
        background: #f5f5f5;
        outline: none;
      }
      &.selected {
        background: #e3e2e2;
        outline: none;
        cursor: normal;
      }
      .current_mark {
        font-size: 50%;
        position: relative;
        bottom: 2px;
        margin-right: 5px;
        visibility: hidden;
        opacity: .5;
      }
      .current_mark.current {
        visibility: visible;
      }
    }
  }
  &.radio_option {
    margin-top: -30px;
    ul {
      border-top: 1px solid #ccc;
    }
  }
}