#object_showcase {
    clear: both;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    
    
    
  
     .data_container {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        i {
            margin-right: 10px;
        }
        .data_field {
            text-align: left;
            min-width: 300px;
            margin-bottom: 4px;
        }
    }
    
    
   
    
     @import 'showcase.subject';
    @import 'showcase.order';

    
 
}