 .options_dialog{
        position:absolute;
        background-color: white;
        border:1px solid #ccc;
        padding: 10px;
        z-index: 2000;
    }

    .options tr{
       height: auto;
    }
    .options td{
        padding:2px 15px;border:1px solid #ccc;cursor:pointer;color: dimgrey;
    }
    .options td:hover {
        color: #333
    }