 .options_dialog{
        position:absolute;
        background-color: white;
        border:1px solid #ccc;
        padding: 10px;
        z-index: 2000;
    }

    .options tr{
       height: auto;
    }
    .options td{
        padding:2px 15px;border:1px solid #ccc;cursor:pointer;color: dimgrey;
    }
    .options td:hover {
        color: #333
    }


    .control_panel {

      .columns {
        margin: 0px;
        position: relative;
        top: -5px;
        padding: 0px;
        float: left;
      }



      .sortable2 {
        margin: 0px;
        padding: 0px;
        float: left;
      }

      .sortable2 li {
        float: left;
        list-style: none;
        text-align: center;
        margin-right: 10px;
        min-width: 100px;
        border: 1px solid #ccc;
        white-space: nowrap;

      }

      .column_label {
        border: 1px solid #ccc;
        padding: 4px 8px;
        white-space: nowrap;
      }
      .column_extra_label {
        border: 1px solid #ccc;
        padding: 4px 8px;
      }

      .columns li {



        float: left;
        list-style: none;
        text-align: center;
        margin-right: 10px;
        min-width: 100px;
        border: 1px solid #ccc;
        padding:4px 16px 4px 8px;
        margin-bottom: 10px;
      }

      .handle2{
        margin-left:5px;cursor: move
       }
      .block_show{
        margin-left:10px
      }

      .open_edit i{
        margin-left:10px;
        margin-right:5px
      }

    }

    .slider_preview{
      float:left;margin-right:5px;width:40px;height:20px;border: 1px solid #ccc
    }

    .slider_preview.selected{
        border: 1px solid #aaa;

    }