
#search_results{

span.label{
 display: inline-block;
    *display: inline;/* for IE7*/
    *zoom:1;/* for IE7*/
    min-width: 100px;
}

span.details{

color:#777
}



 mark {
   // color: #000;
   color:#777;
    background: none;
  }

}