.search_results{font-family: "Open Sans",Helvetica,Arial,sans-serif;}
a{color:#000;text-decoration:none}
a:hover{text-decoration:underline}
.result_title{font-family:"Ubuntu";font-size:120%}
.code{font-family:"Ubuntu";}