.pricing-4 {
  text-align: center;
}
.pricing-4 .container * + .row,
.pricing-4 .container .row + * {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .pricing-4 .container * + .row,
  .pricing-4 .container .row + * {
    margin-top: 50px;
  }
}
.pricing-4 .container .plan {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  margin-top: 30px;
}
.pricing-4 .container .plan:first-child {
  margin-top: 0;
}
@media (min-width: 768px) {
  .pricing-4 .container .plan {
    margin-top: 21px;
    border-right-width: 0;
    padding-bottom: 20px;
  }
  .pricing-4 .container .plan:first-child {
    margin-top: 21px;
  }
  .pricing-4 .container .plan:last-child {
    border-right-width: 1px;
  }
}
@media (max-width: 767px) {
  .pricing-4 .container .plan {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pricing-4 .container .plan.col-sm-6 {
    margin-top: 0;
  }
  .pricing-4 .container .plan.col-sm-6:nth-child(2) {
    border-right-width: 1px;
  }
  .pricing-4 .container .plan.col-sm-6:nth-child(n+3) {
    margin-top: 30px;
  }
}
.pricing-4 .container .plan .plan-name {
  padding: 10px 0;
}
.pricing-4 .container .plan.popular {
  margin-top: 30px;
  border-width: 2px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .pricing-4 .container .plan.popular {
    margin-top: 0;
  }
  .pricing-4 .container .plan.popular .plan-name {
    padding: 20px 0;
  }
}
.pricing-4 .container .plan.popular + .plan {
  border-left-width: 1px;
}
@media (min-width: 768px) {
  .pricing-4 .container .plan.popular + .plan {
    border-left-width: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pricing-4 .container .plan.popular.col-sm-6 {
    border-width: 1px;
    border-right-width: 0;
    padding-bottom: 20px;
  }
  .pricing-4 .container .plan.popular.col-sm-6 + .plan {
    border-left-width: 1px;
  }
  .pricing-4 .container .plan.popular.col-sm-6 .plan-name {
    padding: 10px 0;
  }
}
.pricing-4 .container .plan ul {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.pricing-4 .container .plan ul li {
  list-style-type: none;
  border-bottom: 1px solid #efefef;
  line-height: 180%;
}
.pricing-4 .container .plan ul li:first-child {
  border-top: 1px solid #efefef;
}
.pricing-4 .container .plan .price {
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 0;
  margin-bottom: 10px;
}
.pricing-4 .container .plan .price p {
  margin-bottom: 0;
  line-height: 1;
}
