.pricing-3 {
  text-align: center;
}
.pricing-3 .container .row + * {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .pricing-3 .container .row + * {
    margin-top: 50px;
  }
}
.pricing-3 .container .plan {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #252525;
  position: relative;
  border-right-width: 1px;
  padding-bottom: 105px;
  margin-top: 0;
}
.pricing-3 .container .plan + .plan {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .pricing-3 .container .plan {
    border-right-width: 0;
    margin-top: 30px;
  }
}
.pricing-3 .container .plan.popular {
  border-right-width: 1px;
  margin-top: 30px;
  padding-bottom: 105px;
}
.pricing-3 .container .plan.popular + .plan {
  border-left-width: 1px;
}
@media (min-width: 768px) {
  .pricing-3 .container .plan.popular {
    margin-top: 0px;
    padding-bottom: 165px;
  }
  .pricing-3 .container .plan.popular + .plan {
    border-left-width: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pricing-3 .container .plan.popular.col-sm-6 {
    padding-bottom: 105px;
    border-right-width: 0;
  }
  .pricing-3 .container .plan.popular.col-sm-6 + .plan {
    border-left-width: 1px;
  }
}
.pricing-3 .container .plan:last-child {
  border-right-width: 1px;
}
.pricing-3 .container .plan .plan-name {
  border-bottom: 1px solid #252525;
  padding: 15px 0;
}
.pricing-3 .container .plan ul {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.pricing-3 .container .plan ul li {
  list-style-type: none;
}
.pricing-3 .container .plan .price {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.pricing-3 .container .plan .price p {
  margin: 0;
}
.pricing-3 .container .plan .price .divider {
  line-height: 80%;
}
.pricing-3 .container .plan .price .divider:before,
.pricing-3 .container .plan .price .divider:after {
  content: ' ';
  background: #757575;
  width: 20px;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
}
.pricing-3 .container .plan .price .divider:before {
  margin-right: 10px;
}
.pricing-3 .container .plan .price .divider:after {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .pricing-3 .container .plan.col-xs-12 {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pricing-3 .container .plan.col-sm-6 {
    margin-top: 0px;
  }
  .pricing-3 .container .plan.col-sm-6:nth-child(2) {
    border-right-width: 1px;
  }
  .pricing-3 .container .plan.col-sm-6:nth-child(n+3) {
    margin-top: 30px;
  }
}
