.footer-5 {
  border-top-width: 2px;
  z-index: 3;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-5 {
    text-align: inherit;
  }
}
.footer-5 .container .socials-row {
  position: absolute;
  right: 0;
  top: -65px;
}
@media (max-width: 767px) {
  .footer-5 .container .socials-row {
    left: 0;
  }
  .footer-5 .container .socials-row .network-icon + .network-icon {
    margin-left: 5px;
  }
}
.footer-5 .container div + div {
  margin-top: 20px;
}
.footer-5 .container div .alt-link {
  text-decoration: none;
}
@media (max-width: 767px) {
  .footer-5 .container .pull-right,
  .footer-5 .container .pull-left {
    float: none !important;
  }
  .footer-5 .container a + ul {
    margin-top: 20px;
  }
}
