keyring/*
.idea/
.sass-cache/
img/*

img/db/*
img/public_db/*
img/public_cache/*
img/cache/*

!img/index.html
!img/db/index.html
!img/cache/index.html
!img/public_db/index.html
!img/public_cache/index.html


cron/tmp/

ecom/keyring/*
deleteme.php
vendor/*
EcomB2B/vendor/*
websocket_server/vendor/*


node_modules/*


websocket_server/composer.lock
/bower_components/*
/box/tests/box_registration.test.php

server_files/
/EcomB2B/css/staging/
/webfonts/
/css/staging/
/EcomB2B/assets/
/assets/*.min*
cron/add_new_system_webpage.php
app_files/po_sources_from_smarty/au.php
app_files/po_sources_from_smarty/web.php
