SetEnv devel 1
SetEnv preview 1


RewriteEngine On


<Files ~ "\.tpl$">
Order allow,deny
Deny from all
</Files>

RewriteRule (fork|websocket_server|EcomB2B|box|app_files|cron|server_files) - [R=404,L]

Options -Indexes


RewriteRule ^api/ api.php [L]
RewriteRule ^picking/ apps/picking/app.php [L]


RewriteRule ^$ /app.php [L]

RewriteBase /
RewriteRule ^(js|css|templates)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) app.php [QSA,L]