SetEnv devel 1
SetEnv preview 1


RewriteEngine On

RedirectMatch 403 ^/fork/.*$
RedirectMatch 403 ^/websocket_server/.*$


RewriteRule ^api/ api.php [L]


RewriteRule ^$ /app.php [L]

RewriteBase /
RewriteRule ^(js|css|templates)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) app.php [QSA,L]