RewriteEngine On
#RewriteRule ^images/(\d+) public_image.php?id=$1


RewriteRule ^/api/ api.php


RewriteRule ^$ /app.php [L]

RewriteBase /
RewriteRule ^(js|css|templates)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) app.php [QSA,L]