@keyframes animate-spin-to-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    20% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}