.luigi-ac-ribbon {
    /* Border top of the Autocomplete */
    background: var(--luigiColor1) !important;
}


/* Styling for Layout: Hero */
.luigi-ac-hero-color {
    background: var(--luigiColor1) !important;
}
.luigi-ac-others {
    background: #F3F7FA !important;
}
.luigi-ac-header {
    color: var(--luigiColor1) !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}
.luigi-ac-highlight {
    background: color-mix(in srgb, var(--luigiColor3) 90%, transparent) !important;
    color: #fff !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.luigi-ac-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.luigi-ac-item.active, .luigi-ac-active {
    background: #F3F7FA !important;
}

.luigi-ac-item:hover, .luigi-ac-other:hover {
    background: color-mix(in srgb, var(--luigiColor1) 10%, transparent) !important;
}
/* End of styling for Layout: Hero */


.luigi-ac-button-buy {
    background: var(--luigiColor1) !important;
    border-radius: 5px;
}

.luigi-ac-button-buy:hover {
    background: color-mix(in srgb, var(--luigiColor1) 75%, black) !important;
}


.luigi-ac-button {
    background: transparent !important;
    transition: background 0.05s !important;
    border-radius: 5px !important;
    border: 1px solid var(--luigiColor1) !important;
    color: var(--luigiColor1) !important;
}

.luigi-ac-button:hover {
    background: color-mix(in srgb, var(--luigiColor1) 10%, transparent) !important;
}

.luigi-ac-heromobile .luigi-ac-first-main .luigi-ac-text {
    padding-top: 0px !important;
}

.luigi-ac-heromobile .luigi-ac-name {
    height: fit-content !important;
}

/* Copyright */
.luigi-ac-footer {
    visibility: hidden !important;
}


.luigi-ac-heromobile .luigi-ac-first-main .luigi-ac-item .luigi-ac-attrs {
    overflow: visible !important;
}

.luigi-ac-no-result {
    color: var(--luigiColor3) !important;
}


/* Top Product styling (luigi-ac-first-main) */
.luigi-ac-first-main .luigi-ac-attr--formatted_price {
    margin-top: 5px;
    font-size: 1.05rem !important;
    display: block !important;
    color: var(--luigiColor1) !important;
}

.luigi-ac-first-main .luigi-ac-attr--description {
    text-align: justify !important;
    display: -webkit-box !important;
    margin-top: 5px !important;
    font-size: 0.7rem !important;
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;  /* This will not work in most browsers but included for future compatibility */
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}

.luigi-ac-first-main .luigi-ac-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
}

.luigi-ac-first-main .luigi-ac-button-buy {
    padding: 6px 20px !important;
}

.luigi-ac-heromobile .luigi-ac-first-main .luigi-ac-item .luigi-ac-attrs {
    max-height: 900px !important;
    display: block !important;
}

.luigi-ac-heromobile .luigi-ac-first-main .luigi-ac-item {
    padding: .4em 0.8em !important;
}


/* Products styling */
.luigi-ac-rest-main .luigi-ac-attrs {
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    max-height: 60px !important;
}

.luigi-ac-rest-main .luigi-ac-attr--formatted_price {
    display: block !important;
    color: var(--luigiColor1) !important;
}

/* Button: Shop Today */
/* .luigi-ac-heromobile .luigi-ac-first-main .luigi-ac-action-primary {
    margin-top: 20px;
    position: inherit !important;
    width: 100% !important;
} */


/* ====================================== Search result */

.lb-search-text-color-primary {
    color: var(--luigiColor3) !important;
}

.lb-result__title {
    margin-bottom: 1px !important;
}

.lb-search .lb-search__aside.is-active {
    padding: 70px 20px 100px 20px !important;
}

.lb-search .lb-search__close-filter {
    top: -47px !important;
}

.lb-search .lb-checkbox {
    padding: 1px 0 1px 10px !important;
}

.lb-search .lb-checkbox__text {
    padding-top: 1.5px !important;
    margin-left: 15px !important;
}

.lb-search .lb-result__description {
    text-align: justify !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    line-clamp: 3 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-bottom: 10px !important;
}

.lb-result__actions {
    display: flex !important;
    place-items: center !important;
    justify-content: space-between !important;
    row-gap: 5px !important;
}

.lb-result__prices {
    flex-grow: 1 !important;
    margin-bottom: 15px !important;
}

.lb-result__price {
    display: flex !important;
    place-content: center !important;
    text-align: center !important;
    color: var(--luigiColor3) !important;
}

.lb-result__action-buttons {
    flex-grow: 1 !important;
}


.lb-search .lb-result__action-item {
    width: 100% !important;
    margin: 0px !important
}

.lb-search-text-color-primary-clickable {
    color: var(--luigiColor2) !important;
}

.lb-search-bg-color-primary-clickable {
    background: transparent !important;
    color: var(--luigiColor1) !important;
    border: 1px solid var(--luigiColor1) !important;
    border-radius: 4px !important;
}

.lb-search-bg-color-primary-clickable:hover {
    background: color-mix(in srgb, var(--luigiColor1) 20%, transparent) !important;
    
}

@media only screen and (max-width: 640px) {
    .lb-search .lb-checkbox__text {
        margin-left: 25px !important;
    }
}