.team-2 {
  text-align: center;
}
.team-2 .container * + .row {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .team-2 .container * + .row {
    margin-top: 50px;
  }
}
.team-2 .container .row img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.team-2 .container .row a.bio {
  width: 50px;
  line-height: 50px;
  border-width: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
}
