.contact-1 {
  padding: 0 0 50px;
}
@media (min-width: 768px) {
  .contact-1 {
    padding: 0 0 100px;
  }
}
.contact-1 #map-canvas {
  width: 100%;
  height: 200px;
  z-index: 5;
}
@media (min-width: 768px) {
  .contact-1 #map-canvas {
    height: 400px;
  }
}
.contact-1 .container {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .contact-1 .container {
    margin-top: 50px;
  }
}
.contact-1 .container * + form {
  margin-top: 30px;
}
.contact-1 .container form .form-group {
  width: 100%;
}
.contact-1 .container .company-info > div {
  text-align: center;
  border-left: 1px solid #efefef;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .contact-1 .container .company-info > div {
    border-left-width: 0;
  }
  .contact-1 .container .company-info > div:first-child {
    padding-top: 30px;
    border-top: 1px solid #efefef;
  }
}
.contact-1 .container .company-info > div + div {
  padding-top: 30px;
  border-top: 1px solid #efefef;
}
.contact-1 .container .company-info > div .network-icon {
  margin-top: 20px;
}
