.blog_post-2 {
  padding: 50px 0;
}
.blog_post-2 .blog-post-social {
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .blog_post-2 .blog-post-social {
    text-align: inherit;
  }
}
.blog_post-2 .blog-post-social .container div {
  display: inline-block;
}
.blog_post-2 .blog-post-social .container div + div {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .blog_post-2 .blog-post-social .container div + div {
    margin-left: 20px;
  }
}
.blog_post-2 .blog-post-social .container .fb-share-button span {
  height: 26px !important;
}
.blog_post-2 .blog-post-social .container .twitter-share-button {
  width: 90px !important;
}
.blog_post-2 .blog-post-title {
  padding-bottom: 20px;
}
.blog_post-2 .blog-post-content .container img + * {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .blog_post-2 .blog-post-content .container img + * {
    margin-top: 50px;
  }
}
.blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent {
  margin-top: 50px;
}
.blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent > div.row {
  margin-left: 0;
  margin-right: 0;
}
.blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent > div.row > .col-xs-4 {
  border-bottom-width: 0;
  padding: 0;
}
.blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent > div.row > .col-xs-4 + .col-xs-4 {
  padding-left: 15px;
}
@media (min-width: 992px) {
  .blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent > div.row > .col-xs-4 {
    border-bottom: 1px solid #d1d5d8;
    padding: 10px 0;
  }
  .blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent > div.row > .col-xs-4 + .col-xs-4 {
    padding-left: 0;
  }
}
.blog_post-2 .blog-post-content .container .col-md-4 .blog-post-recent > div.row > .col-xs-4 .alt-link {
  text-decoration: none;
}
.blog_post-2 .blog-post-content .container .col-md-4 > div {
  border-top: 1px solid #d1d5d8;
}
.blog_post-2 .blog-post-content .container .col-md-4 > div.blog-post-recent,
.blog_post-2 .blog-post-content .container .col-md-4 > div.blog-post-about {
  margin-top: 30px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  .blog_post-2 .blog-post-content .container .col-md-4 > div.blog-post-recent,
  .blog_post-2 .blog-post-content .container .col-md-4 > div.blog-post-about {
    margin-top: 0;
    padding-bottom: 30px;
    border-top: none;
  }
}
.blog_post-2 .blog-post-content .container .col-md-4 > div.blog-post-recent .row + .row {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .blog_post-2 .blog-post-content .container .col-md-4 > div.blog-post-recent .row + .row {
    margin-top: 0;
  }
}
