
#app_left_menu {




  margin-top: $height_short_row;
  position: fixed;
  float: left;
  height: 100%;
  width: $left_menu_width;
  background: $color_dark;
  color: $color_dark_font;
  font-size: 16px;
  a {
    color: $color_dark_font;
  }
  ul {
    font-family: $font_title;
    font-weight: 300;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include unselectable;
  }
  li {
    padding: 3px 5px 3px 20px;
    background-color: $color_dark_strong;
    cursor: pointer;
    border-top: 1px solid $color_dark_darker_font;
    color: $color_dark_font;

    &.jump {
      margin-top:10px;
    }

    &:last-of-type, &.last {
      border-bottom: 1px solid $color_dark_darker_font;
    }
    .fa,.fal,.fas,.far,.fab  {
      margin-right: 6px;
      font-size: 95%;
      opacity: .50;
      &.highlight {
        opacity: 1
      }
    }
    &:hover {
      background-color: $color_dark_highlight;
      color: $color_dark_font_highlight;
      &:last-of-type {
        border-bottom: 1px solid $color_dark_darker_font;
      }
      .fa,.fal,.fas,.far,.fab  {
        opacity: 1;
      }
    }
  }
  li.section {
    display: none;
    padding-left: 50px;
    font-size: 80%;

  }
  li.selected, li.selected:hover {
    color: $color_dark_font_selected;
    .fa,.fal,.fas,.far,.fab  {
      opacity: .75;
    }
  }
  li.section.selected, li.section.selected:hover {
    color: $color_dark_font_selected;
  }

  li.current_step, li.current_step:hover {
    color: $color_dark_font_current;
    .fa,.fal,.fas,.far,.fab {
      //  opacity: .75;
    }
  }

  #top_info {

    border-bottom: 1px solid #ccc;

    font-family: Ubuntu,"Lucida Grande","Lucida Sans Unicode",Verdana,Arial,sans-serif;
    background-color: #7A5AA6;color:white;
    height: 30px;
    line-height:30px;

            // line-height: $height_row;
    border-bottom: 1px solid $color_dark_darker_font;
    padding: 0;
   // background-color: $color_dark;
    font-size: 11px;
    text-align: center;
    div {
      height: 100%;
      float: left;
      text-align: center;
    }


  }
  #account_name {
   // color: $color_dark_brighter_font;
    width: 155px;
    text-align: center;
    &.link:hover {
     // color: $color_highlight_over_dark;
    }
  }
  #aurora_logo {
    width: 45px;
   // border-right: 1px solid white;
    padding: 0;
    vertical-align: middle;
    img {
      width: $height_row*.7;
      vertical-align: middle;
    }

  }

  #submit_ticket {

    i{
      display:none;
    }
  }


  #aurora_logo_small_screen {
    padding: 10px;
    text-align: center;
    display: none;
    img {
      width: 60%
    }
  }

  .bookmarks{
    margin-top:5px;
  display:none
  }

}


