@media screen and (max-width: 1550px) {
  $grid_section_width_small: 1300px;

  .grid {
    padding-left: $grid_section_width_small;
  }

  .grid > section {
    width: $grid_section_width_small;
    margin-left: -$grid_section_width_small;
  }

  #app_left_menu {
    width: 40px;




    #account_name{
      display: none
    }

    #aurora_logo {
      width:40px
    }

    li {
      padding: 3px 5px 3px 10px;
    }

    .label {
      display: none
    }

.current_store_label i{
  display: none;
}


    #aurora_logo_small_screen {
      display: block;
      padding: 10px 0px;

      img {
        width: 60%
      }
    }

    .aurora_version {


      .timezone_info, .aurora, .full {
        display: none;
      }

      .small {
        display: block;
      }
    }


    #submit_ticket {
      span {
        display: none;
      }

      i {
        display: block;
      }
    }
    .bookmarks{

      .hide_desktop{ display: block;}

    }
  }

  #app_main {
    margin-left: 40px;
  }




  .right_bookmarks{
    display: none;
  }

}

