
.smart_search_result{
  position: absolute;background-color: white;width: 800px;border:1px solid #ccc;right: 0px;top:26px;padding: 2px 4px;z-index: 2000;color: #333;

  .search_result_title{
    width: 100%;border-bottom: 1px solid #eee;color:grey;
  }

  .results{
    width: 100%;
    td{padding: 1px 10px;border-bottom: 1px solid #e0e0e0}

    .icon{
      width: 30px;
    }

    .icon{
      width: 30px;
    }
    .col_1{
      width: 20%;
    }
    .col_2{
      width: 25%;
    }
    .col_3{
      width: 25%;
    }

    .customers  .col_1{
      width: auto;
      max-width: 80px;
    }


  }

}



#search_form {
  float: right;
  border-left: 1px solid #aaa;
  margin-left: 4px;
  #search {
    height: 20px;
    border: none;
    border-botom: 1px solid #ddd;
    padding-left: 5px;
    width: 280px;
    @include placeholder {
      color: #aaa;
      font-style: italic;
    }
  }
  mark {
    color: #000;
    background: none;
  }

  #clear_search {
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 101;
    font-size: 15px;
    cursor: pointer;
    line-height: 20px;
    color: grey;
    text-decoration: none;
  }
}

.search_results_container {
  z-index: 100;
  position: absolute;
  width: 750px;
  

  #results_container_shifted {
    position: relative;
    left: -427px;

  }

  // .results_container {

  table {
    border: 1px solid #ccc;
    background: #FFF;
    width: 100%;
    tr {
      cursor: pointer;
      border-bottom: 1px solid #eee;
      &:last-of-type {
        border-bottom: none;
      }
    }
    td.label {
      padding-left: 20px;
    }

    tr:hover, tr.selected {
      background: $color_background_selected;
    }
  }
  //  }
}
    
 
  
  