.new_object, .presentation_card, .showcase{
  table {
    width: 100%;
    .adr {
      padding: 5px 0px;
    }
    &.address tr {
      border: none;
      .label {
        width: 160px;
      }
    }
    .main_title {
      font-family: $font_title;
      font-weight: 300 !important;
      border: none;
      color: $color_dark_font;
      background-color: $color_dark;
      .button {
        .fa,.fal,.fas,.far,.fab{
          position: relative;
          top: 1px;
        }

      }
      .widget_types {
        @include unselectable;
        //height: $height_short_row;
        // line-height: $height_short_row;
        clear: both;
        border-bottom: none;
        color: $color_dark_font;
        font-size: $height_short_row*.7;
        background-color: $color_dark;
        .widget {
          //height: $height_short_row;
          float: left;
          padding: 0px 20px;
          border-right: 1px solid $color_dark_highlight;
          cursor: pointer;
          &.right {
            float: right;
            border-right: none;
            border-left: 1px solid #ccc;
          }
          .fa {
            font-size: 75%;
            // color: $color_dark_font;
            position: relative;
            top: -1px;
          }
        }
        .widget {
          &.selected, &.selected:hover {
            color: $color_dark_font_selected;
          }
          &:hover {
            color: $color_dark_font_hover;
          }
        }
      }
      .tabs {
        border-bottom: none !important;
        color: $color_dark_font !important;
        background-color: $color_dark !important;
        .tab, .element {
          border-right: 1px solid $color_dark_highlight;
          &.right {
            border-left: 1px solid $color_dark_highlight;
          }
          .fa {
            //color: $color_dark_font;
          }
        }
        .tab.widget:hover {
          background-color: #color_dark_highlight !important;
        }
        .tab {
          &.widget_selected:hover, &.widget_selected {
            color: $color_dark_font_selected !important;
          }
          &:hover, &.selected > .fa {
            // color: #666;
          }
        }
      }
    }
    .formated_value {
      margin-right: 10px;
    }
    td {
      vertical-align: text-top;
    }
    tr {
      border-bottom: 1px solid #ddd;
      height: $height_row;
      line-height: $height_row;
    }
    tr.small_row {
      height: $height_short_row;
      line-height: $height_short_row;
      //border-bottom: none;
    }
    tr.no_border {
      border: none;
    }

    tr.new {
      cursor: pointer;
    }
    .new_button {
      position: relative;

      left: 5px;
    }
    .title {
      border-top: none;
      td {
        font-family: $font_title;
        font-weight: 600;
        padding-top: 10px;
        .fa.link {
          margin-left: 5px;
          position: relative;
          top: 2px;
        }
      }
    }
    .label {
      width: 280px;
      vertical-align: top;
    }
    .value span {
      //padding-left: 5px;
    }
  }
}


@import 'showcase.subject';
@import 'showcase.order';
@import 'showcase.asset';


.order_flow.selected{
  border-bottom: 1px solid white;background-color: white
}


#main_image {
  border: 0;
}

#object_showcase {
  clear: both;
  font-size: 15px;
  tr.top {
    border-bottom: 1px solid #ccc;
  }
  div.container {
    border-bottom: 1px solid #ccc;
  }
  .subject_profile {
    border-bottom: 1px solid #ccc;
  }
  .data_container {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    i {
      margin-right: 10px;
    }
    .data_field {
      text-align: left;
      min-width: 300px;
      margin-bottom: 4px;
    }
  }
  h1 {
    font-family: $font_title;
    font-size: 140%;
    padding: 0px;
    margin: 0px;
    .id {
      color: #000;
    }
  }
}

.overview {
  font-size: 95%;
  float: left;
  margin-bottom: 10px;
  padding: 0 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
  width: 100%;
  &.with_title {
    border-top: none;
  }
  .text {
    padding: 10px 0px;
    p {
      margin-bottom: 0px;
    }
  }
  &.compact tr {
    height: $height_short_row;
  }
  tr {
    height: $height_medium_row;
  }
}

.half {
  float: left;
  min-height: 160px;
  padding: 10px 20px;
  h1 {
    font-size: 100%;
  }
  &.left {
    width: 50%;
    border-right: 1px solid #ccc;
  }
}

.main_image {
  border: 1px solid #ccc;
  background: #fff;
}

.wraptocenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
  padding-top: 0px;
}

.wraptocenter img {
  vertical-align: bottom;
  max-width: 270px;
  max-height: 270px;
}


.supplier_subject_showcase {


  .wraptocenter {

    width: 180px;
    height: 180px;

  }

  .wraptocenter img {

    max-width: 170px;
    max-height: 170px;
  }

}

.mesh {
  tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc
  }

  td {
    border-left: 1px solid #ccc;

    &:last-child {
      border-right: 1px solid #ccc;
    }
  }

}


