.side_content_icon {
  color: #9ABBD9
}

.side_content {
  .top {
    padding: 2px 5px;
    background: #9ABBD9;
    color: #FFF;
  }

  .content {

    padding: 12px 5px 10px;
    font-size: 95%;
    border-bottom: 1px solid #9ABBD9;
    color: #777;

  }
  .link {
    text-decoration: underline;
  }


}


