.square_button {
  height: $height_header;
  width: $height_header;
  font-size: 16px;
  text-align: center;
  line-height: $height_header;
  color: #444;
  cursor: pointer;

  &.text {
    width: 100px;

    &.width_150 {
      width: 150px;
    }
    &.width_250 {
      width: 250px;
    }
    &.width_auto {

      width: auto;padding-right: 10px;padding-left: 10px;
    }
  }

  .disabled {
    opacity: .2;

    &:hover {
      color: #444;
    }
  }

  &:hover {
    color: #000;
    background: #FFF;

    &.error{
      color:tomato;
    }

  }

  &.left {
    float: left;
    border-right: 1px solid #ccc;
  }

  &.right {
    float: right;
    border-left: 1px solid #ccc;

    &.border {
      border-right: 1px solid #aaa;
    }

  }
}