

.open_sticky_note {
    &.order_sticky_note{color:#ff7dbd}
    &.delivery_note_sticky_note{color:#94db84}
  &.customer_sticky_note{color:#7da7f4}


}


.sticky_notes{
  display: flex;
  align-items:stretch;
}



.sticky_note_container{
  flex-grow:1;position: relative;




  color:black;border-bottom:1px solid #777;background-color: #fff;

  &.deleted_note_sticky_note  {
    color: #fff;
    background-color:indianred;
    border-bottom:1px solid tomato;
  }

  &.order_customer_sticky_note  {
    color: #7d7b19;
    background-color:#EDEB82;
    border-bottom:1px solid #BAB84E;
  }

  &.delivery_note_sticky_note   {
    color: #444;
    background-color:#94db84;
    border-bottom:1px solid #78bf41;
  }

  &.order_sticky_note   {
    color: #fff;
    background-color:#ff7dbd;
    border-bottom:1px solid #e52789;
  }

  &.customer_sticky_note   {
    color: #fff;
    background-color:#7da7f4;
    border-bottom:1px solid #406ec2;
  }


  i {  opacity:.5;position:absolute;right:10px; color:#000;

    &.copy_to_delivery_note_sticky_note{
      color:#78bf41;opacity:1
    }
  }


  .sticky_note{
    padding:20px
  }

}



