section.table_block {

  .export_dialog_block {
    table {
      width: 100%;

      .main_title {
        font-family: $font_title;
        font-weight: 300 !important;
        border: none;
        color: $color_dark_font;
        background-color: $color_dark;
        .button {
          .fa,.fal,.fas,.far,.fab{
            position: relative;
            top: 1px;
          }

        }


      }
      .formated_value {
        margin-right: 10px;
      }
      td {
        vertical-align: text-top;
      }
      tr {
        border-bottom: 1px solid #ddd;
        height: $height_row;
        line-height: $height_row;
      }
      tr.small_row {
        height: $height_short_row;
        line-height: $height_short_row;
        //border-bottom: none;
      }
      tr.no_border {
        border: none;
      }

      tr.new {
        cursor: pointer;
      }
      .new_button {
        position: relative;

        left: 5px;
      }
      .title {
        border-top: none;
        td {
          font-family: $font_title;
          font-weight: 600;
          padding-top: 10px;
          .fa.link {
            margin-left: 5px;
            position: relative;
            top: 2px;
          }
        }
      }
      .label {
        width: 280px;
        vertical-align: top;
      }

    }
  }


  .table_views.tabs {
    @include unselectable;

    height: $height_short_row;
    line-height: $height_short_row;
    clear: both;
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: $height_short_row*.6;
    background-color: #fff;
    .tab, .element {
      height: $height_short_row;
      float: left;
      padding: 0 20px;
      border-right: 1px solid #ccc;
      cursor: pointer;
      &.right {
        float: right;
        border-right: none;
        border-left: 1px solid #ccc;
      }
      &.icon_only {

        padding: 0 10px
      }

      .fa,.far,.fas,.fab,.fab,.fal {
        font-size: 75%;
        color: #888;
        position: relative;
        top: -1px;
      }
    }
    .tab {
      &:hover, &.selected {
        background-color: #edf3f8;
        color: #000;
      }
      &:hover, &.selected > .fa,.far,.fas,.fab,.fal {
        color: #666;
      }
      i.success {


        color: $color_success

      }
    }


    .element {
      .qty {
        color: #aaa;
      }
      &.selected {
        color: #222;
      }
      &.selected > .qty {
        color: #111;
      }
      &:hover, &.selected > .fa,.far,.fas,.fab,.fal {
        color: #000;
      }
      .fa,.far,.fas,.fab,.fal {
        font-size: 100%;
        position: relative;
        top: 1px;
        margin-right: 5px;
      }
    }
  }

  button {

    color:#555;
    width: 100%;
    height: 100%;

    margin: 0;
    font-size: 14px;

      outline: none;

      cursor: pointer;





  }



  .popout_chooser {
    width: 200px;

    &.corner {
      border-left: none;
    }

    div {
      border-top: 1px solid #eee;
      padding: 4px 0px 4px 15px;
      cursor: pointer;

      .fa, .fal, .fas, .far, .fab {
        font-size: 70%;
        position: relative;
        top: -1px;
        margin-right: 2px;
        color: #999;
        transition: color .7s;
      }

      &:last-of-type {
        border-bottom: none;
      }

      &:hover > .fa, .fal, .fas, .far, .fab {
        color: #333;
      }

      &:hover > .fa, .fal, .fas, .far, .fab, &.selected > .fa, .fal, .fas, .far, .fab {
        color: #222;
      }
    }
  }

  .backgrid {
    .adr {
      padding-bottom: 10px;
      line-height: 140%;
    }

    .hide_extra_note_info .note_data {
      display: none;

    }


    th {
      text-align: left;

      button, a {
        font-weight: bold;
        text-align: left;
        cursor: pointer;
      }
    }

    th.sortable {

      button, a {

        cursor: pointer;
      }
    }


    th, td {
      vertical-align: top;
      white-space: normal;
    }

    th.align-right {
      text-align: right;

      button {
        text-align: right;
      }

    }

  }


  .edit_table_dialog {
    position: absolute;
    background-color: #fff;
    z-index: 200;
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 450px;

    table td {
      padding: 4px 16px
    }
  }


  .table_info {

    border-bottom: 1px solid #ccc;
    height: $height_header;
    line-height: $height_header;
    clear: both;

    #show_filter, #filter_submit {
      border-right: 1px solid #ccc;
      margin-right: 4px;
    }

    #filter {
      float: right;
      width: 248px;
    }

    #filter_field {
      float: right;
      margin-right: 10px;
    }

    #prev_page.disabled, #first_page.disabled {
      border-left: 1px solid #000;
    }

    #table_buttons {
      div {
        &:first-of-type {
          // border-right: 1px solid #ccc;
          // margin-right: 2px;
        }
      }

      div {
        &.move_left {
          border-right: 1px solid #ccc;
          margin-right: 32px;
        }
      }

    }

    .results_per_page {
      &.square_button {
        font-size: 11px;

        .selected {
          color: steelblue;
          font-weight: 800;
        }

      }

    }

  }

  #table {

    &.with_totals {

      table.backgrid {

        tr:nth-last-child(2) td {
          border-bottom-color: #aaa
        }
      ;

        tr:last-child td {;
          border-bottom-color: #ccc;
          color: #333
        }
      }

    }

    .totals td {
      color: #333;
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #ccc;
    }

    [contenteditable="true"]:empty {
      padding: 0 10px;
    }

    .table_item_editable{
      &.editing {
        background-color: #edf5f8;
      }


      &.editing.edited {
        background-color: #c9e3ec;
      }

      &.editing.success {
        background-color: #c8eed8;
      }


      &.editing.error {
        background-color: #faa9a9;
      }
    }

    .mini_table {
      padding: 10px 0px;

      &.no_padding {
        padding: 0px;

        > div:first-of-type .data {
          border-top: 0px solid #eee;
          padding-top: 0px;


        }

      }


      > div:first-of-type .data {
        border-top: 1px solid #eee;


      }


      .data {
        padding: 2px 0px;
        border-bottom: 1px solid #eee;
        float: left
      }

      &.right .data {
        float: right;
      }

      .w150 {
        min-width: 150px;
        max-width: 200px;
      }

      .w30 {
        min-width: 30px;
      }

      .w100 {
        min-width: 100px;
      }

      .w200 {
        min-width: 200px;
      }

      .w75 {
        min-width: 75px;
      }

      .part_stock {;
        text-align: right;
      }
    }

    .as_table {
      display: table;

      .as_row {
        display: table-row;

        &.header {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }

        .as_cell {
          display: table-cell;
        }
      }
    }

  }


  .export_dialog_container{
    .export_dialog_block {
      position: absolute;
      z-index: 201;
      background: #fff;
      border: 1px solid #ccc;
      padding: 10px 20px;

      .fa {
        margin-right: 5px;
      }

    }
    .export_dialog_config {
      min-width: 400px;
    }

    .export_dialog {
      min-width: 220px;

      .export_progress_bar_container {
        width: 120px;
        align: center;
        padding: 0px;
        position: relative;

        .export_progress_bar_bg {
          position: absolute;
          top: 1px;
          color: #ddd;
          z-index: 10;
        }

        .export_progress_bar, .export_download {
          position: absolute;
          top: 6px;
          background: green;
          width: 0%;
          overflow: hidden;
          color: #fff;
          z-index: 20;
          height: 22px;
          line-height: 22px;
          -webkit-transition: width 1s;
          transition: width 1s;
        }

        .export_download {
          text-align: center;
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }

}

tr.deleted_tr td:not(.inmmune) {
  text-decoration: line-through;
  color: red;
  opacity: .5;

  img {
    background: red;
    opacity: 1;
  }

  .tint {
    position: relative;
    float: left;
  }

  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 0, 0, 0.25);
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
  }
}

tr.deleting_tr {
  opacity: .5;
}

.table {
  div.tr {
    width: 100%;
    clear: both;
    border-top: 1px solid #ddd;
  }

  div.tr > div {
    float: left;
  }
}






/*


table.filter {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  td {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #eee
  }
}
*/

