#navigation {
  margin-top: $height_short_row;
  height: $height_header+$height_address_bar;

  #address_bar {
    font-size: 14px;
    background: #f7f7f7;
    color: #333;

    padding-right: 0;

    height: 28px;
    line-height: 28px;


    #top_menu {
      flex-grow: 1;display: flex;
      background-color: #fff;
      border-bottom: 1px solid #ccc;

      & > div {


        flex-grow: 2;
        text-align: center;
        @include unselectable;
        font-family: $font_title;
        cursor: pointer;
        color: #333;

        i {
          margin-right: 5px;
          color: #999;
        }

        &.selected {
          background-color: #fff;
          color: #7a5aa6;
          border-bottom: 1px solid #7a5aa6;

          i{
            color: #7a5aa6;
          }


        }
        &:hover {
          background-color: #fff;
          color: #7a5aa6;
          border-bottom: 1px solid #7a5aa670;
        }


        border-right: 1px solid #eee;

      }
      .aux{
        flex-grow: 1;
      }

      .selected{
        background-color: #ede3fa;
      }



    }


  }


  #au_header {
    text-align: left;
    padding: 0;
    background: $header_background_color;
    height: $height_header;
    line-height: $height_header;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    .title {
      float: left;
      padding-left: 10px;
    }
    .skip {
      float: right;
      padding-right: 20px;
      padding-left: 20px;
      border-left: 1px solid #ccc;
      color: $color_warning
    }

  }
}
