.website_navigation{
  padding:5px 10px;position:relative;top:1px;
  border-bottom: 1px solid #999;border-top: 1px solid #aaa;background: #fafafa;
}


 #images_layout_ideas{
        width: 630px;
        position: absolute;
        background: #fff;
        border: 1px solid #ccc;
        padding: 10px 20px 20px;
        z-index: 3000;
    }
    #images_layout_ideas div.options {

        display: flex;


        flex-wrap: wrap
    }

    #images_layout_ideas div.options img {
        padding: 5px;
        width: 200px;height: 80px;

    }

#text_layout_ideas{
  width: 630px;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px 20px;
  z-index: 3000;
}
#text_layout_ideas div.options {

  display: flex;


  flex-wrap: wrap
}

#text_layout_ideas div.options img {
  padding: 5px;
  width: 200px;height: 80px;

}

.block_margins_container{
  display: inline;
}


.edit_block_input{
  width: 40px;text-align:center;
  &.top{
    border-top:2px solid #000;
  }

  &.bottom{
    border-bottom:2px solid #000;

  }

  &.left{
    border-left:2px solid #000;

  }
  &.right{
    border-right:2px solid #000;

  }

}





    .control_panel {

      .columns {
        margin: 0;
        position: relative;

        padding: 0;
        float: left;
      }



      .sortable2 {
        margin: 0;
        padding: 0;
        float: left;
      }

      .sortable2 li {
        float: left;
        list-style: none;
        text-align: center;
        margin-right: 10px;

        border: 1px solid #ccc;
        white-space: nowrap;

      }

      .column_label {
        border: 1px solid #ccc;
        padding: 4px 8px;
        white-space: nowrap;
      }
      .column_extra_label {
        border: 1px solid #ccc;
        padding: 4px 8px;
      }

      .columns li {



        float: left;
        list-style: none;
        text-align: center;
        margin-right: 10px;

        border: 1px solid #ccc;
        padding:4px 16px 4px 8px;
        margin-bottom: 10px;

        .column_show {
          margin-left: 10px;
        }
      }

      .columns li.hidden_menu {




        padding:4px 8px;

        .handle2,.label{
          display:none
        }

        .open_edit i{
          margin-left:0;
          margin-right:0;
        }

        .column_show{
          margin-left:0;
        }


      }



      .handle2{
        margin-left:5px;cursor: move
       }
      .block_show{
        margin-left:10px
      }

      .open_edit i{
        margin-left:10px;
        margin-right:5px
      }

    }

    .slider_preview{
      float:left;margin-right:5px;width:40px;height:20px;border: 1px solid #ccc
    }

    .slider_preview.selected{
        border: 1px solid #aaa;

    }