.block h2 {background-color: #BD4A18; color: #fff; font-size: 1.2em; padding: 5px; width: 98%;}
.block h3, h4 {color: #697922; font-size: 1.1em; padding: 15px 0 5px;}
.block a {color: #BD4A18;}

.block li {padding: 2px 0;}

dt {
	font-weight: bold; 
	margin: 15px 40px 5px;
	cursor: pointer;
	text-decoration: underline;
	color: #BD4A18;
}

	dt:before {
		content: "Q";
		font-size: 1.5em;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-right: 7px;
		padding: 2px 6px 5px;
		color: #FFD87D;
		background-color: #BD4A18;
		font-weight: normal;
		
		margin-left: -35px;
		position: relative;
		top: 10px;
	}


dd {
	margin: 25px 70px 0px;
	padding-bottom: 12px;
	line-height: 150%;	
	}
	
	dd:before {
		content: "A";
		font-size: 1.5em;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-right: 7px;
		padding: 2px 9px;
		color: #752E0F;
		background-color: #FFD87D;
		
		margin-left: -38px;
		position: relative;
		top: 10px;
	}

p {line-height: 150%;}
	
.show {display: block;}
.hide {display: none;}	
