/* CSS Document */

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background-color: #ffF;
    font: 13px/24px Helvetica, Arial, sans-serif;
    color: #092d2f;
}
#wrap {
    margin: 0 auto;
    width: 940px;
}

h1, h2 {
    text-shadow: 0 1px 0 #000;
}

h1,h2,h3 {
    font-weight: normal;
    color: #006047;
}

h1 {
    font-size: 27px;
    color: #66CCFF;	
    padding: 20px 23px 23px;
    background-color: #004E77;
    margin-bottom: 20px;			
}

h1 span {
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 23px;
    float: left;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    color: #006047;
}

h5 {
    font-size: 13px;
    font-weight: bold;
}

p {
    padding-bottom: 20px;
}

a:link, a:visited {
    color: #2484D8;
}

a:hover {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tar {
    text-align: right;
}

.clearfix {
    clear: both;
}

#intro {
    padding: 0 22px;
}

.details {
    padding: 0 12px;
    width: 175px;
    float: right;
}

.details p {
    padding-bottom: 5px;
}

#intro {
    width: 490px;
    float: left;
}

#table-contents {
    margin-bottom: 70px;
    padding: 0 22px;
}

#table-contents .table {
    float: left;
    margin-top: 15px;
    margin-right: 50px;
    list-style: none;
}

#table-contents ul li {
    padding-bottom: 8px;
}

#table-contents ul ul {
    padding-left: 22px;
}

.section-head {
    background-color: #0B7484;
    padding: 15px 18px;
    margin-bottom: 25px;
}

.sub-head {
    background-color: #d6f3f8;
    padding: 10px 13px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sub-head h3 {
    float: left;
}

.sub-head a {
    color: #006047;
    text-decoration: none;
    float: right;
}

.section-head a {
    color: #C4EDFC;
    text-decoration: none;
    float: right;
}

.section-head a:hover, .sub-head a:hover {
    text-decoration: none;
}

.section {
    padding: 0 21px 10px;
}

.section ul, .section ol {
    margin-left: 35px;
    line-height: 20px;
}

.section>ul, .section ol {
    margin-bottom: 30px;
}

.section ul li, .section ol li {
    padding-bottom: 5px;
}

p span {
    background-color: #B0DAE5;
    padding: 3px 7px;
}

.ruler {
    margin: 5px 0 45px;
    border-bottom: 1px dotted #85B9D1;
}

.note {
    font-style: italic;
    font-weight: bold;
}
