

.page_title4 {
	position: relative;
	float: left;
	width: 100%;
	padding: 70px 0;
	background: #f3f3f3;
}
.page_title4 .title {
	width: 100%;
	float: left;
	text-align: left;
	margin: 0;
}
.page_title4 .title h1 {
	margin: 0;
	color: #293139;
	text-transform: none;
	font-size: 40px;
}
.page_title4 .line{
    background: #999;
    position: absolute;
    height: 1px;
    display: block;
    width: 100px;
	margin-top: 12px;
}
.page_title4 h6 {
	float: left;
	margin-top: 30px;
	margin-bottom: 0;
	color: #727272;
	font-weight: 300;
	line-height: 25px;
	width: 85%;
}

/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	text-align: left;
	color: #333;
	line-height: 30px;
	display: block;
}
.blog_post h3 a {
	color: #e54c4c;
	text-decoration: none;
	margin-top: 3px;
	text-transform: none;
	font-weight: 400;
	font-size: 30px;
}
.blog_post h3 a:hover {
	color: #383634;
}
ul.post_meta_links {
	float: left;
	margin: -5px 0 0;
	padding: 0;
}
.post_meta_links li {
	float: left;
	margin: 0;
	padding: 0 0 0 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li a {
	color: #999;
	padding: 0 18px 0 0;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.post_meta_links li i {
	color: #bbb;
	font-size: 12px;
	font-style: normal;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 100%;
	margin-bottom: 27px;
}

.blog_postcontent .image_frame.mone {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mtwo {
	float: left;
	width: 100%;
	height: 180px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mthree {
	float: left;
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mone img,
.blog_postcontent .image_frame.mtwo img,
.blog_postcontent .image_frame.mthree img {
	float: left;
	width: auto;
	margin-left: -45%;
	margin-top: -10%;
}


.blog_postcontent .video_frame.mtwo iframe {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}


.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow:  0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 100%;
}
.blog_postcontent .video_frame.small iframe {
	height: 250px;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 100%;
	height: 520px;
	margin-bottom: 27px;
}
.post_info_content_small {
	padding: 0;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0 12px 80px;
	padding: 0;
	width: 80%;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0 5px 0 0;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0 5px 0 0;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	color: #454545;
	font-size: 16px;
	font-weight: normal;
}
.blog_post a.date:hover {
	color: #e54c4c;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore.jpg) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore_hover.jpg) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 40px;
}
.sharepost ul {
	margin: 0;
	padding: 0;
}
.sharepost li {
	margin: 0 7px 5px 0;
	padding: 2px 5px;
	float: left;
	border-radius: 2px;
	list-style-type: none;
	background-color: #e54c4c;
	transition: all 0.3s ease;
}
.sharepost li i {
	color: #fff;
}
.sharepost li:hover {
	background-color: #383634;
}

.about_author {
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
	color: #333;
}
.about_author a:hover {
	color: #e54c4c;
}



.address_info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px;
	width: 99%;
	margin-bottom: 40px;
}
.address_info.two {
	background-color: #fff;
	border: none;
	padding-top: 0;
}
.address_info h3 i {
	font-weight: 500;
	font-style: normal;
}

.google-map {
	width: 100%;
	height: 450px;
}

/* sidebar widget */
.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.sidebar_widget ul.arrows_list1{
	padding: 0;
	margin: 0;
	float: left;
	margin-top: -10px;
}
.sidebar_widget ul.arrows_list1 li a {
	color: #e54c4c;
	line-height: 30px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #272727;
}
.sidebar_widget ul.arrows_list1 i {
	margin-right: 4px;
}
.sidebar_title {
	float: left;
	width: 100%;
}
.sidebar_widget h4, .clientsays_widget h4 {
	margin-bottom: 30px;
	float: left;
	font-weight: 300;
}
.sidebar_widget h4 i, .clientsays_widget h4 i {
	font-weight: 500;
	font-style: normal;
}

/* Recent Posts */
ul.recent_posts_list {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0 0 13px;
	margin: 0 0 16px;
	list-style-type: none;
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 17px;
	display: block;
	color: #999;
}
.recent_posts_list li a:hover {
	color: #e54c4c;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li i {
	padding: 1px 0 0;
	margin: 0;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #c9c9c9;
}
.recent_posts_list li.last {
	padding: 0 0 7px;
	margin: 0;
	border-bottom: 0 solid #f5f6f6;
}




.page_not_found {
	padding: 50px 30px 58px;
	margin: 0 auto;
	width: 59%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.page_not_found strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
	font-weight: normal;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #fafafa;
}
.page_not_found b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.page_not_found em {
	display: block;
	font-size: 18px;
	line-height: 59px;
	color: #e54c4c;
	margin: 0;
	font-style: normal;
}

/*
------------------------
 UPDATED VERSION 1.2
------------------------*/

.mitemnew {
	color: #fff;
	padding: 1px 4px;
	background: #e54c4c;
	border-radius: 2px;
	font-size: 11px;
	font-weight: 500;
}
