.notifications_control_panel{

  & > table{
    margin-left: 20px;margin-right: 20px;

    tr{
      border-bottom: 1px solid #e0e0e0;
    }

    td{
      &.label{
        width: 250px;
      }
    }

    input {
      padding-left: 5px;
      width: 350px;
    }

    .save{
      opacity:0.6;
      &.valid{
        color:$color_save;
        cursor: pointer;
      }
      &.invalid{
        color:$color_error;
      }
      &.changed{
        opacity: 1;
      }
    }

  }

}