.notifications_control_panel{

  .notification_subscription{

    margin-bottom: 30px;
  }

  & > table{

    .title{
      margin-bottom: 0px;
      font-weight: 800;

    }



    margin-left: 20px;margin-right: 20px;

    tr{
      border-bottom: 1px solid #e0e0e0;padding: 2px 5px;
    }

    td{
      &.icon{width: 30px;text-align: center}
    }


    input {
      padding-left: 5px;
      width: 350px;
    }

    .save{
      opacity:0.6;
      &.valid{
        color:$color_save;
        cursor: pointer;
      }
      &.invalid{
        color:$color_error;
      }
      &.changed{
        opacity: 1;
      }
    }

  }

}