.landing-7 {
  text-align: center;
}
@media (min-width: 768px) {
  .landing-7 {
    text-align: inherit;
  }
}
.landing-7 .container * + .row {
  margin-top: 30px;
}
.landing-7 .container .box {
  border-width: 5px;
  padding: 0;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-7 .container .col-xs-12 + .col-xs-12 {
    margin-top: 30px;
  }
}
