.landing-5 {
  text-align: center;
}
@media (min-width: 992px) {
  .landing-5 {
    text-align: inherit;
  }
}
.landing-5 .container .form-inline {
  width: 100%;
}
.landing-5 .container .social {
  margin-top: 20px;
}
.landing-5 .container .social > div {
  display: inline-block;
}
.landing-5 .container .social > div + div {
  margin-left: 20px;
}
.landing-5 .container .social > div.fb-like span {
  height: 27px !important;
}
.landing-5 .container .social > div.twitter-follow-button {
  width: 140px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-5 .container .col-xs-12 + .col-xs-12 {
    margin-top: 30px;
  }
}
