/* CSS Document */

a:link, a:visited {
	color: #46782f;
}

#logo {
	background: #57824a url(../images/skins/evergreen/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #131f09;
	border-bottom: 3px solid #131f09;
	border-left: 1px solid #131f09;
}

#headline-callout h1, #headline-callout h2 {
	color: #344F1D;
}

#main-nav a:hover {
	color: #42632f;
}

#main-nav #nav-selected {
	background: #57824a url(../images/skins/evergreen/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #131f09;			
}

#main-nav #nav-selected:hover {
	background: #75a666 url(../images/skins/evergreen/nav-btn-selected-roll.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #131f09;				
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px; 
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #131f09; 
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #57824a url(../images/skins/evergreen/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #314F18; 
}

.large-primary-btn:hover span {
	background-color: #446B23; 
}

.large-primary-btn:hover {
	background: #75a666 url(../images/skins/evergreen/large-primary-btn-roll.gif) repeat-x 0 bottom;
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px; 
}

.small-primary-btn {
	background: #57824a url(../images/skins/evergreen/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #75a666 url(../images/skins/evergreen/small-primary-btn-roll.gif) repeat-x 0 bottom;
}

.arrow-list li a {
	background: url(../images/skins/evergreen/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/evergreen/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/evergreen/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/evergreen/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/evergreen/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/evergreen/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/evergreen/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #57824a url(../images/skins/evergreen/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #131f09; 	
}

#pagination a#current:hover {
	background: #75a666 url(../images/skins/evergreen/small-primary-btn-roll.gif) repeat-x 0 bottom;	 
}

.widget h3 {
	background: #57824a url("../images/skins/evergreen/large-primary-btn.gif") repeat-x 0 bottom; 
	border-bottom: 2px solid #131f09;	
}

.quote div {
	background: url(../images/skins/evergreen/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #57824a;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/evergreen/quote-mark.png) no-repeat 0 0;
}

.table-feature {
	background: #75a666 url(../images/skins/evergreen/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #131f09;
	border-left: 1px solid #131f09;
	border-right: 1px solid #131f09;
}

.table-feature div {
	background-color: #3b5926;
}

.tweet {
	color: #535252;
}

.tweet_avatar img {
	border: 3px solid #707070;
}
