/* CSS Document */

a:link, a:visited {
	color: #c00058;
}

#logo {
	background: #e90068 url(../images/skins/magenta/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #430024;
	border-bottom: 3px solid #430024;
	border-left: 1px solid #430024;
}

#headline-callout h1, #headline-callout h2 {
	color: #960041;
}

#main-nav a:hover {
	color: #c00058;
}

#main-nav #nav-selected {
	background: #e90068 url(../images/skins/magenta/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #430024;			
}

#main-nav #nav-selected:hover {
	background: #fd117a url(../images/skins/magenta/nav-btn-selected-roll.gif) repeat-x 0 bottom;
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px; 
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #430024; 
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #e90068 url(../images/skins/magenta/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #7F0043; 
}

.large-primary-btn:hover span {
	background-color: #890049; 
}

.large-primary-btn:hover {
	background: #fd117a url(../images/skins/magenta/large-primary-btn-roll.gif) repeat-x 0 bottom;
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px; 
}

.small-primary-btn {
	background: #e90068 url(../images/skins/magenta/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #fd117a url(../images/skins/magenta/small-primary-btn-roll.gif) repeat-x 0 bottom;
}

.arrow-list li a {
	background: url(../images/skins/magenta/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/magenta/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/magenta/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/magenta/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/magenta/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/magenta/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/magenta/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #e90068 url(../images/skins/magenta/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #430024; 
}

#pagination a#current:hover {
	background: #fd117a url(../images/skins/magenta/small-primary-btn-roll.gif) repeat-x 0 bottom;	
	border-bottom: 2px solid #430024; 		
}

.widget h3 {
	background: #e90068 url("../images/skins/magenta/large-primary-btn.gif") repeat-x 0 bottom; 
	border-bottom: 2px solid #430024;	
}

.quote div {
	background: url(../images/skins/magenta/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #e90068;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/magenta/quote-mark.png) no-repeat 0 0;
}

.table-feature {
	background: #fd117a url(../images/skins/magenta/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #430024;
	border-left: 1px solid #430024;
	border-right: 1px solid #430024;
}

.table-feature div {
	background-color: #950146;
}

.tweet {
	color: #535252;
}

.tweet_avatar img {
	border: 3px solid #707070;
}
