/* CSS Document */

a:link, a:visited {
	color: #009f84;
}

#logo {
	background: #00b293 url(../images/skins/ocean/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #092d28;
	border-bottom: 3px solid #092d28;
	border-left: 1px solid #092d28;
}

#headline-callout h1, #headline-callout h2 {
	color: #004F40;
}

#main-nav a:hover {
	color: #009f84;
}

#main-nav #nav-selected {
	background: #00b293 url(../images/skins/ocean/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #092d28;				
}

#main-nav #nav-selected:hover {
	background: #00cda8 url(../images/skins/ocean/nav-btn-selected-roll.gif) repeat-x 0 bottom;
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px; 
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #092d28; 
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #00b293 url(../images/skins/ocean/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #1C6B5F; 
}

.large-primary-btn:hover span {
	background-color: #247C6F; 
}

.large-primary-btn:hover {
	background: #00cda8 url(../images/skins/ocean/large-primary-btn-roll.gif) repeat-x 0 bottom;
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px; 
}

.small-primary-btn {
	background: #00b293 url(../images/skins/ocean/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #00cda8 url(../images/skins/ocean/small-primary-btn-roll.gif) repeat-x 0 bottom;
}

.arrow-list li a {
	background: url(../images/skins/ocean/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/ocean/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/ocean/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/ocean/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/ocean/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/ocean/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/ocean/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #00b293 url(../images/skins/ocean/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #092d28; 	
}

#pagination a#current:hover {
	background: #00cda8 url(../images/skins/ocean/small-primary-btn-roll.gif) repeat-x 0 bottom;	
	border-bottom: 2px solid #092d28; 		
}

.widget h3 {
	background: #00b293 url("../images/skins/ocean/large-primary-btn.gif") repeat-x 0 bottom; 
	border-bottom: 2px solid #092d28;	
}

.quote div {
	background: url(../images/skins/ocean/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #00b293;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/ocean/quote-mark.png) no-repeat 0 0;
}

.table-feature {
	background: #00cda8 url(../images/skins/ocean/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #175148;
	border-left: 1px solid #0b6155;
	border-right: 1px solid #0b6155;
}

.table-feature div {
	background-color: #197467;
}

.tweet {
	color: #535252;
}

.tweet_avatar img {
	border: 3px solid #707070;
}
