/* CSS Document */

a:link, a:visited {
	color: #29437c;
}

#logo {
	background: #364a76 url(../images/skins/storm/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #000;
	border-bottom: 3px solid #000;
	border-left: 1px solid #000;
}

#headline-callout h1, #headline-callout h2 {
	color: #243456;
}

#main-nav a:hover {
	color: #29437c;
}

#main-nav #nav-selected {
	background: #374b77 url(../images/skins/storm/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #000;				
}

#main-nav #nav-selected:hover {
	background: #50689f url(../images/skins/storm/nav-btn-selected-roll.gif) repeat-x 0 bottom;
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px; 
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #000; 
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #374b77 url(../images/skins/storm/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #18243F; 
}

.large-primary-btn:hover span {
	background-color: #283C66; 
}

.large-primary-btn:hover {
	background: #50689f url(../images/skins/storm/large-primary-btn-roll.gif) repeat-x 0 bottom;
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px; 
}

.small-primary-btn {
	background: #374b77 url(../images/skins/storm/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #50689f url(../images/skins/storm/small-primary-btn-roll.gif) repeat-x 0 bottom;
}

.arrow-list li a {
	background: url(../images/skins/storm/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/storm/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/storm/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/storm/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/storm/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/storm/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/storm/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #374b77 url(../images/skins/storm/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #000; 
}

#pagination a#current:hover {
	background: #50689f url(../images/skins/storm/small-primary-btn-roll.gif) repeat-x 0 bottom;	
	border-bottom: 2px solid #000; 	
}

.widget h3 {
	background: #374b77 url("../images/skins/storm/large-primary-btn.gif") repeat-x 0 bottom; 
	border-bottom: 2px solid #000;	
}

.quote div {
	background: url(../images/skins/storm/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #29437c;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/storm/quote-mark.png) no-repeat 0 0;
}

.table-feature {
	background: #50689f url(../images/skins/storm/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.table-feature div {
	background-color: #202f4f;
}

.tweet {
	color: #535252;
}

.tweet_avatar img {
	border: 3px solid #707070;
}
