/* CSS Document */

a:link, a:visited {
	color: #d9781c;
}

#logo {
	background: #f2b052 url(../images/skins/sunset/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #904e10;
	border-bottom: 3px solid #904e10;
	border-left: 1px solid #904e10;
}

#headline-callout h1, #headline-callout h2 {
	color: #893D00;
}

#main-nav a:hover {
	color: #d9781c;
}

#main-nav #nav-selected {
	background: #f2b052 url(../images/skins/sunset/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #904e10;			
}

#main-nav #nav-selected:hover {
	background: #ffc068 url(../images/skins/sunset/nav-btn-selected-roll.gif) repeat-x 0 bottom;
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px; 
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #904e10; 
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #f2b052 url(../images/skins/sunset/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #CE7725; 
}

.large-primary-btn:hover span {
	background-color: #E0832C; 
}

.large-primary-btn:hover {
	background: #ffc068 url(../images/skins/sunset/large-primary-btn-roll.gif) repeat-x 0 bottom;
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px; 
}

.small-primary-btn {
	background: #f2b052 url(../images/skins/sunset/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #ffc068 url(../images/skins/sunset/small-primary-btn-roll.gif) repeat-x 0 bottom;
}

.arrow-list li a {
	background: url(../images/skins/sunset/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/sunset/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/sunset/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/sunset/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/sunset/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/sunset/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/sunset/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #f2b052 url(../images/skins/sunset/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #904e10; 	
}

#pagination a#current:hover {
	background: #ffc068 url(../images/skins/sunset/small-primary-btn-roll.gif) repeat-x 0 bottom;	
	border-bottom: 2px solid #904e10; 		
}

.widget h3 {
	background: #f2b052 url("../images/skins/sunset/large-primary-btn.gif") repeat-x 0 bottom; 
	border-bottom: 2px solid #904e10;
}

.quote div {
	background: url(../images/skins/sunset/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #d9781c;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/sunset/quote-mark.png) no-repeat 0 0;
}

.table-feature {
	background: #ffc068 url(../images/skins/sunset/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #7b4412;
	border-left: 1px solid #7b4412;
	border-right: 1px solid #7b4412;
}

.table-feature div {
	background-color: #d36d11;
}

.tweet {
	color: #535252;
}

.tweet_avatar img {
	border: 3px solid #707070;
}