/* CSS Document */

a:link, a:visited {
	color: #006bd1;
}

#logo_BLUE {
	background: #149cf0 url(../images/skins/blue/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #223783;
	border-bottom: 3px solid #223783;
	border-left: 1px solid #223783;	
}

#headline-callout h1, #headline-callout h2 {
	color: #004a90;
}

#main-nav a:hover {
	color: #006bc9;		
}

#main-nav #nav-selected {
	background: #006dcc url(../images/skins/blue/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #07143F;	
}

#main-nav #nav-selected:hover {
	background: #0281ec url(../images/skins/blue/nav-btn-selected-roll.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #223783;		
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px;
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #07143F;	
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #0281ec url(../images/skins/blue/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #1b5992;
}

.large-primary-btn:hover span {
	background-color: #1b5992;
}

.large-primary-btn:hover {
	background: #1b96ff url(../images/skins/blue/large-primary-btn-roll.gif) repeat-x 0 bottom;	
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px;
}

.small-primary-btn {
	background: #0281ec url(../images/skins/blue/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #1b96ff url(../images/skins/blue/small-primary-btn-roll.gif) repeat-x 0 bottom;	
}

.arrow-list li a {
	background: url(../images/skins/blue/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/blue/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/blue/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/blue/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/blue/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/blue/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/blue/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #0281ec url(../images/skins/blue/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #07143F;		
}

#pagination a#current:hover {
	background: #1b96ff url(../images/skins/blue/small-primary-btn-roll.gif) repeat-x 0 bottom;	
	border-bottom: 2px solid #223783;			
}

.widget h3 {
	background: #0281EC url("../images/skins/blue/large-primary-btn.gif") repeat-x 0 bottom;
	border-bottom: 2px solid #07143F;	
}

.quote div {
	background: url(../images/skins/blue/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #358BD6;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/blue/quote-mark.png) no-repeat 0 0;		
}

.table-feature {
	background: #149cf0 url(../images/skins/blue/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #00458a;
	border-left: 1px solid #00458a;
	border-right: 1px solid #00458a;	
}

.table-feature div {
	background-color: #0362bb;
}

.tweet {
	color: #1d353d;
}

.tweet_avatar img {
	border: 3px solid #5f757d;
}

