/* CSS Document */

a:link, a:visited {
	color: #674773;
}

#logo {
	background: #8f669c url(../images/skins/midnight/logo-bg.gif) repeat-x 0 bottom;
	border-right: 1px solid #1a0326;
	border-bottom: 3px solid #1a0326;
	border-left: 1px solid #1a0326;
}

#headline-callout h1, #headline-callout h2 {
	color: #4C2E56;
}

#main-nav a:hover {
	color: #674773;
}

#main-nav #nav-selected {
	background: #8d659b url(../images/skins/midnight/nav-btn-selected.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #1a0326;			
}

#main-nav #nav-selected:hover {
	background: #aa7bb9 url(../images/skins/midnight/nav-btn-selected-roll.gif) repeat-x 0 bottom;
}

#main-nav #nav-selected:active {
	border-bottom-width: 1px; 
}

.large-primary-btn, .small-primary-btn {
	border-bottom: 2px solid #1a0326; 
}

.large-primary-btn, .large-secondary-btn, .small-primary-btn, 
.small-secondary-btn {
	color: #fff !important;
}

.large-primary-btn {
	background: #8d659b url(../images/skins/midnight/large-primary-btn.gif) repeat-x 0 bottom;
}

.large-primary-btn span {
	background-color: #612F7C; 
}

.large-primary-btn:hover span {
	background-color: #733B91; 
}

.large-primary-btn:hover {
	background: #aa7bb9 url(../images/skins/midnight/large-primary-btn-roll.gif) repeat-x 0 bottom;
}

.large-primary-btn:active, .small-primary-btn:active {
	border-bottom-width: 1px; 
}

.small-primary-btn {
	background: #8d659b url(../images/skins/midnight/small-primary-btn.gif) repeat-x 0 bottom;
}

.small-primary-btn:hover {
	background: #aa7bb9 url(../images/skins/midnight/small-primary-btn-roll.gif) repeat-x 0 bottom;
}

.arrow-list li a {
	background: url(../images/skins/midnight/arrow.gif) no-repeat 0 6px;
}

.bullet-list li {
	background: url(../images/skins/midnight/bullet.png) no-repeat 0 5px;
}

.anythingSlider .forward a {
	background: url(../images/skins/midnight/slider-arrow-next.png) no-repeat center center;
}

.anythingSlider .forward a:hover {
	background: url(../images/skins/midnight/slider-arrow-next-roll.png) no-repeat center center;
}

.anythingSlider .back a {
	background: url(../images/skins/midnight/slider-arrow-back.png) no-repeat center center;
}

.anythingSlider .back a:hover {
	background: url(../images/skins/midnight/slider-arrow-back-roll.png) no-repeat center center;
}

.anythingSlider .wrapper ul .bullet-list li {
	background: url(../images/skins/midnight/bullet.png) no-repeat 0 6px;
}

#pagination a#current {
	background: #8d659b url(../images/skins/midnight/small-primary-btn.gif) repeat-x 0 bottom;
	border-bottom: 2px solid #1a0326; 	
}

#pagination a#current:hover {
	background: #aa7bb9 url(../images/skins/midnight/small-primary-btn-roll.gif) repeat-x 0 bottom;	
	border-bottom: 2px solid #1a0326; 		
}

.widget h3 {
	background: #8d659b url("../images/skins/midnight/large-primary-btn.gif") repeat-x 0 bottom;
	border-bottom: 2px solid #1a0326;	
}

.quote div {
	background: url(../images/skins/midnight/quote-mark.png) no-repeat 0 0;
}

blockquote {		
	border-left: 2px solid #8d659b;
}

.pullquote-left, .pullquote-right {
	background: url(../images/skins/midnight/quote-mark.png) no-repeat 0 0;
}

.table-feature {
	background: #aa7bb9 url(../images/skins/midnight/table-feature.gif) repeat-x 0 bottom;
	border-bottom: 3px solid #1a0326;
	border-left: 1px solid #1a0326;
	border-right: 1px solid #1a0326;
}

.table-feature div {
	background-color: #462e52;
}

.tweet {
	color: #535252;
}

.tweet_avatar img {
	border: 3px solid #707070;
}
