/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
	cursor: auto;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:10px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	background:url(../images/slider-circle-sprite.png) no-repeat 0 0;
	display:block;
	width:62px;
	height:62px;
	text-indent: -9999px;	
	position:absolute;
	top:38%;
	z-index:99;
	cursor:pointer;

}
a.nivo-prevNav {
	background-position: -143px 0;
	left:20px;
}
a.nivo-prevNav:hover {
	background-position: -214px 0;
}
a.nivo-nextNav {
	right:20px;
}
a.nivo-nextNav:hover {
	background-position: -71px 0;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	background: #f2f2f2 url(../images/highlight-bg.gif) repeat-x 0 bottom;
	display: inline-block;
	border-top: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	border-bottom: 3px solid #aaa;
	border-left: 1px solid #CECECE;	
	position: absolute;
	left: -12px;
	top: 585px;
	max-width: 470px;
	padding: 15px 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;		
}

.nivo-controlNav img {
	background-color: #fff;
	border: 1px solid #bdbdbd;
	padding: 5px;		
	position: static !important;
}

.nivo-controlNav a {
	display: inline-block;
	margin: 7px 0 7px 15px;		
	cursor: pointer;
}

.nivo-controlNav a:first-child {
	margin: 7px 0;		
}

.nivo-controlNav a.active img {
	border: 1px solid #B2B2B2;
	background-color: #B2B2B2;
}