/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:10px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	display:block;
	width:62px;
	height:62px;
	text-indent: -9999px;	
	position:absolute;
	top:38%;
	z-index:99;
	cursor:pointer;

}
a.nivo-prevNav {
	background:url(../images/nivo-slider-back.png) no-repeat 0 0;
	left:20px;
}
a.nivo-prevNav:hover {
	background:url(../images/nivo-slider-back-roll.png) no-repeat 0 0;
}
a.nivo-nextNav {
    background:url(../images/nivo-slider-next.png) no-repeat 0 0;
	right:20px;
}
a.nivo-nextNav:hover {
    background:url(../images/nivo-slider-next-roll.png) no-repeat 0 0;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	position: absolute;
	left: 41%;
	bottom: -48px;
}
.nivo-controlNav a {
	background: #fefefe url(../images/small-grad.gif) repeat-x 0 bottom;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #aaa;
	border-left: 1px solid #ccc;	
	display: inline-block;
	font-size: 13px;
	margin-right: 7px;
	padding: 2px 9px;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 0 1px #fff;			
}

.nivo-controlNav a.active, .nivo-controlNav a:hover {
	background: #0281ec url(../images/small-secondary-btn.gif) repeat-x 0 bottom;
	text-decoration: none;
	padding: 3px 10px 2px;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #353535;	
	border-left: none;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);			
}

.nivo-controlNav a.active:active, .nivo-controlNav a:active {
	border-bottom-width: 1px;
}

