

/* page titles */
.page_title {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	padding: 220px 0px 120px 0px;
	background: #272727 url(../images/fullsite-img14.jpg) no-repeat center top;
}
.page_title .title {
	width: 100%;
	float: left;
	text-align: center;
	margin: 0px;
}
.page_title .title h1 {
	margin: 0px 0px 40px 0px;
	padding-bottom: 30px;
	font-size: 58px;
	color: #fff;
	text-transform: none;
	background: url(../images/white-line.png) no-repeat center bottom;
}
.page_title h3 {
	margin: 0px 0px 8px 0px;
	color: #fff;
	font-weight: bold;
}
.page_title h5 {
	margin: 0px;
	color: #fff;
	font-weight: 300;
}
.page_title.small .title h1 {
	margin: 0px 0px 20px 0px;
}

.page_title.two {
	background: #272727 url(../images/fullsite-img20.jpg) no-repeat center top;
}

.page_title2 {
	float: left;
	width: 100%;
	padding: 40px 0px;
	background: #454545 url(../images/footer-graph3.png) no-repeat center bottom;
}
.page_title2 h1 {
	float: left;
	font-size: 32px;
	font-weight: 200;
	margin-bottom: 0px;
	color: #fff;
}
.page_title2 .pagenation {
	float: right;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	color: #e3e3e3;
	margin: 10px 0px 0px 0px;
}
.page_title2 .pagenation i {
	color: #999;
	margin: 0px 2px 0px 2px;
}
.page_title2 .pagenation a {
	padding: 0px;
	color: #999;
	transition: all 0.3s ease;
}
.page_title2 .pagenation a:hover {
	color: #e3e3e3;
}

.page_title3 {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	padding: 140px 0px 140px 0px;
	background: #272727 url(../images/fullsite-img15.jpg) no-repeat center top;
}
.page_title3 .title {
	width: 100%;
	float: left;
	text-align: center;
	margin: 0px;
}
.page_title3 .title h1 {
	margin: 0px 0px 10px 0px;
	padding-bottom: 30px;
	font-size: 58px;
	color: #fff;
	text-transform: none;
	font-weight: normal;
}
.page_title3 h5 {
	color: #fff;
	width: 75%;
	margin: 0 auto;
	font-weight: 300;
	line-height: 30px;
}
.page_title3 i {
	color: #fff;
	font-size: 27px;
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	margin: 50px 10px 0px 10px;
	transition: all 0.3s ease;
}
.page_title3 i:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.2);
}

.page_title4 {
	position: relative;
	float: left;
	width: 100%;
	padding: 70px 0px;
	background: #f3f3f3;
}
.page_title4 .title {
	width: 100%;
	float: left;
	text-align: left;
	margin: 0px;
}
.page_title4 .title h1 {
	margin: 0px;
	color: #293139;
	text-transform: none;
	font-size: 40px;
}
.page_title4 .line{
    background: #999;
    position: absolute;
    height: 1px;
    display: block;
    width: 100px;
	margin-top: 12px;
}
.page_title4 h6 {
	float: left;
	margin-top: 30px;
	margin-bottom: 0px;
	color: #727272;
	font-weight: 300;
	line-height: 25px;
	width: 85%;
}

.page_title5 {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
	padding: 200px 0px 40px 0px;
	background: #333 url(../images/fullsite-img13.jpg) no-repeat center top;
}
.page_title5 .title {
	width: 100%;
	float: left;
	text-align: left;
	margin: 0px;
}
.page_title5 .title h1 {
	float: left;
	margin: 0px;
	padding: 5px 10px;
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.3);
}

.page_title5.two {
	padding: 310px 0px 40px 0px;
	background: #333 url(../images/fullsite-img19.jpg) no-repeat center top;
}


.imgheader {
	float: left;
	width: 100%;
	height: 400px;
	background: #333 url(../images/fullsite-img16.jpg) no-repeat center top;
}
.imgheader img {
	float: left;
}
.imgheader2 {
	float: left;
	width: 100%;
	height: 400px;
	background: #333 url(../images/fullsite-img17.jpg) no-repeat center top;
}
.imgheader2 img {
	float: left;
}

.clogo_small {
	float: left;
	width: 100%;
}
.clogo_small li {
	float: left;
	width: 10%;
}
.clogo_small li h6 {
	font-size: 14px;
	margin-top: 18px;
	text-align: right;
}
.clogo_small li img {
	float: left;
	width: 100%;
}

/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	text-align: left;
	color: #333;
	line-height: 30px;
	display: block;
}
.blog_post h3 a {
	color: #e54c4c;
	text-decoration: none;
	margin-top: 3px;
	text-transform: none;
	font-weight: 400;
	font-size: 30px;
}
.blog_post h3 a:hover {
	color: #383634;
}
ul.post_meta_links {
	float: left;
	margin: -5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.post_meta_links li {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li a {
	color: #999;
	padding: 0px 18px 0px 0px;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.post_meta_links li i {
	color: #bbb;
	font-size: 12px;
	font-style: normal;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 100%;
	margin-bottom: 27px;
}

.blog_postcontent .image_frame.mone {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mtwo {
	float: left;
	width: 100%;
	height: 180px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mthree {
	float: left;
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.blog_postcontent .image_frame.mone img,
.blog_postcontent .image_frame.mtwo img,
.blog_postcontent .image_frame.mthree img {
	float: left;
	width: auto;
	margin-left: -45%;
	margin-top: -10%;
}


.blog_postcontent .video_frame.mtwo iframe {
	float: left;
	width: 100%;
	height: 280px;
	overflow: hidden;
}


.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 100%;
}
.blog_postcontent .video_frame.small iframe {
	height: 250px;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 100%;
	height: 520px;
	margin-bottom: 27px;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	color: #454545;
	font-size: 16px;
	font-weight: normal;
}
.blog_post a.date:hover {
	color: #e54c4c;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore.jpg) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore_hover.jpg) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 40px;
}
.sharepost ul {
	margin: 0px;
	padding: 0px;
}
.sharepost li {
	margin: 0px 7px 5px 0px;
	padding: 2px 5px;
	float: left;
	border-radius: 2px;
	list-style-type: none;
	background-color: #e54c4c;
	transition: all 0.3s ease;
}
.sharepost li i {
	color: #fff;
}
.sharepost li:hover {
	background-color: #383634;
}

.about_author {
	float: left;
	width: 100%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
	color: #333;
}
.about_author a:hover {
	color: #e54c4c;
}


/* pagination */
.pagination.center {
	text-align: center;
}
.pagination.center b{
	float: inherit;
}
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 12px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}


/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* comment form */
.comment_form {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 40px;
	font-weight: normal;
}
.comment_input_bg {
	float: left;
	width: 75%;
	height: 40px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}
.comment_submit {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 9px 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-radius: 4px;
	color: #333;
	text-transform: uppercase;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}

/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* Advertisements */
ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}
.adsbanner-list li img {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 140px;
	height: 140px;
	list-style-type: none;
}

.address_info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px 20px;
	width: 99%;
	margin-bottom: 40px;
}
.address_info.two {
	background-color: #fff;
	border: none;
	padding-top: 0px;
}
.address_info h3 i {
	font-weight: 500;
	font-style: normal;
}

.google-map {
	width: 99%;
	height: 350px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.google-map2 {
	width: 100%;
	height: 450px;
}
.google-map3 {
	width: 100%;
	height: 300px;
	border: 10px solid #fff;
	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.google-map4 {
	width: 100%;
	height: 200px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
	box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, 0.4);
}


/* sidebar widget */
.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar_widget ul.arrows_list1{
	padding: 0px;
	margin: 0px;
	float: left;
	margin-top: -10px;
}
.sidebar_widget ul.arrows_list1 li a {
	color: #e54c4c;
	line-height: 30px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #272727;
}
.sidebar_widget ul.arrows_list1 i {
	margin-right: 4px;
}
.sidebar_title {
	float: left;
	width: 100%;
}
.sidebar_widget h4, .clientsays_widget h4 {
	margin-bottom: 30px;
	float: left;
	font-weight: 300;
}
.sidebar_widget h4 i, .clientsays_widget h4 i {
	font-weight: 500;
	font-style: normal;
}

/* Recent Posts */
ul.recent_posts_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0px 0px 13px 0px;
	margin: 0px 0px 16px 0px;
	list-style-type: none;
	border-bottom: 1px solid #eee;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 17px;
	display: block;
	color: #999;
}
.recent_posts_list li a:hover {
	color: #e54c4c;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li i {
	padding: 1px 0px 0px 0px;
	margin: 0px;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #c9c9c9;
}
.recent_posts_list li.last {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 0px solid #f5f6f6;
}

/* client says widget */
.clientsays_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #999;
}
.clientsays_widget strong {
	font-weight: 600;
	color: #454545;
}
.clientsays_widget h3 {
	margin-bottom: 18px;
}
.clientsays_widget img {
	float: left;
	margin-right: 13px;
	margin-top: 7px;
}


/* portfolio widget */
.portfolio_widget {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.portfolio_widget .box {
	float: left;
	width: 100%;
}
.portfolio_widget .box strong {
	font-size: 16px;
	color: #181818;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
	margin-top: 25px;
}
.portfolio_widget .box strong a {
	color: #181818;
}
.portfolio_widget .box strong a:hover {
	color: #2191ed;
}
.portfolio_widget .box i {
	font-size: 22px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 58px;
	height: 58px;
	text-align: center;
	vertical-align: middle;
	line-height: 58px;
	margin-top: 26%;
}

/* 404 Error Page */
.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 59%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
	font-weight: normal;
	margin-bottom: 10px;
	text-shadow: 5px 5px 1px #fafafa;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	line-height: 59px;
	color: #e54c4c;
	margin: 0;
	font-style: normal;
}

/* portfolio single image */
.portfolio_area {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
}
.portfolio_area_left {
	padding: 0px;
	margin: 0px;
	width: 74%;
	float: left;
}
.portfolio_area_left img {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 4%;
	width: 22%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 80px 0px 0px 0px;
}
.project_details span {
	padding: 10px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #454545;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
.project_details strong {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	color: #727272;
	float: left;
	width: 40%;
}
.project_details em {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	float: left;
	width: 60%;
}
.project_details span a {
	padding: 3px 10px;
	margin: 0px 0px 0px 3px;
	font-size: 11px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	background-color: #e3e3e3;
	border-radius:3px;
}
.project_details span a:hover {
	background-color: #ddd;
}
.addto_favorites {
	padding: 3px 10px 5px 10px;
	margin: 27px 0px 0px 0px;
	width: 142px;
	display: block;
	border-radius:3px;
	font-size: 13px;
	color: #999;
	background: #eee;
}
.addto_favorites:hover {
	background: #e3e3e3;
}
.addto_favorites i {
	color: #c3c3c3;
}

ul.small_social_links {
	padding: 0px;
	margin: 18px 0 25px 0px;
}
.small_social_links li {
	padding: 0px;
	margin: 0px 5px 0px 0px;
	float: left;
}
.small_social_links li i {
	font-size: 11px;
	color: #e54c4c;
	border: 1px solid #eee;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 23px;
}
.small_social_links li a {
	opacity: 1;
}
.small_social_links li a:hover {
	opacity: 0.7;
}

ul.list_5 {
	float: left;
	padding: 0px;
	margin: 0px;
}
.list_5 li {
	float: left;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}
.list_5 li.last {
	margin: 0px 0px 0px 0px;
}
.list_5 li img {
	float: left;
	margin-right: 18px;
}
.list_5 li em {
	float: left;
	font-style: normal;
	margin: 9px 0px 0px 0px;
}
.list_5 li a {
	color: #999;
}



/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 999;
}



/*
------------------------
 UPDATED VERSION 1.2 
------------------------*/

.mitemnew {
	color: #fff;
	padding: 1px 4px;
	background: #e54c4c;
	border-radius: 2px;
	font-size: 11px;
	font-weight: 500;
}

/* Static header */
.stheader {
	float: left;
	width: 100%;
	height: 750px;
	margin-top: 100px;
	background: #999 url(../images/sliders/master/slider-bg16.jpg) no-repeat center top;
}

/* Static header 2 */
.stheader2 {
	float: left;
	width: 100%;
	background: #999 url(../images/sliders/master/slider-bg20.jpg) repeat-y center top;
}

/* Static header 3 */
.stheader3 {
	float: left;
	width: 100%;
	height: 700px;
	margin-top: 100px;
	background: #999 url(../images/sliders/master/slider-bg21.jpg) no-repeat center top;
}


/* slider header form */
.slidercform {
	float: left;
	width: 470px;
	padding: 47px 50px 50px 50px;
	text-align: center;
	margin-top: 100px;
	background: rgba(0,0,0,0.72);
	border-radius: 3px;
}
.slidercform .sky-form {
	color: #999;
}
.slidercform .sky-form footer {
	padding: 5px 0px 0px 0px;
}
.slidercform .sky-form .button {
	float: left;
	width: 86.5%;
	height: 50px;
	background: #e54c4c;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	opacity: 1;
}
.slidercform .sky-form .button:hover {
	opacity: 0.75;
}
.slidercform .sky-form section {
	margin-bottom: 9px;
}
.slidercform strong {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 27px;
	font-weight: bold;
	display: block;
}
.slidercform strong em {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	display: block;
	margin-top: 8px;
}
.slidercform span {
	width: 50%;
	height: 1px;
	background: #595959;
	float: left;
	margin-top: 14px;
	margin-left: 25%;
}

/* slider header form 2 */
.slidercform2 {
	float: right;
	width: 450px;
	padding: 40px 35px 40px 35px;
	background: rgba(18,18,18,0.9);
	border-radius: 3px;
	position: relative;
	z-index: 300;
	margin-top: -500px;
	margin-right: 50px;
	text-align: center;
}
.slidercform2 strong {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 27px;
	font-weight: bold;
	display: block;
}
.slidercform2 strong em {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	display: block;
	margin-top: 8px;
}
.slidercform2 span {
	width: 50%;
	height: 1px;
	background: #454545;
	float: left;
	margin-top: 14px;
	margin-left: 25%;
}
.slidercform2 .sky-form .input input,
.slidercform2 .sky-form .select select {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 101.5%;
	padding: 10px 14px;
	outline: none;
	border-width: 0px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.9);
	font: 14px/18px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #454545;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.slidercform2 .sky-form .textarea textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 10px 14px;
	outline: none;
	border-width: 0px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.9);
	font: 14px/18px 'Open Sans', Helvetica, Arial, sans-serif;
	color: #454545;
	appearance: normal;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* header portfolio style */
.headerport {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 210px;
	margin-bottom: 130px;
}

.headerport .left {
	float: left;
	width: 33%;
}
.headerport .center {
	float: left;
	width: 34%;
}
.headerport .right {
	float: left;
	width: 33%;
}

.headerport .boxsize1 {
	float: left;
	width: 100%;
	height: 300px;
	text-align: center;
	background: #525252;
}
.headerport .boxsize2 {
	float: left;
	width: 50%;
	height: 150px;
	text-align: center;
	background: #525252;
}
.headerport .boxsize3 {
	float: left;
	width: 100%;
	height: 150px;
	text-align: center;
	background: #525252;
}
.headerport .boxsize4 {
	float: left;
	width: 100%;
	height: 450px;
	text-align: center;
	background: #525252;
}

.headerport .boxsize1 img{
	width: 100%;
	height: 300px;
	display: block;
}
.headerport .boxsize2 img{
	width: 100%;
	height: 150px;
	display: block;
}
.headerport .boxsize3 img{
	width: 100%;
	height: 150px;
	display: block;
}
.headerport .boxsize4 img{
	width: 100.2%;
	height: 450px;
	display: block;
}

.headerport .boxsize2 .onlycolor {
	float: left;
	width: 100%;
	height: 150px;
	background: #e54c4c;
	transition: all 0.3s ease;
}
.headerport .boxsize2 .onlycolor:hover {
	background: #525252;
}
.headerport .boxsize2 .onlycolor.white {
	background: #fff;
}
.headerport .boxsize2:hover .onlycolor.white {
	background: #e3e3e3;
}
.headerport .boxsize3 .onlycolor {
	float: left;
	width: 100%;
	height: 150px;
	background: #e54c4c;
	transition: all 0.3s ease;
}
.headerport .boxsize3 .onlycolor:hover {
	background: #525252;
}
.headerport .boxsize3 .onlycolor.white {
	background: #fff;
}
.headerport .boxsize3:hover .onlycolor.white {
	background: #e3e3e3;
}

.headerport .boxsize1 h3 {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: 300;
  margin-top: 32.5%;
}
.headerport .boxsize2 h3 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 29%;
}
.headerport .boxsize3 h3 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 14.5%;
}
.headerport .boxsize1 h3.darkc,
.headerport .boxsize2 h3.darkc,
.headerport .boxsize3 h3.darkc,
.headerport .boxsize4 h3.darkc {
  color: #333;
}
.headerport .boxsize4 h3 {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: 300;
  margin-top: 50%;
}

.hp-item.square {
  position: relative;
  width: 100%;
}
.hp-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hp-item.square.effect10 {
  overflow: hidden;
}
.hp-item.square.effect10 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.hp-item.square.effect10 .info {
  background: #525252;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.hp-item.square.effect10 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
.hp-item.square.effect10 a:hover .info {
  visibility: visible;
  opacity: 1;
}

.hp-item.square.effect10.bottom_to_top .img {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.hp-item.square.effect10.bottom_to_top .info {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.hp-item.square.effect10.bottom_to_top a:hover .img {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.hp-item.square.effect10.bottom_to_top a:hover .info {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.menu_shape_shadow {
	float: left;
	position: absolute;
	width: 100%;
	height: 10px;
	background: url(../images/menu-shadow2.png) no-repeat left top;
	z-index: 8000;
	top: 100px;
}

/* text slider */
.textyslider {
	background: none;
	text-align: center;
	padding-top: 90px;
	margin-bottom: 59px;
}
.textyslider span.text {
	display: block;
	padding-top: 20px;
	margin-bottom: 40px;
}
.textyslider em {
	color: #e54c4c;
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
	font-weight: bold;
	padding-bottom: 8px;
	border-bottom: 1px dashed #e54c4c;
}
.textyslider strong {
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
	font-weight: 600;
	padding-left: 20px;
	text-transform: uppercase;
}
.textyslider p {
	font-family: 'Raleway', sans-serif;
	color: #727272;
	font-size: 16px;
	line-height: 27px;
	padding-bottom: 5px;
	width: 70%;
	margin: 0 auto;
}
