



/* features section 30 */
.features_sec30 {
	float: left;
	width: 100%;
	padding: 120px 0px;
}
.features_sec30 .left {
	float: left;
	width: 15%;
	font-size: 30px;
	margin-top: 7px;
	color: #e54c4c;
}
.features_sec30 .right {
	float: left;
	width: 85%;
}

/* features section 31 */
.features_sec31 {
	float: left;
	width: 100%;
	padding: 80px 0px;
	background: #e54c4c;
}
.features_sec31 .one_fourth {
	padding: 30px 0px 20px 0px;
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 0.18);
}
.features_sec31.parallax {
	padding: 100px 0px;
	background: #1e1e1e url("../images/darkgray-bg1.png");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}
.features_sec31.parallax .one_fourth {
	border: none;
}

/* features section 32 */
.features_sec32 {
	float: left;
	width: 100%;
	padding: 85px 0px 110px 0px;
	text-align: center;
}
.features_sec32 .box {
	float: left;
	width: 100%;
}
.features_sec32 .box span {
	font-size: 100px;
	color: #999;
}


/* features section 49 */
.features_sec49 {
	float: left;
	width: 100%;
	padding: 120px 0px;
	background: #e54c4c url(../images/site-img75.png) no-repeat right top;
}
.features_sec49 h2 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 40px;
}
.features_sec49 strong {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
	background: #333;
	padding: 5px 20px;
	margin-right: 20px;
}
.features_sec49 em {
	color: #fff;
//	font-family: 'Dancing Script', cursive;
	font-size: 25px;
	font-weight: bold;
}
.features_sec49.two {
	background: #fff;
	text-align: center;
}
.features_sec49.two h2 {
	color: #333;
}
.features_sec49.two em {
	color: #999;
	font-weight: normal;
}



/* parallax section 4 */
.parallax_section4 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 140px 0px;
	background-color:#333;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:100% 0;
	background-position: center;
}
.parallax_section4 h2 {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	line-height: 38px;
	//font-family: 'Dancing Script', cursive;
}
.parallax_section4 p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 50px;
}
