body{color:#333;margin:0px;padding:0px;font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
background-image:url('../images/background_pattern_5.gif');background-repeat:repeat-xy;
}
a{outline: none;}
a {text-decoration:none;color:#222}
a:hover {text-decoration:underline;color:#000} 
a img{border:none}


#wrap{width:1004px;margin:0px auto;margin-top:5px}
#top_menu{height:67px;background-image:url('../images/top_menu_background.png');background-repeat:repeat-x;}
#top_menu #logo{margin-left: 20px;}

#home_header{width:1004px;height:418px;color:red}
#content{background:#fff;padding:10px 20px 10px 20px;border:1px solid #777;border-top:none;margin-bottom:30px}
#footer{ border-top:1px solid #ccc;font-size:77%;text-align:center;padding-top:5px;color:#fff;margin-top:50px;margin-bottom:0px}
#footer a{margin-left: 40px;color:#777}


#menu1 ul, #top_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	}

#top_menu ul{
 margin-left:330px;
	}
 #top_menu li{
 margin-top:20px;
 display:block;
	float:left
	}


img {
    border: none;
} 


#menu1 {
	width: 200px;
	margin: 10px;
	border-style: solid solid none solid;
	border-color: #3D261D;
	border-size: 1px;
	border-width: 1px;
	}
	
#menu1 li a {
margin-bottom:0px;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu1 li a:link, #menu1 li a:visited {
	color: #E4D6CD;
	display: block;
	background:  url(../images/menu1.gif);
	padding: 8px 0 0 10px;
	}
	
#menu1 li a:hover {
	color: #FFF;
	background:  url(../images/menu1.gif) 0 -32px;
	padding: 8px 0 0 10px;
	}	
#menu1 li a.selected {
	color: orange;

	}

