.testimonial-7 {
  text-align: center;
}
.testimonial-7 * + .row {
  margin-top: 30px;
}
.testimonial-7 .author {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .testimonial-7 .author {
    margin-top: 20px;
  }
}
.testimonial-7 .author * {
  margin-bottom: 0;
}
