.testimonial-12 {
  text-align: center;
}
.testimonial-12 .container .logos {
  margin: 40px 0 0;
}
.testimonial-12 .container .logos a {
  display: inline-block;
}
.testimonial-12 .container .logos img {
  display: inline-block;
  margin: 20px 40px;
  max-height: 35px;
}
