/*
* variables:
*   @ulClassPref
*   @id
*   @mPadding1
*   @mBrdWidth1
*   @mBrdColor1
*   @mBkGndColor1
*   @mOpacity1_f
*   @mOpacity1_p
*   @mBrdWidth2
*   @mBrdColor2
*   @mBkGndColor2
*   @mOpacity2_f
*   @mOpacity2_p
*   @mPadding2
*   @itBkGndColor1n
*   @itBrdWidth1
*   @itBrdColor1n
*   @itPadding1
*   @itFont1n
*   @itFontHeight1n
*   @itFontStyle1n
*   @itFontWeight1n
*   @itFontDecor1n
*   @itFontColor1n
*   @itBkGndColor2n
*   @itBrdWidth2
*   @itBrdColor2n
*   @itPadding2
*   @itFont2n
*   @itFontHeight2n
*   @itFontStyle2n
*   @itFontWeight2n
*   @itFontDecor2n
*   @itFontColor2n
*   @itBkGndColor1o
*   @itBrdColor1o
*   @itFont1o
*   @itFontHeight1o
*   @itFontStyle1o
*   @itFontWeight1o
*   @itFontDecor1o
*   @itFontColor1o
*   @itBkGndColor2o
*   @itBrdColor2o
*   @itFont2o
*   @itFontHeight2o
*   @itFontStyle2o
*   @itFontWeight2o
*   @itFontDecor2o
*   @itFontColor2o
*   @mSepHeight2
*   @mSepImage2
*   @mSepColor2
*   @mSepHeight1
*   @mSepImage1
*   @mSepColor1
*   @frameSourceLR1
*   @frameSourceTB1
*   @frameSize1
*   @frameSourceLR2
*   @frameSourceTB2
*   @frameSize2
*
*/

/**
 * create menu
 * structure for vertical menu:
 *		<div - menu >
 *			<table>
 *				<tr - item>
 *					<td - for icon><img></td>
 *					<td - for label><a></a></td>
 *					<td - for arrow><img></td>
 *				</tr>
 *			</table>
 *		</div>
 * structure for horizontal menu:
 *		<div - menu >
 *			<table><tr>
 *				<td -item>
 * 					<table><td>
 *						<td - for icon><img></td>
 *						<td - for label><a></a></td>
 *						<td - for arrow><img></td>
  * 					</td></table>
 *				</td>
 *			</tr></table>
 *		</div>
  * popup - style for item with open submenu
 * over - selected item style
*/

/* css engine */
ul.vbUL5lour{
	list-style:none;
	margin: 0;
	padding:0;
	display:table;
}
*+html ul.vbUL5lour{
	float:left;
	display:inline;
	font-size:0;
}

*+html ul.vbUL5lour li{
	display:inline;
	zoom:1;
}
* html ul.vbUL5lour li,* html ul.vbUL5lour{float:left}
ul.vbUL5lour li,ul.vbUL5lour li *{
	white-space:nowrap;
	vertical-align:middle;
}
ul.vbUL5lour li{
	display:table-cell;
}
ul.vbUL5lour li a{
	margin:0 3px 0 3px;
}

ul.vbUL5lour ul{
	display: none;
	position:absolute;
	left:-3px;
	top:100%;
	list-style:none;
	margin: 0;
	padding:0;
}
ul.vbUL5lour ul ul{
	left:99%;
	top:0;
}
ul.vbUL5lour li:hover,ul.vbUL5lour li>div{position:relative;}
ul.vbUL5lour li:hover>ul,ul.vbUL5lour li:hover>div>ul{display:block;}
ul.vbUL5lour ul.vbUL5lour li{
	display:block;
	zoom:normal;
}

/* ----------------------------------------- */
/* --------------- Menu style -------------- */
/* ----------------------------------------- */
.vbUL5lour table {
  border-collapse: separate;
  border-spacing: 0px;
}
.vbUL5lour .mainMenu, .vbUL5lour .subMenu  {
  overflow: visible;
  font-size: 1px;
  letter-spacing: 0px;
}
.vbUL5lour .mainCont, ul.vbUL5lour{
  padding: 2px;					/*menu padding*/
  border: solid #800000;	/*menu border style*/
  border-width: 1px; 
  background-color: #800000;			/*menu background color*/
  opacity:1.00;					/* menu opacity */
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);/* menu opacity */
} 
.vbUL5lour .mainMenu {
  margin: 0px;								/*menu margin to next menu*/
}
.vbUL5lour .subMenu {
  margin: 0px;
}
div.vbUL5lour div.subMenu, .subContent, ul.vbUL5lour ul{
  border: solid #808080;
  border-width: 2px;
  background-color: #3E3E3E;
  padding: 0px;
  opacity:1.00;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

/* ----------------------------------------- */
/* ------------ Menu item style ------------ */
/* ----------------------------------------- */
.vbUL5lour .vbItem,.vbUL5lour .separator,.vbUL5lour .separator td{
  font-size: 1px;
  padding: 0px;
}
.vbUL5lour .mainMenu .vbItem,ul.vbUL5lour li{
  cursor: pointer;							/*cursor style for item*/
  background-color:  #800000;	/*item background color*/
}
/* border defenition for submenu */
.vbUL5lour .mainMenu .vbItem, .vbUL5lour .subMenu .vbItem ,ul.vbUL5lour li{border-style: solid}
.vbUL5lour .mainMenu .vbItem td, .vbUL5lour .subMenu .vbItem td {border-style: none}
.vbUL5lour .mainMenu tr.vbItem, .vbUL5lour .subMenu tr.vbItem {border-style: none}
.vbUL5lour .mainMenu tr.vbItem td, .vbUL5lour .subMenu tr.vbItem td {border-style: solid}

.vbUL5lour .mainMenu .vbItem,.vbUL5lour .mainMenu .vbItem td,ul.vbUL5lour li{
  border-width: 1px; /*item border width*/
  border-color: #800000; /*item border color*/
}
.vbUL5lour .mainMenu .vbItem td,ul.vbUL5lour li{
  padding: 3px;						/*item padding size*/
  text-align: left;								/*center | justify | left | right*/
  font-family: Arial;						/*item font family */
  font-size: 11px;				/*item font size */
}
.vbUL5lour .mainMenu .vbItem td a,.vbUL5lour .mainMenu .vbItem td span{
  font-style: normal;					/*normal | italic | oblique*/
  font-weight: bold;				/*bold | bolder | lighter | normal | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900*/
  text-decoration: none;				/*blink | line-through | overline | underline | none*/
  color: #FFFFFF;						/*item text color */
}
/* dublicate for prevent conflict with ie6 */
ul.vbUL5lour>li>a{
  font-style: normal;					/*normal | italic | oblique*/
  font-weight: bold;				/*bold | bolder | lighter | normal | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900*/
  text-decoration: none;				/*blink | line-through | overline | underline | none*/
  color: #FFFFFF;						/*item text color */
}

.vbUL5lour .subMenu .vbItem,ul.vbUL5lour ul li{
  cursor: pointer;
  background-color:  #3E3E3E;
}
.vbUL5lour .subMenu .vbItem,.vbUL5lour .subMenu .vbItem td,ul.vbUL5lour ul li,ul.vbUL5lour ul .separator:hover{
  border-width: 1px;
  border-color: #3E3E3E;
}
.vbUL5lour .subMenu .vbItem td,ul.vbUL5lour ul li{
  padding: 2px;
  text-align: left;
  font-family: Arial;
  font-size: 11px;
}
.vbUL5lour .subMenu .vbItem td a,.vbUL5lour .subMenu .vbItem td a,ul.vbUL5lour ul a{
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #FF8040;
 }

/* ----------------------------------------- */
/* ------------Over item style ------------ */
/* ----------------------------------------- */
.vbUL5lour .mainMenu .popup, .vbUL5lour .mainMenu .over, .vbUL5lour .mainMenu .popup td, .vbUL5lour .mainMenu .over td,ul.vbUL5lour li:hover{
  background-color: #FFFF84;	/* item background color */
  border-color: #FFFF84;		/*item border color */
}
.vbUL5lour .mainMenu .popup td, .vbUL5lour .mainMenu .over td{
  font-family: Arial;					/* item font family */
  font-size: 11px;		/* item font size */
  font-style: normal;			/*normal | italic | oblique*/
  font-weight: bold;		/*bold | bolder | lighter | normal | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900*/
}
.vbUL5lour .mainMenu .popup td a, .vbUL5lour .mainMenu .over td a{
  font-style: normal;			/*normal | italic | oblique*/
  font-weight: bold;		/*bold | bolder | lighter | normal | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900*/
  text-decoration: none;		/*  blink | line-through | overline | underline | none*/
  color: #000000;				/*item text color */
}
ul.vbUL5lour>li:hover>a{
  font-family: Arial;					/* item font family */
  font-size: 11px;		/* item font size */
  font-style: normal;			/*normal | italic | oblique*/
  font-weight: bold;		/*bold | bolder | lighter | normal | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900*/
  text-decoration: none;		/*  blink | line-through | overline | underline | none*/
  color: #000000;				/*item text color */
}

.vbUL5lour .subMenu .popup, .vbUL5lour .subMenu .over, .vbUL5lour .subMenu .popup td, .vbUL5lour .subMenu .over td,ul.vbUL5lour ul li:hover{
  background-color: #FFFF84;
  border-color: #FFFF84;
}
.vbUL5lour .subMenu .popup td, .vbUL5lour .subMenu .over td{
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
}
.vbUL5lour .subMenu .popup td a, .vbUL5lour .subMenu .over td a{
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
ul.vbUL5lour ul li:hover>a{
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.vbUL5lour .subMenu .separator div,ul.vbUL5lour ul .separator{
  padding:0;
  height: 2px;
  background-image: url(sep5lour.png);
  border-style:none;
}
*+html ul.vbUL5lour .separator{overflow:hidden;}
*+html ul.vbUL5lour .separator span{width:500px;	zoom:1;}




