SetEnv devel 1


RewriteEngine On



RewriteRule ^$ /papp.php [L]

RewriteBase /ecom/
RewriteRule ^(js|css|templates)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) papp.php [QSA,L]