#top_navigator{height:24px;z-index:1000;background:black;text-align:right;padding:0px 10px 0px 0px;font-size:12px;font-family:"Arial";color:#ddd}

.soft_link{cursor:pointer;color:#ccc}
.soft_link:hover{text-decoration:underline}

.dialog {display:none;font-size:5px;background:black;color:white;font-family:"Arial";}
.dialog table {font-size:12px;color:white;margin:0px 0px 0px 30px}
.dialog tr.button{height:40px}
.dialog tr.button td,.dialog tr.link td{text-align:right}
.dialog h2 {font-size:15px;weight:800;margin:10px 10px 5px 30px}

.dialog table .title td{border-bottom:1px solid #ddd;height:30px;vertical-align:bottom;font-style:italic}

.dialog .label {width:60px;text-align:right;padding-right:10px}

#dialog_register_part_2 .label {width:120px;}

span.link{color:orange;cursor:pointer}
span.link:hover{text-decoration:underline}

.dialog input {width:200px;border: 1px solid #ccc}
.dialog input.error {background-color: #F5EEA2;}
#top_navigator button, .dialog button{cursor:pointer}
#top_navigator button{margin:0};
