#header{
	background-image:url('header_art/header2.jpg'); 
	color:red; 
	height: 120; 
	background-repeat:no-repeat;  
	position:absolute; 
	top:24px; 
	width: 100%
}
#footer{
	background-image:url('footer_art/footerbackground.png'); 
	height: 54; 
	background-repeat:no-repeat; 
	position:absolute; 
	top:80px; 
	width: 100%
}
#contact{
	left:28px; 
	top:1292px; 
	width:139px; 
	top:-5px; 
	left: 10px;
	position: relative; 
}
#description {
	left:28px; 
	top:1292px; 
	width:139px; 
	top:-25px; 
	left: 720px;
	position: relative;
	text-align:center;		
}
#side_banner{
	background-image:url('header_art/trade_only.png'); 
	color:red; 
	height: 20; 
	background-repeat:no-repeat;  
	position:absolute; 
	top:24px;
	left:20px;
	width: 100%
}
#link_bar{
	position:absolute; 
	top:110px;
	left:0px;
	width: 875px;
	z-index: -10;
}


span.title{
	position: relative; 
	top: 5px;
	left: 300px;
	font-size: 40px;
}
.header_description {
	font-family:"Arial", sans-serif; 
	font-weight:700; 
	font-size:11.0px; 
	line-height:1.09; 
	color:#ffffff;
}
.menu{
	position: absolute; 
	top: 87px;
	left: 265px;
	z-index:1000; 
}
.footer_description{
    font-family:"Arial", sans-serif; 
	font-size:11.0px; 
	line-height:1.27; 
    color:#ff8000; 
	top: 100px;
	left: 180px;
	position: relative; 
}
.footer_address{
	font-family:"Arial", sans-serif; 
	font-weight:700; 
	font-size:9.0px; 
	line-height:1.22; 
	color:#ffffff; 
}
.footer_last_update{
	font-family:"Arial", sans-serif; 
	font-size:9.0px; 
	line-height:1.33; 
	color:#ff99ff; 
	top: 30px;
	left: 770px;
	position: relative; 
}
table.header_table{
	width:875px;
	height:40px;
	 font-family:"Arial", sans-serif; 
	font-size:11.0px; 
}


 .header_table td.found_in{
	background-image:url('header_art/found_in.png'); 
	background-repeat:no-repeat; 
	background-position:center bottom; 
	width:128;
}
.header_table td.search{
	vertical-align:bottom;
}
.header_table td.see_also{
	background-image:url('header_art/see_also.png'); 
	background-repeat:no-repeat; 
	background-position:center bottom; 
	width:401;
}

#vbUL_wp36ta{display:none}