.header-7 {
  background: transparent;
  text-align: center;
}
.header-7 .navbar-nav {
  margin: 0 !important;
}
.header-7 .brand {
  text-align: center;
  display: inline-block;
  overflow: visible;
  float: none !important;
}
.header-7 .brand img {
  float: left;
}
.header-7 .navbar-collapse {
  display: inline-block;
}
.header-7 .navbar-collapse.in ul.nav,
.header-7 .navbar-collapse.collapse ul.nav {
  float: none;
}
.header-7 .navbar-collapse.in ul.nav > li,
.header-7 .navbar-collapse.collapse ul.nav > li {
  float: none;
}
