@charset "utf-8";
/* CSS Document */



editTop2{
float:right;
	padding-right:10px;
	padding-top:3px;
	font-weight:bold;
	cursor:pointer;
}
.cross{
float:right;
	padding-right:10px;
	padding-top:3px;
	font-weight:bold;
	cursor:pointer;
}
.textleftRectified{
float:right;
}
.sub
{
	float:right;
	padding-right:20px;
	padding-top:3px;
	font-weight:bold;
	cursor:pointer;
}
.add
{
	float:right;
	padding-right:10px;
	padding-top:3px;
	font-weight:bold;
	cursor:pointer;
	width:10px;
}
.edit
{
	float:right;
	padding-right:10px;
	padding-top:3px;
	font-weight:bold;
	cursor:pointer;
}

.cross
{
	float:right;
	padding-right:10px;
	padding-top:3px;
	font-weight:bold;
	cursor:pointer;
}

.crm_over
{
border:solid #333333 2px;
}

.crm_out
{
border:none;
}

/**********************************************************************/
.postbox p,.postbox ul,.postbox ol,.postbox blockquote,#wp-version-message{
	font-size:11px;
	}

.edit-box
	{
	display:none;
	}

h3:hover .edit-box
	{
	display:inline;
	}

form .input-text-wrap
	{
	border-style:solid;
	border-width:1px;
	padding:2px 3px;
	border-color:#ccc;
	}

#dashboard-widgets form .input-text-wrap input
	{
	border:0 none;
	outline:none;
	margin:0;
	padding:0;
	width:99%;
	color:#333;
	}

form .textarea-wrap
	{
	border-style:solid;
	border-width:1px;	
	padding:2px;
	border-color:#ccc;
	}

#dashboard-widgets form .textarea-wrap textarea
	{
	border:0 none;
	padding:0;
	outline:none;
	width:99%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	}

#dashboard-widgets .postbox form .submit{
	float:none;
	margin:.5em 0 0;
	padding:0;
	border:none;
	}

#dashboard-widgets-wrap #dashboard-widgets .postbox form .submit input
	{
	margin:0;
	}

#dashboard-widgets-wrap #dashboard-widgets .postbox form .submit #publish
	{
	min-width:0;
	}

div.postbox div.inside
	{
	margin:10px;
	position:relative;
	}

#dashboard-widgets a
	{
	text-decoration:none;
	}

#dashboard-widgets h3 a
	{
	text-decoration:underline;
	}

#dashboard-widgets h3 .postbox-title-action
	{
	position:absolute;
	right:30px;
	padding:0;
	}

#dashboard-widgets h4{
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:13px;
	margin:0 0 .2em;
	padding:0;
	}

#dashboard_right_now p.sub,#dashboard_right_now .table,#dashboard_right_now .versions
	{
	margin:-12px;
	}

#dashboard_right_now .inside
	{
	font-size:12px;padding-top:20px;
	}

#dashboard_right_now p.sub{
	font-style:italic;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	padding:5px 10px 15px;
	color:#777;
	font-size:13px;
	position:absolute;
	top:-17px;
	left:15px;
	}

#dashboard_right_now .table
	{
	margin:0 -9px;
	padding:0 10px;
	position:relative;
	}

#dashboard_right_now .table_content
	{
	float:left;
	border-top:#ececec 1px solid;
	width:45%;
	}

#dashboard_right_now .table_discussion
	{
	float:right;
	border-top:#ececec 1px solid;
	width:45%;
	}

#dashboard_right_now table td
	{
	padding:3px 0;
	white-space:nowrap;
	}

#dashboard_right_now table tr.first td
	{
	border-top:none;
	}

#dashboard_right_now td.b
	{
	padding-right:6px;
	text-align:right;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:14px;
	width:1%;
	}

#dashboard_right_now td.b a
	{
	font-size:18px;
	}


