* {padding:0; margin:0}


body{color:#333;margin:0px;padding:0px;font-size:14px;font-family: "Arial" "Calibry"  "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;}


#container{width:876px;margin:0 auto}


#footer{clear:both;background-color:#fff;background-image:url('../art/footer/footer_background.jpg');background-repeat:no-repeat;width:875px;height:154px;color:#fff;font-size:8px}
#footer #company_info,#footer #company_contact{padding:5px 10px}

#search{margin-left:180px;margin-top:5px;padding:2px 20px;color:#990000;font-style: italic; font-size:12px}
#search input{border:1px solid #ccc;width:400px}

a,span.link{text-decoration:none;cursor:pointer}
a:hover,span.link{text-decoration:underline}

.strong{font-weight:800}

input {border:1px solid #ccc}
input.radio{border:none}
img{border:none}
p{margin-bottom:7px}

span.button{border:1px solid #ccc;padding:2px 4px;cursor:pointer}
span.enabled{border:1px solid #aaa;}


table.families{border-top:solid 1px #ccc;border-collapse: collapse;}
table.families a{color:black}
table.families tr{border-bottom:solid 1px #ccc;}
table.families td {vertical-align:top;padding:0 20px}
table.families td .family_image{height:50px}