.dropdown {float:left; padding-right:1px;font-size:10px}
.dropdown dt {color:#fff;border:2px solid #990000;; padding:1px 6px; ; cursor:pointer; background:#cc3232 url(images/header.gif)}
.dropdown dt:hover {}
.dropdown dd {position:absolute; overflow:hidden; ; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul { border:2px solid #990000; list-style:none; border-top:none;background-color:#cc3232;color:#fff}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:1px 5px; color:#fff; text-decoration:none; background:#cc3232;}
.dropdown a:hover {background:#d9e1e4; color:#000}
.dropdown .underline {border-bottom:1px solid #b9d6dc}

ul.menu {list-style:none; margin:0; padding:0;font:11px Verdana,Arial; background:#eee;color:#fff}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:23px; left:0; background:#cc3232; display:none; opacity:0; list-style:none; width:188px;}
ul.menu ul li {position:relative; border:1px solid #990000; border-top:none; width:188px; margin:0}
ul.menu ul li a {display:block; padding:1px 7px 2px; background:#cc3232;color:#fff}
ul.menu ul li a:hover {background:#dc4242}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {color:#fff;border:1px solid #990000; padding:2px 7px 4px;  background:url(images/header.gif); width:84px;background:#cc3232}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(images/header_over.gif);background:#cc3232}
ul.menu .sub {background:#d1d1d1 url(images/arrow.gif) 106px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}