#header #top_menu{font-size:80%;margin-right:10px;text-align:right;color:#000}
#top_menu,#top_menu a{color:#990000}

#header{padding:0;margin:0}
#header_family{float:left;width:155px;border:0px solid #fff}
#header_title{float:left;margin-left:5px;width:550px;color:#7d0101;text-align:left}
#header_title h1{padding:10px 20px 0px; 0px;font-weight:800;font-size:28px;font-style: italic;font-family:"Palatino Linotype","Book Antiqua","New York"}
#header_title h2{padding:0px 20px 10px; 0px;font-weight:100;font-size:14px;font-style: italic;font-family:"Palatino Linotype","Book Antiqua","New York"}
#header_family div{;margin-left:15px}

#category{color:#000;font-size:14px;font-style: italic; ;font-weight:800;;font-family:"Palatino Linotype"}
#slogan{font-size:9px;color:#7d0101;position:relative;top:-2px}


#header_info{float:left;width:156px;color:#fff;font-size:10px;text-align:right;padding-right:10px:}

#header_info a{color:#fff}

#top_content{padding-top:4px}
#page_content{min-height:400px;}
#found_in,#see_also{background-position:bottom;background-repeat:no-repeat;padding-top:1px;padding-bottom:10px}
#found_in{margin-left:0px;font-size:10px;width:160px;float:left;font-style:italic}

#register_banner a{color:#fff}
#register_banner{color:#fff;background:#990000;background-image:url('../art/family_register_banner.png');font-size:14px;;margin:10px auto;width:760px;height:200px;padding:0px;}
#register_banner h1{font-size:140%;margin-bottom:10px}


.no_products_for_sale {padding:20px;margin:50px 20px 200px 20px;border:1px solid #ccc;text-align:center;}
