#header{background-color:#f99013;background-image:url('../art/header/header_home.jpg');background-repeat:no-repeat;height:140px;border-bottom:2px solid black;background-position:bottom left;}

#header_home{float:left;width:215px;border:0px solid #fff}
#header_title{float:left;margin-left:5px;width:645px;color:#7d0101;}
#header_title h1,#header_title h2{padding:0px;font-weight:800;font-size:16px;font-style: italic;font-family:"Palatino Linotype","Book Antiqua","New York"}
#header_title h2{font-size:95%}


#header_home div{;margin-left:15px;margin-top:125px}

#slogan{color:#000;margin-left:10px;margin-top:15px;font-size:14px;font-style: italic; ;font-weight:800;;font-family:"Palatino Linotype"}
#second_slogan{font-size:10px;color:#fff;}
#main_menu{margin-top:5px;margin-left:10px}
#header_login{float:right;width:156px;color:#7d0101;font-size:10px;text-align:right;padding-right:10px}

#header_info{margin-top:10px;clear:both;float:right;width:300px;color:#000;font-size:10px;text-align:right;padding-right:10px}

#page_content{background-image:url('../art/left_nav.png') ;background-repeat:no-repeat;}


#left_menu{width:200px;color:#ccc;height:100%;padding-left:10px;padding-bottom:30px;float:left;height:100%;background-position:bottom}

#left_menu div{padding:10px;font-size:10px;}
#left_menu a{color:#fff;text-decoration:none}
#left_menu a:hover{text-decoration:underline}
#left_menu ul{margin-left:12px}


#right_menu {width:130px;float:right;font-size:10px;}

#register{margin:2px;margin-top:50px;padding:5px;border:2px solid #990000;background:#cc3232;color:#fff;}
#register a{color:#fff;background:#990000}
#register a:hover{text-decoration:none}
#central_content{width:530px;float:left;}
#central_content div{margin-left:0px;}
.banner{width:100%;;text-align:center;}
.banner img{margin:15px 0px}

.dropup {float:left; padding-right:1px;font-size:10px}
.dropup dt {color:#fff;border:2px solid #990000;; padding:2px 6px; ; cursor:pointer; background:#cc3232 url(images/header.gif)}
.dropup dt:hover {}
.dropup dd {position:absolute; overflow:hidden; ; display:none; background:#fff; z-index:200; opacity:0}
.dropup ul { border:2px solid #990000; list-style:none; border-top:none;background-color:#cc3232;color:#fff}
.dropup li {display:inline}
.dropup a, .dropup a:active, .dropup a:visited {display:block; padding:5px; color:#fff; text-decoration:none; background:#cc3232;}
.dropup a:hover {background:#d9e1e4; color:#000}
.dropup .underline {border-bottom:1px solid #b9d6dc}