.block{padding:20px}

.color_block{border: 3px solid #990000;background:#cc3232;color:#fff;padding:0;margin:10px}
.color_block h3{background:#990000;text-align:center;color:#fff}
.color_block div,.color_block table{padding:10px}
.color_block table td{padding:0 5px}
.violet{background:#d9cde3;border-color:#aa7ccd;color:#000}.violet h3{background:#aa7ccd;color:#fff}
.mark td{font-weight:800}
.gold{background:#f6f6bd;border-color:#bdbb2a;color:#000}.gold h3{background:#bdbb2a;color:#000}
.mostaza{background:#f6c870;border-color:#f99013;color:#000}.mostaza h3{background:#f99013;color:#000}.mostaza a{color:#382e1c}