.order_edit{border:1px solid #ccc;text-align:left;padding:10px;margin: 0px 0 0px 0}
.order_edit_block {float:left;width:220px}
.order_edit_block h2{font-size:15px;padding:5px 0px}
.order_edit_block .options{display:block;margin-top:10px}

.order_edit_block .address ,.order_edit_block .payment {border:1px solid #ccc;padding:0 10px 10px 10px}