
#confirm_password_tr{display:none}
.continue {margin-top:10px}
.continue span{;margin-left:250px;}

.error{color:red}
input.error{border-color:red}

code {
	background-color:#e0e0e0;
	border:thin solid #c0c0c0;
	white-space:pre;
	font-size:10px;
}

.dp-highlighter th, .dp-highlighter td {
	border:0;
	padding:0;
}
.dp-highlighter .line1, .dp-highlighter  .line2 {
	padding-left:10px;
	white-space:nowrap;
}
