.thumbnails{margin-top:10px;}

.thumbnails .product_container{text-align:botton;margin:15px;height:150px;width:155px;float:left;margin-bottom:15px;padding:bottom:10px;xborder:1px solid red;margin-bottom:10px}
.thumbnails img{max-height:100px;max-width: 170px;}
.thumbnails td.image{height:120px;vertical-align:middle;text-align:center}
.thumbnails td.description{font-size:10px;height:60px;text-align:center;vertical-align:bottom}
.thumbnails td.order{text-align:center}
.thumbnails td.order input{font-size:12px;height:18px;width:46px;margin-right:5px}
button{background:#ddd;border:1px solid #888;padding:0px;margin-right:2px}
button.fast{width:20px}
button.order{width:42px;display:none}

.xthumbnails table{width:100%}

.xthumbnails td.image{height:120px;vertical-align:middle;text-align:center}

.xthumbnails .product_container{xborder:1px solid red;height:180px;float:left;}
.cthumbnails .product_container span{width:120px;background:green}


.sthumbnails span{display:block;width:100%;text-align:center;margin-bottom:5px;color:red}

.xthumbnails img{max-height:100px;max-width: 130px;align:center;margin-top:5px}
