.content-27 {
  padding: 10px 0;
  text-align: center;
}
.content-27 .container {
  border-collapse: initial;
}
.content-27 .container * + .row .colored-box {
  border-top: 10px solid transparent;
}
@media (max-width: 767px) {
  .content-27 .container * + .row .colored-box {
    border-top-width: 0;
  }
}
@media (max-width: 767px) {
  .content-27 .container .row .colored-box {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .content-27 .container .row .col-xs-12 + .col-xs-12,
  .content-27 .container .row .col-xs-12:nth-child(n+2) {
    margin-top: 10px;
  }
  .content-27 .container .row + .row {
    margin-top: 10px;
  }
}
