.content-12 {
  padding: 0;
}
.content-12 .row {
  margin-left: 0;
  margin-right: 0;
}
.content-12 .row .col-md-4,
.content-12 .row .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.content-12 .row .col-xs-10 {
  padding: 50px 0;
}
