.content-13 {
  text-align: center;
}
@media (min-width: 992px) {
  .content-13 {
    text-align: inherit;
  }
}
.content-13 .container * + .row {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .content-13 .container * + .row {
    margin-top: 50px;
  }
}
@media (max-width: 991px) {
  .content-13 .container > .row > .col-xs-6 {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .content-13 .container > .row > .col-xs-12 + .col-xs-12 {
    margin-top: 30px;
  }
}
